@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdHero {
  position: relative;
  display: flex;
  width: 100svw;
  height: 50svh;
}

.fdDetails {
  position: relative;
  z-index: 3;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  height: inherit;
  padding: var(--fd-padding-generic) 0 calc(var(--fd-padding-generic) / 2) calc(var(--fd-padding-generic) / 1.5);
  @media (max-width: 1024px) {
    align-items: flex-end;
    padding: var(--fd-padding-generic) 0 calc(var(--fd-padding-generic)) calc(var(--fd-padding-generic) / 1.5);
  }
  &__article {
    display: table;
    & > * > * {
      width: fit-content;
    }
    &__footer {
      & a {
        & svg {
          width: f.rem(135);
        }
      }
    }
    &__header {
      & h2 {
        max-width: 29ch;
        white-space: nowrap;
        overflow: clip;
        text-overflow: ellipsis;
        @include m.fdFontXXL;
        text-shadow: var(--fd-font-shadow);
        text-transform: uppercase;
        @media (max-width: 1024px) {
          @include m.fdFontXL;
        }
      }
    }
    &__details {
      display: flex;
      flex-wrap: nowrap;
      gap: f.rem(12);
      padding-bottom: var(--fd-gap);
      @media (max-width: 1024px) {
        flex-direction: column;
        padding-top: var(--fd-gap);
      }
      &__release {
        display: flex;
        gap: f.rem(12);
        @media (max-width: 1024px) {
          display: none;
        }
        & div {
          display: flex;
        }
        & span {
          display: flex;
          align-items: center;
          &[data-status='green'] {
            color: #54c470;
            text-transform: uppercase;
            font-weight: 700;
          }
          & svg {
            width: 1.2em;
            height: 1.2em;
          }
        }
        @include m.fdFontM;
      }
      &__cta {
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.65ch;
          width: fit-content;
          @media (min-width: 1025px) {
            opacity: 0.4;
            transition: opacity ease-in-out 250ms;
            @include m.fdFontM;
            &:hover {
              opacity: 1;
            }
          }
          @media (max-width: 1024px) {
            padding: calc(var(--fd-padding-generic) / 12) calc(var(--fd-padding-generic) / 8);
            border-radius: calc(var(--fd-borderRadius) / 2);
            background-color: white;
            color: black;
            @include m.fdFontL;
          }
        }
      }
    }
    &__description {
      @media (max-width: 1024px) {
        display: none;
      }
      & p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: clip;
        max-width: 57ch;
        @include m.fdFontM;
        text-shadow: var(--fd-font-shadow);
      }
    }
  }
}
