@use '../sass/util/functions' as f;

// [data-theme='eco-dark-mode'] {
//   --bodyBackground: hsl(0, 0%, 20%);
//   --elemBackgroundPrimary: hsl(0, 0%, 20%);
//   --elemBackgroundSecondary: hsl(0, 0%, 100%);
//   --fontPrimary: hsl(0, 0%, 100%);
//   --fontSecondary: hsl(0, 0%, 20%);
//   --fontAccent: #fff;
//   // --textShadow: 2px 2px 5px hsl(225, 4%, 25%);
// }

[data-theme='eco-light-mode'] {
  --bodyBackground: hsl(0, 0%, 96%);
  --elemBackgroundPrimary: hsl(0, 0%, 100%);
  --elemBackgroundSecondary: hsl(0, 0%, 20%);
  --gradientMono: linear-gradient(145deg, hsl(0, 0%, 100%), hsl(0, 0%, 94%));
  --gradientColored: linear-gradient(145deg, hsl(11, 52%, 96%), hsl(0, 0%, 86%));
  --ecoBtnShadow: -2px -3px 1px hsla(0, 0%, 100%, 0.4), 2px 3px 4px hsl(0, 0%, 78%);
  --shadowRefined: -2px -3px 3px hsl(0, 0%, 100%), 2px 3px 3px hsl(0, 0%, 65%);
  --shadowSoft: 0.3rem 0.3rem 0.6rem hsl(223, 10%, 71%), -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
  --borderChunky: 0.13rem solid hsl(0, 0%, 94%);
  --fontPrimary: hsl(0, 0%, 20%);
  --fontSecondary: hsl(0, 0%, 100%);
  --fontAccent: #ff5900;
  --navigationLetterSpacing: 0.1rem;
  // --textShadow: 2px 2px 5px hsl(0, 0%, 100%);
}

.highlight {
  color: var(--fontAccent);
}
// @mixin gradientText {
//   color: transparent;
//   background-color:
//   background: linear-gradient(to right, hsl(39, 49%, 67%), hsl(39, 45%, 57%));
//   background-size: 200%;
//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

@mixin ecoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: f.rem(45);
  padding: f.rem(12) f.rem(12);
  border-radius: f.rem(6);
  cursor: pointer;
  font-size: f.rem(12);
  font-weight: 600;
  letter-spacing: f.rem(0.5);
  text-transform: uppercase;
  white-space: nowrap;
}
@mixin ecoBtnDark {
  background-color: var(--elemBackgroundSecondary);
  color: var(--fontSecondary);
}
@mixin ecoBtnLight {
  background-color: var(--elemBackgroundPrimary);
  color: var(--fontPrimary);

  // box-shadow: inset 0.1rem 0.1rem 0.3rem hsl(226, 9%, 71%), inset 0.2rem 0.2rem 0.5rem hsl(225, 39%, 85%), inset -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%); //activebtn

  //   //SHADOWS
  // box-shadow: -2px -3px 3px 1px hsl(206, 5%, 27%), 2px 3px 3px 1px hsl(225, 5%, 16%);
  // box-shadow: inset 0.1rem 0.1rem 0.3rem hsl(226, 9%, 71%), inset 0.2rem 0.2rem 0.5rem hsl(225, 39%, 85%), inset -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
  //   box-shadow: -2px -3px 1px hsl(180, 5%, 30%), 2px 3px 4px hsl(216, 4%, 20%);
  //   box-shadow: 0.3rem 0.3rem 0.6rem hsl(0, 0%, 15%), -0.2rem -0.2rem 0.5rem hsl(0, 0%, 20%);
}

@mixin productPhoto {
  background: hsl(0, 0%, 95%);
  background-image: -webkit-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: -moz-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: -o-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
}
@mixin productPhotoHover {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-top-left-radius: f.rem(16);
    border-top-right-radius: f.rem(16);
    opacity: 0;
    background: hsl(0, 0%, 95%);
    background-image: -webkit-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: -moz-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: -o-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    transition: opacity 0.55s;
  }
  &:hover::before {
    opacity: 1;
  }
  &:hover {
    transform: scale(1.2);
  }
}
@mixin photoFilters {
  filter: contrast(103%) drop-shadow(0.25rem 0.2rem 1rem hsl(0, 0%, 97%));
}

// @mixin formField {
//   background-color: hsl(197, 100%, 99%);
//   box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
// }
