@use '../../util/functions' as u;
@use '../../styles/mixins' as i;

@keyframes CarouselSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin: u.rem(50) 0;
  &__track {
    display: flex;
    gap: u.rem(20);
    width: 100%;
    height: 100%;
    padding: u.rem(0) u.rem(20);
    scroll-padding: 1.5rem;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    animation: 22s CarouselSlide infinite linear;
    &:hover {
      animation-play-state: paused;
    }
    &__slide {
      flex: 0 0 u.rem(520);
      aspect-ratio: 4/5;
      &:nth-of-type(1) {
        flex: 0 0 u.rem(1154);
        aspect-ratio: 16/9; //1152×648
      }
      & picture {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        & img {
          position: absolute;
          width: inherit;
          height: inherit;
          top: 0;
          left: 0;
          border-radius: u.rem(40);
          object-fit: cover;
          @include i.photoFilters;
          &:hover {
            @include i.productPhotoHover;
          }
        }
      }
    }
  }
  &__navigation {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &--button {
      position: absolute;
      display: inline-flex;
      top: 45%;
      opacity: 0;
      cursor: pointer;
      pointer-events: auto;
      transition-timing-function: linear;
      transition-duration: 0.45s;
      transition-property: opacity;
      &:nth-of-type(1) {
        left: 2.8%;
      }
      &:nth-of-type(2) {
        right: 2.8%;
      }
      & i {
        opacity: 0.6;
        color: white;
        font-size: u.rem(56);
      }
    }
  }
}
.carousel__track:hover + .carousel__navigation button,
.carousel__navigation button:hover {
  opacity: 1;
}
