@use '../../util/functions' as u;
@use '../../styles/mixins' as i;

.sideBySide {
  position: relative;
  width: 100%;
  height: calc(100% + u.rem(32));
  padding: u.rem(50) u.rem(50) u.rem(115) u.rem(50);
  &:after {
    content: '';
    position: absolute;
    bottom: u.rem(-32);
    left: 0;
    width: 100%;
    height: u.rem(32);
    z-index: 10;
    border-bottom-right-radius: u.rem(64);
    border-bottom-left-radius: u.rem(64);
    background-color: hsl(0, 0%, 96%);
  }
  &__information,
  &__video {
    width: 50%;
  }
  &__information {
    align-items: start;
    padding: 0 u.rem(65);
    h4,
    h2,
    p {
      color: var(--textPrimary);
    }
    & h4 {
      font-size: u.rem(22);
      font-weight: 600;
      margin-bottom: u.rem(10);
    }
    & h2 {
      width: 25ch;
      font-style: italic;
      font-size: u.rem(40);
      line-height: 115%;
      font-weight: 800;
      margin-bottom: u.rem(15);
    }
    & p {
      width: 40ch;
      font-weight: 500;
      margin-bottom: u.rem(15);
    }
  }
  &__video {
    & video {
      aspect-ratio: 4/5;
      height: 90vh;
      border-radius: u.rem(40);
      pointer-events: unset;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
