@use '/src/sass/functions' as f;
@use '/src/portfolio/scss/portfolioStyles' as s;

@keyframes PortFooterOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  66% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}

@keyframes PortFooterIn {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.carouselNav {
  display: flex;
  height: 12svh;
  padding: 0 calc(s.$box-model-viewport-x * 2) 0 s.$box-model-viewport-x;
  @media (width <= 1480px) {
    padding: 0 s.$box-model-viewport-x;
  }
  @media (width <= 1000px) {
    padding: calc(s.$box-model-viewport-x / 2) s.$box-model-viewport-x;
  }
  &__section {
    flex: 0 0 50%;
    height: inherit;
    &__left,
    &__right {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: s.$portfolio-gap;
      height: inherit;
      & > * {
        &[data-status='fadeOut'] {
          animation: PortFooterOut 1s forwards;
        }
        &[data-status='fadeIn'] {
          animation: PortFooterIn 1s forwards;
        }
      }
      & h2,
      & nav button,
      & nav a {
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
    &__left {
      & h2 {
        display: none;
        &[data-status='visible'] {
          display: block;
        }
      }
      &__projectNav ul {
        position: relative;
        &:after {
          content: url(https://api.iconify.design/solar:alt-arrow-up-bold.svg?color=%23ffffff);
          position: absolute;
          left: f.rem(2.5);
          top: f.rem(24);
          display: block;
          transform: translateX(var(--afterPsuedoSelector));
          transition: transform 0.35s ease;
        }
        & li button {
          font-size: 1rem;
          filter: brightness(60%);
          transition: filter 360ms ease-in-out;
          &.projectNavButtonActive {
            filter: brightness(100%);
          }
        }
      }
    }
    &__right {
      justify-content: flex-end;
      &__animator {
        display: flex;
        flex-direction: column;
        gap: calc(s.$portfolio-gap / 6);
        &--line {
          width: 22px;
          height: 2px;
          background-color: s.$font-color-primary;
          transition: transform 0.7s cubic-bezier(0.7, 0, 0, 1);
          &:nth-of-type(1) {
            &[data-status='active'] {
              transform: rotate(45deg) translate(0px, 8px);
            }
          }
          &:nth-of-type(2) {
            &[data-status='active'] {
              transform: translate(min(0, -500px));
            }
          }
          &:nth-of-type(3) {
            &[data-status='active'] {
              transform: rotate(-45deg) translate(0px, -8px);
            }
          }
        }
      }
    }
  }
}

.carouselNav__section__left__projectNav ul,
.carouselNav__section__right__nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: calc(s.$portfolio-gap / 2);
}

.carouselNavHeaderRight {
  clip-path: polygon(97% 0, 100% 0, 100% 100%, 97% 100%);
  transition: clip-path 0.5s cubic-bezier(0.7, 0, 0, 1);
  &[data-status='hovered'] {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.7s cubic-bezier(0.7, 0, 0, 1);
  }
}
