@use '../../scss/filmDatabaseStyles' as s;
@use '../../../sass/functions' as f;

.FDVideoPlayer {
  position: relative;
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.9);
  overflow: hidden;
  transition: ease-in-out 0.22s all;
  &[data-status='true'] {
  }
  & > * {
    flex: 1 1 auto;
  }
  &--h2 {
    display: none;
  }
  &__panel {
    position: relative;
    z-index: 3;
  }
  &__player {
    position: relative;
    height: 100%;
    aspect-ratio: 16/9;
    & > * {
      width: inherit;
      height: inherit;
      aspect-ratio: inherit;
    }
    &--h2 {
      display: none;
    }
    &__wrapper {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: grid;
      place-items: center;
      &--iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        aspect-ratio: inherit;
        background-color: hsl(0, 0%, 0%);
        // As per YouTube Player API Recommendations: minimum 480 pixels wide and 270 pixels tall.
        min-width: 480px;
        min-height: 270px;
        aspect-ratio: 16/9;
      }
    }
  }
}
