@use '../../scss/filmDatabaseStyles' as s;
@use '../../../sass/functions' as f;

.FDVideoPlayer {
  position: relative;
  overflow: hidden;
  transition: ease-in-out 0.22s all;
  &[data-status='true'] {
  }
  &--h2 {
    display: none;
  }
  &__panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  &__player {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    aspect-ratio: 16/9;
    background-color: hsla(0, 0%, 0%, 0.9);
    & > * {
      width: inherit;
      height: inherit;
      aspect-ratio: inherit;
    }
    &--h2 {
      display: none;
    }
    &__wrapper {
      display: grid;
      place-items: center;
      & > * {
        width: inherit;
        height: inherit;
        aspect-ratio: inherit;
      }
      &--iframe {
        background-color: hsl(0, 0%, 0%);
        // As per YouTube Player API Recommendations: minimum 480 pixels wide and 270 pixels tall.
        min-width: 480px;
        min-height: 270px;
        aspect-ratio: 16/9;
      }
    }
  }
}
