@use '../../../util/functions' as u;
@use '../../../styles/mixins' as i;

.navkit {
  position: relative;
  width: 100%;
  max-width: u.rem(1584);
  height: 16vh;
  z-index: 10;
  top: 0;
  &__logo {
    width: 20%;
    color: rgb(50, 50, 50);
    font-weight: 700;
    font-size: u.rem(18);
    text-transform: capitalize;
  }
  &__collections {
    width: 80%;
    &__links {
      width: 75%;
      gap: u.rem(25);
      height: inherit;
      & a {
        padding-bottom: u.rem(5);
        color: hsl(0, 0%, 20%);
        font-size: clamp(u.rem(18), u.rem(12) + 0.5vw, u.rem(18));
        font-weight: 500;
        transition: 0.45ms;
        transition-delay: 0.45ms;
        &.active {
          border-bottom: 2.5px solid var(--highlight);
          border-radius: u.rem(3);
        }
      }
    }
  }
  &__cta {
    width: 25%;
    padding-left: u.rem(75);
    gap: u.rem(16);
    &--btn {
      height: u.rem(42);
      @include i.ecommerceBtn;
      &:nth-of-type(1) {
        color: hsl(0, 0%, 0%);
        background-color: transparent;
      }
      & h4 {
        font-size: u.rem(12);
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
.fa-microphone-lines {
  padding-right: u.rem(15);
  font-size: u.rem(17);
}
.fa-gear,
.fa-cart-shopping {
  padding-right: u.rem(6);
  font-size: u.rem(14);
}
.absoluteTransparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  & .navkit__logo a {
    color: white;
  }
  & .navkit__collections__links a {
    color: white;
  }
  & .navkit__collections__cta button {
    color: white;
    border: 1px solid hsl(0, 0%, 94%);
    &:nth-of-type(2) {
      color: black;
      background-color: hsl(0, 0%, 94%);
    }
  }
}
