@use '../../../util/functions' as u;
@use '../../../styles/mixins' as i;

.eFooter {
  width: 100%;
  height: 65vh;
  max-width: u.rem(1800);
  margin: 0 auto;
}
.newsletter {
  flex: 2 1 50%;
  & h2 {
    font-style: italic;
    font-size: u.rem(40);
    line-height: 115%;
    font-weight: 800;
    margin-bottom: u.rem(15);
  }
  &__input {
    display: grid;
    justify-content: center;
    &__field {
      padding: u.rem(0) u.rem(13);
      border: 1px solid hsl(0, 0%, 20%);
      border-radius: u.rem(5);
      background-color: #fff;
      line-height: u.rem(40);
      cursor: text;
    }
  }
  &__submit {
    @include i.ecommerceBtn;
    padding: u.rem(13) u.rem(16);
    margin-left: u.rem(-10);
    & h6 {
      text-transform: lowercase;
    }
  }
  &__demoDisclaimer {
    max-width: 45ch;
    padding-top: u.rem(50);
    text-align: center;
    pointer-events: none;
    & h5 {
      max-width: 45ch;
      & mark {
        padding: u.rem(3) u.rem(10);
        border-radius: u.rem(5);
      }
    }
  }
}
.navFooterKit {
  flex: 0 1 50%;
  max-width: u.rem(1600);
  height: fit-content;
  padding: u.rem(50) 0;
  & div {
    width: 50%;
    & ul {
      margin-bottom: u.rem(20);
      & li {
        padding-bottom: u.rem(8);
        & h2 {
          font-size: u.rem(32);
          line-height: 100%;
          font-weight: 700;
        }
        & a {
          font-size: u.rem(18);
          line-height: 100%;
          font-weight: 500;
        }
      }
    }
  }
}
