@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdDetails {
  position: relative;
  z-index: 3;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  height: inherit;
  padding: var(--fd-padding-generic) 0 calc(var(--fd-padding-generic) / 2) calc(var(--fd-padding-generic) / 1.5);
  &--close {
    position: absolute;
    z-index: 13;
    top: calc(var(--fd-padding-generic) / 1.5);
    right: calc(var(--fd-padding-generic) / 1.5);
    & svg {
      width: 1.6em;
      aspect-ratio: 1/1;
    }
  }
  & header {
    display: flex;
    align-items: center;
    gap: var(--fd-gap);
    & h2 {
      max-width: 28ch;
      white-space: nowrap;
      overflow: clip;
      text-overflow: ellipsis;
      @include m.fdFontXXL;
      text-transform: uppercase;
      text-shadow: var(--fd-font-shadow);
    }
    & button svg {
      width: 1.6em;
      aspect-ratio: 1/1;
    }
  }
  & footer {
    display: flex;
    gap: var(--fd-gap);
    padding-bottom: var(--fd-gap);
    & a {
      display: block;
      width: calc(2.25rem * 3.5); // 3.5x header font-size
    }
  }
  & p {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: clip;
    max-width: 57ch;
    @include m.fdFontM;
    text-shadow: var(--fd-font-shadow);
  }
  &__col {
    display: flex;
    &:nth-of-type(1) {
      gap: var(--fd-gap);
    }
    &:nth-of-type(2) {
      gap: 6px;
      padding: calc(var(--fd-gap) / 2) 0 var(--fd-gap) 0;
      @include m.fdFontS;
      letter-spacing: 0.03em;
    }
    & li {
      display: flex;
      text-transform: capitalize;
    }
  }
  &__providers {
    display: flex;
    flex-direction: column;
    gap: var(--fd-gap);
    padding: var(--fd-gap) 0 calc(var(--fd-gap) * 2) 0;
    &__provider {
      flex-direction: column;
      gap: var(--fd-gap);
      & div {
        @include m.fdFontM;
        font-weight: 500;
        line-height: 225%;
      }
      & ul {
        display: flex;
        gap: var(--fd-gap);
        & li picture img {
          max-width: 60px;
          border-radius: var(--fd-border-radius);
          box-shadow: 0px 10px 11px -3px rgb(11 11 11);
        }
      }
    }
  }
}

.voteAvgVisual {
  display: flex;
  gap: calc(var(--fd-gap) / 12);
  &__star {
    width: 1.25em;
    & svg {
      width: inherit;
      aspect-ratio: 1;
    }
  }
}

.formattedReleaseDate {
  text-transform: capitalize;
  &[data-status='green'] {
    color: #54c470;
    text-transform: uppercase;
    font-weight: 700;
  }
}
