@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdMovieModal {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  .fdiFrame {
    position: relative;
    display: inline;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: clip;
    &__controller {
      position: absolute;
      bottom: 5.5%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__player {
      position: relative;
      width: inherit;
      height: auto;
      aspect-ratio: 16/9;
      transform: scale(1);
      &::before,
      &::after {
        display: none;
      }
      &__iframe {
        top: 0;
      }
    }
  }
  .fdDetails {
    height: auto;
    padding: calc(var(--fd-padding-generic) - var(--fd-gap) * 2) calc(var(--fd-padding-generic) / 1.5) calc(var(--fd-padding-generic) / 2 - var(--fd-gap) * 2)
      calc(var(--fd-padding-generic) / 1.5);
    &__article {
      width: 100%;
      padding-bottom: calc(var(--fd-gap) * 2);
      border-bottom: 1px solid #4d4545;
    }
  }
  &__castCrew {
    .fdCarousel .fdCarousel__wrapper {
      &__ul__li {
        --fd-carousel-node-width: calc(
          (50svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
        );
        --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
        :hover {
          cursor: auto;
        }
      }
      &__navigation {
        width: 50svw;
      }
    }
  }
}
