@use '../../../ecommerceStyles' as m;
@use '../../../../sass/util/functions' as f;

.skuPage {
  position: relative;
  padding: 0 10.335% f.rem(50) 10.335%;
  margin-bottom: f.rem(104);
  @media (width <= 1530px) {
    flex-wrap: wrap;
  }
  &__grid {
    position: relative;
    display: flex;
    width: 100%;
    max-width: f.rem(1600);
    height: 65vh;
    border-radius: f.rem(28);
    margin: f.rem(0) 0 f.rem(50) 0;
    @include m.productPhoto;
    box-shadow: var(--shadowSoft);
    @media (width <= 1530px) {
      max-height: fit-content;
    }
    @media (width <= 1530px) {
      flex-wrap: wrap;
    }
    @media (width <= 1050px) {
      flex-direction: column;
    }
    &__display {
      width: calc(100% - 38%);
      border-radius: f.rem(18);
      @media (width <= 1050px) {
        width: 100%;
        border-top-right-radius: f.rem(18);
      }
    }
    &__details {
      width: 38%;
      padding: f.rem(25) 0;
      border-radius: f.rem(18);
      background-color: var(--elemBackgroundSecondary);
      color: var(--fontSecondary);
      @media (width <= 1050px) {
        width: 100%;
      }
    }
    &__imgSelection {
      width: 20%;
      border-top-left-radius: f.rem(18);
      border-bottom-left-radius: f.rem(18);
      @media (width <= 1050px) {
        width: 100%;
        border-bottom-left-radius: f.rem(18);
      }
    }
  }
}

.skuPage__grid__display {
  position: relative;
  & picture {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 14% 0;
    border-radius: f.rem(18);
    @include m.productPhoto;
    background: transparent;
    overflow: hidden;
    & img {
      object-fit: scale-down;
      mix-blend-mode: darken;
      transform: scale(105%);
    }
  }
  &__nav {
    position: absolute;
    bottom: 5%;
    left: 0;
    display: flex;
    width: 100%;
    height: f.rem(30);
    & button {
      @include m.ecoBtn;
      width: 50%;
      height: 100%;
      padding: 0 5%;
      font-size: clamp(f.rem(12), f.rem(14) + 0.5vw, f.rem(14));
      font-weight: 600;
      letter-spacing: 0.03125rem;
      text-transform: capitalize;
      color: var(--fontSecondaryOffset);
      &:hover {
        color: var(--fontPrimary);
      }
      & span {
        display: flex;
        align-items: center;
        height: 100%;
        & span {
          margin-bottom: f.rem(2);
        }
        & svg {
          height: f.rem(30);
        }
      }
      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  &__heading {
    position: absolute;
    top: 5%;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    font-size: clamp(f.rem(16), f.rem(16) + 1vw, f.rem(22));
    font-weight: 700;
    white-space: wrap;
    letter-spacing: f.rem(0.6);
    text-transform: lowercase;
    cursor: default;
    @media (width <= 1100px) {
      font-size: clamp(f.rem(16), f.rem(14) + 1vw, f.rem(20));
    }
  }
}

.skuPage__grid__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  &__block {
    width: 80%;
    padding: f.rem(25) 0;
    overflow: hidden;
    & hgroup {
      & h1 {
        display: none;
      }
      & h2 {
        font-size: clamp(f.rem(12), f.rem(14) + 1vw, f.rem(18));
        font-weight: 600;
      }
      & h3 {
        font-size: clamp(f.rem(18), f.rem(28) + 1vw, f.rem(34));
        font-weight: 700;
      }
    }
    & p {
      margin: f.rem(5) 0 f.rem(25) 0;
    }
    & button {
      @include m.ecoBtn;
      @include m.ecoBtnLight;
      gap: f.rem(5);
      width: 100%;
      font-size: clamp(f.rem(14), f.rem(10) + 1vw, f.rem(16));
    }
  }
}

.skuPage__grid__imgSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  @media (width <= 1530px) {
    flex-direction: row;
    width: 100%;
  }
  &:hover + &__nav {
    opacity: 0;
  }
  &__images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    padding: 0 f.rem(10);
    overflow: auto;
    scrollbar-width: none;
    @media (width <= 1530px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: f.rem(25);
      padding: 0;
      margin: f.rem(50) f.rem(10);
    }
    & picture {
      cursor: pointer;
      @media (width <= 1530px) {
        max-height: f.rem(200);
        flex: 1 0 calc(25% - f.rem(25));
        padding: 0;
      }
      @media (width <= 850px) {
        flex: 1 0 calc(50% - f.rem(50));
      }
      @media (width <= 480px) {
        flex: 1 0 calc(100%);
      }
      & img {
        max-height: calc(65vh / 4.5);
        object-fit: scale-down;
        mix-blend-mode: darken;
      }
    }
  }
}
