@use '../../../ecommerceStyles' as m;
@use '../../../../sass/util/functions' as f;

.skuPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6%;
  &__grid {
    position: relative;
    display: flex;
    width: 100%;
    max-width: f.rem(1600);
    max-height: 65vh;
    border-radius: f.rem(28);
    margin: f.rem(0) 0 f.rem(50) 0;
    background-color: var(--elemBackgroundPrimary);
    box-shadow: var(--shadowRefined);
    &__display {
      width: calc(100% / 2);
      border-top-left-radius: f.rem(24);
      border-bottom-left-radius: f.rem(24);
      background-color: var(--elemBackgroundPrimary);
    }
    &__details {
      width: calc(100% / 2);
      border-radius: f.rem(24);
      background-color: var(--elemBackgroundSecondary);
      color: var(--fontSecondary);
    }
    &__imgSelection {
      width: 20%;
      border-top-right-radius: f.rem(24);
      border-bottom-right-radius: f.rem(24);
      background-color: var(--elemBackgroundPrimary);
    }
  }
}

.skuPage__grid__display {
  position: relative;
  & picture {
    padding: 15% 0;
    border-radius: f.rem(32);
    & img {
      padding: f.rem(10) f.rem(15) f.rem(0) f.rem(15);
      object-fit: scale-down;
      mix-blend-mode: darken;
    }
  }
  &__nav {
    position: absolute;
    bottom: 5%;
    left: 0;
    display: flex;
    width: 100%;
    & button {
      @include m.ecoBtn;
      width: 50%;
      padding: 0 5%;
      font-size: clamp(f.rem(12), f.rem(14) + 0.5vw, f.rem(14));
      font-weight: 600;
      letter-spacing: 0.03125rem;
      text-transform: capitalize;
      color: var(--fontSecondaryOffset);
      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
  }
  &__heading {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    @include m.ecoBtn;
    padding: 0;
    font-size: clamp(f.rem(12), f.rem(14) + 1vw, f.rem(20));
    font-weight: 600;
    letter-spacing: f.rem(1);
    cursor: default;
  }
}

.skuPage__grid__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  & hgroup {
    width: 80%;
    & h1 {
      display: none;
    }
    & h2 {
      font-size: clamp(f.rem(12), f.rem(14) + 1vw, f.rem(18));
      font-weight: 600;
    }
    & h3 {
      font-size: clamp(f.rem(14), f.rem(24) + 1vw, f.rem(34));
      font-weight: 700;
    }
  }
  & p {
    margin: f.rem(5) 0 f.rem(25) 0;
    max-width: 80%;
    font-size: clamp(f.rem(14), f.rem(12) + 0.5vw, f.rem(18));
    font-weight: 400;
    line-height: 1.4rem;
  }
  & button {
    @include m.ecoBtn;
    @include m.ecoBtnLight;
    gap: f.rem(5);
    width: 80%;
    font-size: clamp(f.rem(12), f.rem(6) + 1vw, f.rem(14));
    font-weight: 500;
  }
}

.skuPage__grid__imgSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  &:hover + &__nav {
    opacity: 0;
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    z-index: 5;
    background-color: var(--elemBackgroundPrimary);
    color: var(--fontPrimary);
    opacity: 1;
  }
  &__images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 90%;
    padding: 5% f.rem(10);
    overflow: auto;
    scrollbar-width: none;
    & picture {
      padding: 2.5%;
      background-color: var(--elemBackgroundPrimary);
      cursor: pointer;
      & img {
        border-radius: f.rem(24);
        object-fit: scale-down;
        mix-blend-mode: darken;
      }
    }
  }
}
