@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

:root {
  --accountBackgroundLIAnimCalc: ((25svh - var(--fd-gap)) / 2);
}

.fdAccountBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: var(--fd-gap);
    width: 100%;
    height: 100%;
    transform-origin: center center;
    will-change: scale;
    /* Scale animation */
    &[data-anim='false'] {
      transform: scale(1.2);
    }
    &[data-anim='mount'] {
      transition: transform 2.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.35s;
      transform: scale(3.5);
    }
    &__set {
      flex: 0 0 calc((100% - 4 * var(--fd-gap)) / 5);
      position: relative;
      pointer-events: none;
      /* Staggered animation for odd list items */
      &:nth-of-type(odd) {
        .fdAccountBackground__backdrop__set__li[data-anim='false'] {
          transform: translateY(100svh);
        }
        .fdAccountBackground__backdrop__set__li:nth-of-type(1)[data-anim='mount'] {
          transition: transform 1.5s ease 1.15s;
          transform: translateY(calc(75svh - var(--accountBackgroundLIAnimCalc)));
        }
        .fdAccountBackground__backdrop__set__li:nth-of-type(2)[data-anim='mount'] {
          transition: transform 1.5s ease 0.9s;
          transform: translateY(calc(50svh - var(--accountBackgroundLIAnimCalc)));
        }
        .fdAccountBackground__backdrop__set__li:nth-of-type(3)[data-anim='mount'] {
          transition: transform 1.5s ease 0.65s;
          transform: translateY(calc(25svh - var(--accountBackgroundLIAnimCalc)));
        }
        .fdAccountBackground__backdrop__set__li:nth-of-type(4)[data-anim='mount'] {
          transition: transform 1.5s ease 0s;
          transform: translateY(calc(0svh - var(--accountBackgroundLIAnimCalc)));
        }
      }
      /* Staggered animation for even list items */
      &:nth-of-type(even) {
        .fdAccountBackground__backdrop__set__li[data-anim='false'] {
          transform: translateY(-100svh);
        }
        .fdAccountBackground__backdrop__set__li:nth-of-type(1)[data-anim='mount'] {
          transition: transform 1.5s ease 1.15s;
          transform: translateY(calc(0svh + var(--accountBackgroundLIAnimCalc)));
        }
        .fdAccountBackground__backdrop__set__li:nth-of-type(2)[data-anim='mount'] {
          transition: transform 1.5s ease 0.9s;
          transform: translateY(calc(25svh + var(--accountBackgroundLIAnimCalc)));
        }
        .fdAccountBackground__backdrop__set__li:nth-of-type(3)[data-anim='mount'] {
          transition: transform 1.5s ease 0.65s;
          transform: translateY(calc(50svh + var(--accountBackgroundLIAnimCalc)));
        }
        .fdAccountBackground__backdrop__set__li:nth-of-type(4)[data-anim='mount'] {
          transition: transform 1.5s ease 0s;
          transform: translateY(calc(75svh + var(--accountBackgroundLIAnimCalc)));
        }
      }
      /* Opacity for ul:3 li:2 */
      &:nth-of-type(3) .fdAccountBackground__backdrop__set__li:nth-of-type(2) {
        opacity: 0;
        // transition: opacity 1.5s ease 1.3s;
      }
      &__li {
        position: absolute;
        width: 100%;
        height: calc(25% - var(--fd-gap));
        border-radius: var(--fd-borderRadius);
        box-shadow: 7px 17px 22px 7px rgba(0, 0, 0, 0.25);
        overflow: clip;
        will-change: transform;
        &__article,
        &__article__graphic,
        &__article__graphic picture,
        &__article__graphic picture img {
          width: inherit;
          height: inherit;
        }
        & article {
          height: 100%;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            background: linear-gradient(226deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 35%),
              linear-gradient(135deg, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 60%),
              linear-gradient(45deg, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.2) 70%);
          }
          & figure picture img {
            image-rendering: crisp-edges;
          }
        }
      }
    }
  }
}
