@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdAccountHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  // Mimics fdAccountBackground blackbars (psuedo)
  height: calc(100svh / 16);
  overflow: clip;
  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--fd-gap) * 2);
    height: inherit;
    &__li {
      & button {
        @include m.fdFontM;
        text-wrap: nowrap;
        text-transform: capitalize;
        & svg {
          transform: translateY(4px);
        }
      }
    }
  }
}
