@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdAccountArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__cta,
  &__article {
    margin-bottom: 2.5%;
  }
  &__cta {
    position: fixed;
    width: 100%;
    height: 100%;
    &__registry,
    &__signin {
      position: absolute;
      top: 50%;
      padding: f.rem(4);
      & svg {
        width: 1.6em;
        height: 1.6em;
        color: white;
      }
    }
    &__registry {
      left: 25svw;
    }
    &__signin {
      right: 25svw;
    }
  }
  &__article {
    z-index: 9;
    display: grid;
    place-items: center;
    text-align: center;
    &--blockquote {
      @include m.fdFontM;
      font-weight: 700;
      text-shadow: var(--fd-font-shadow);
      text-transform: lowercase;
      text-wrap: nowrap;
      &--tmdb {
        color: #2ebbd0;
        font-weight: 900;
      }
    }
    &__hgroup {
      max-width: 68ch;
      &--h1 {
        @include m.fdFontXXL;
        text-shadow: var(--fd-font-shadow);
        text-transform: capitalize;
        text-wrap: nowrap;
        line-height: 1.2em;
      }
      &--h2 {
        @include m.fdFontM;
        text-shadow: var(--fd-font-shadow);
      }
    }
  }
}
