@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdAccountBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  gap: var(--fd-gap);
  width: 100%;
  height: 100%;
  padding: var(--fd-gap);
  pointer-events: none;
  transform: translate(0, 0) scale(1);
  transform-origin: center center;
  animation: viewportScale 1.6s ease 2.4s forwards;
  /* Psuedo background animation */
  &::after {
    content: '';
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    width: inherit;
    height: inherit;
    background-color: hsl(0, 0%, 8%);
    opacity: 0;
    animation: fadePsuedo 1.6s ease 2s forwards;
  }
  &__set {
    flex: 0 0 calc((100% - 4 * var(--fd-gap)) / 5);
    position: relative;
    /* Psuedo background animation */
    &:nth-of-type(3) .fdAccountBackground__set__li:nth-of-type(2) {
      z-index: 4;
    }
    /* Positioning for odd list items */
    &:nth-of-type(odd) .fdAccountBackground__set__li {
      top: 100svh;
    }
    /* Positioning for even list items */
    &:nth-of-type(even) .fdAccountBackground__set__li {
      top: calc(100svh * -1);
    }
    /* Staggered animation for odd list items */
    &:nth-of-type(odd) .fdAccountBackground__set__li:nth-of-type(1) {
      animation: oddLiOne 2s ease 1.8s forwards;
    }
    &:nth-of-type(odd) .fdAccountBackground__set__li:nth-of-type(2) {
      animation: oddLiTwo 2s ease 1.4s forwards;
    }
    &:nth-of-type(odd) .fdAccountBackground__set__li:nth-of-type(3) {
      animation: oddLiThree 2s ease 1s forwards;
    }
    &:nth-of-type(odd) .fdAccountBackground__set__li:nth-of-type(4) {
      animation: oddLiFour 2s ease 0.6s forwards;
    }
    /* Staggered animation for even list items */
    &:nth-of-type(even) .fdAccountBackground__set__li:nth-of-type(1) {
      animation: evenLiOne 2s ease 0.6s forwards;
    }
    &:nth-of-type(even) .fdAccountBackground__set__li:nth-of-type(2) {
      animation: evenLiTwo 2s ease 0.4s forwards;
    }
    &:nth-of-type(even) .fdAccountBackground__set__li:nth-of-type(3) {
      animation: evenLiThree 2s ease 0.2s forwards;
    }
    &:nth-of-type(even) .fdAccountBackground__set__li:nth-of-type(4) {
      animation: evenLiFour 2s ease 0s forwards;
    }

    &__li {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: calc(25% - var(--fd-gap));
      border-radius: var(--fd-borderRadius);
      box-shadow: 7px 17px 22px 7px rgba(0, 0, 0, 0.25);
      overflow: clip;
      &__article,
      &__article__graphic,
      &__article__graphic > * {
        width: inherit;
        height: inherit;
      }
      &__article {
        height: 100%;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
          width: 100%;
          height: 100%;
          background: linear-gradient(226deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 35%),
            linear-gradient(135deg, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0) 60%),
            linear-gradient(45deg, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.2) 70%);
        }
      }
    }
  }
}

@keyframes oddLiOne {
  0% {
    top: 100svh;
  }
  100% {
    top: calc(75% + var(--fd-gap));
  }
}
@keyframes oddLiTwo {
  0% {
    top: 100svh;
  }
  100% {
    top: calc(50% + var(--fd-gap));
  }
}
@keyframes oddLiThree {
  0% {
    top: 100svh;
  }
  100% {
    top: calc(25% + var(--fd-gap));
  }
}
@keyframes oddLiFour {
  0% {
    top: 100svh;
  }
  100% {
    top: calc(0% + var(--fd-gap));
  }
}

@keyframes evenLiOne {
  0% {
    top: calc(100svh * -1);
  }
  100% {
    top: 0%;
  }
}
@keyframes evenLiTwo {
  0% {
    top: calc(100svh * -1);
  }
  100% {
    top: 25%;
  }
}
@keyframes evenLiThree {
  0% {
    top: calc(100svh * -1);
  }
  100% {
    top: 50%;
  }
}
@keyframes evenLiFour {
  0% {
    top: calc(100svh * -1);
  }
  100% {
    top: 75%;
  }
}

@keyframes viewportScale {
  0% {
    filter: blur(0);
    transform: translate(0, 0) scale(1);
  }
  35% {
    filter: blur(0);
    transform: translate(0, 0) scale(1);
  }
  43% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0);
    transform: translate(0, -12.5%) scale(5);
  }
}

@keyframes fadePsuedo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
