@use './functions' as f;

/* Custom Properties */
:root {
  --fontPrimary: hsl(0, 0%, 20%);
  --fontSecondary: hsl(0, 0%, 100%);
  --fontSecondaryOffset: hsl(0, 7%, 76%);
}

/* Document Selectors */
html {
  box-sizing: border-box;
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 96%);
  overflow-x: hidden;
  user-select: none; // Disable text highlighting
  cursor: default;
  text-rendering: optimizeSpeed;
  color: var(--darkFont);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// Disable element interactions
iframe,
video,
picture,
img,
button {
  user-select: none;
}

/* Font imports */
@font-face {
  font-optical-sizing: auto;
  font-family: 'Plus Jakarta Sans';
  src: url('https://cdn.fontshare.com/wf/U2HFRBAHB5SL53RHFEF22BIJZSJRHR2Y/LFPV5QZIFT7V5OMDNHDQPJYOQAHFUE4W/CLVUG765RK3TA3ESG2NBCJJGWFQVIBTA.woff2') format('woff2');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-optical-sizing: auto;
  font-family: 'Plus Jakarta Sans';
  src: url('https://cdn.fontshare.com/wf/QZRCKFY3YNTSI7ZJRBICCIGOZTP4A7XJ/N5R3WNWTF5UMZX6H7KNBVR5N5PJZCKKX/TJFEEESODHVFXP2MHRXMD2MGSHGGFUZG.woff2') format('woff2');
  font-weight: 200 800;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}

/**
Typography Selectors
font: {optional: style variant weight} size line-height "family", "fallback-font", fallback-font-type
*/

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font:
    400 100% / 1.25 'Plus Jakarta Sans',
    'PT Sans',
    sans-serif;
}
h1 {
  font-size: clamp(f.rem(24), f.rem(34) + 1vw, f.rem(36));
  font-weight: 600;
}
h2,
h3,
h4,
p {
  font-weight: 500;
}
h2 {
  font-size: clamp(f.rem(22), f.rem(28) + 1vw, f.rem(32));
}
h3 {
  font-size: clamp(f.rem(20), f.rem(22) + 1vw, f.rem(28));
}
h4 {
  font-size: clamp(f.rem(18), f.rem(16) + 1vw, f.rem(22));
}
p,
summary {
  font-size: clamp(f.rem(16), f.rem(12) + 1vw, f.rem(18));
}
summary {
  list-style: none;
}
abbr {
  text-decoration: none;
}
address {
  font-style: normal;
}
article {
  scroll-padding: f.rem(10) 0 0 0;
}
a,
a:hover,
a:active,
a:visited,
ul,
li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
figcaption {
  display: none;
}
// Correct font weight in Chrome/Edge/Safari
b,
strong {
  font-weight: bolder;
}
// Remove inheritance of text transform in Firefox
button,
select {
  text-transform: capitalize;
}
//Corrects odd em font sizing in all browsers
pre,
code,
kbd,
samp {
  font-size: 1em;
}

/* Native Selectors */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Graphical Selectors */
iframe,
video,
picture {
  display: block;
  max-width: 100%;
}
picture {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  shape-margin: 0.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  font-style: italic;
}
img[src=''] {
  border: none;
  outline: none;
}

/* Interactive Selectors */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
button {
  border: none;
  outline-color: transparent;
  background-color: transparent;
}
select {
  all: unset;
  border: none;
}
option {
  all: unset;
  display: inline-block;
  pointer-events: all;
  cursor: pointer;
}
a,
button {
  cursor: pointer;
}
fieldset {
  all: unset; // WARNING: Position priority
  box-sizing: border-box;
}
input,
textarea {
  all: unset; // WARNING: Position priority
  box-sizing: border-box;
  cursor: text;
}
input {
  width: 100%;
  height: 100%;
  &[type='radio'] {
    display: none;
  }
}
details {
  cursor: pointer;
  & summary {
    cursor: pointer;
  }
  & > * {
    cursor: default;
  }
}

/* Miscellaneous fixes for native browser selectors */
// Correct inability to style clickable types in iOS/Safari
button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
}
// Corrects inability to style clickable types iOS/Safari //Changes Sarafi font properties to inherit
::-webkit-file-upload-button {
  appearance: button;
  font: inherit;
}
// Removes Chrome 57- border-bottom
abbr[title] {
  border-bottom: none;
}
// Corrects text wrapping Edge/IE //Removes padding to prevent issues when zeroing out fieldset elements all browsers
legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
// Corrects vertical alignment Chrome/Firefox/Opera
progress {
  vertical-align: baseline;
}
// Corrects Chrome cursor style of increment/decrement buttons
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
// Corrects odd appearance in Chrome/Safari and outline style in Safari
[type='search'] {
  appearance: textfield;
  outline-offset: -2px;
}
// Corrects display Edge/IE10+/Firefox
details {
  display: block;
}
// Corrects display all browsers.
summary {
  display: list-item;
}
