@use '../../sass/functions' as f;

@keyframes colorShiftLogo {
  0% {
    background-color: hsl(0, 0%, 26%);
  }
  50% {
    background-color: hsl(0, 0%, 30%);
  }
  100% {
    background-color: hsl(0, 0%, 26%);
  }
}
@keyframes colorShiftHeading {
  0% {
    background-color: hsl(0, 0%, 18%);
  }
  50% {
    background-color: hsl(0, 0%, 22%);
  }
  100% {
    background-color: hsl(0, 0%, 18%);
  }
}
@keyframes colorShiftText {
  0% {
    background-color: hsl(0, 0%, 20%);
  }
  50% {
    background-color: hsl(0, 0%, 24%);
  }
  100% {
    background-color: hsl(0, 0%, 20%);
  }
}
@keyframes colorShiftLink {
  0% {
    background-color: hsl(0, 0%, 23%);
  }
  50% {
    background-color: hsl(0, 0%, 27%);
  }
  100% {
    background-color: hsl(0, 0%, 23%);
  }
}
@keyframes colorShiftText {
  0% {
    background-color: hsl(0, 0%, 20%);
  }
  50% {
    background-color: hsl(0, 0%, 24%);
  }
  100% {
    background-color: hsl(0, 0%, 20%);
  }
}

.--flexStart {
  align-items: center;
  justify-content: start;
}
.--flexCenter {
  align-items: center;
  justify-content: center;
}
.--flexEnd {
  align-items: center;
  justify-content: flex-end;
}

.skeleton {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  height: 100vh;
  padding: 0 8.335%;
  overflow: hidden;
  &--logo,
  &--link,
  &--card,
  &--text {
    border-radius: 18px;
  }
  &--logo {
    width: 160px;
    height: 32px;
    background-color: hsl(0, 0%, 26%);
    animation: colorShiftLogo 1.8s infinite;
  }
  &--link {
    width: 80px;
    height: 32px;
    background-color: hsl(0, 0%, 23%);
    animation: colorShiftLink 1.8s infinite;
  }
  &--button {
    width: 120px;
    aspect-ratio: 3/1;
    border-radius: 30px;
    background-color: hsl(0, 0%, 26%);
    animation: colorShiftLogo 1.8s infinite;
  }
  &--gridColumn {
    display: flex;
    gap: 50px;
    width: 100%;
    height: auto;
  }
  &--subHeading {
    width: calc(600px / 2.5);
    height: calc(32px / 1.2);
    border-radius: calc(18px / 2);
    background-color: hsl(0, 0%, 18%);
    animation: colorShiftHeading 1.8s infinite;
    @media (width <= 730px) {
      width: 35%;
    }
  }
  &--heading {
    width: calc(600px / 1.5);
    height: calc(32px * 2);
    border-radius: calc(18px / 1.5);
    background-color: hsl(0, 0%, 18%);
    animation: colorShiftHeading 1.8s infinite;
    @media (width <= 730px) {
      width: 55%;
    }
  }
  &--text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: calc(32px * 6);
    background-color: hsl(0, 0%, 20%);
    animation: colorShiftText 1.8s infinite;
    @media (width <= 730px) {
      width: 75%;
      height: calc(32px * 3);
    }
  }
}

.skeleton__genericFlex {
  display: flex;
  gap: 24px;
}

.skeleton__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 11rem;
  &__desktop {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    column-gap: 50px;
    width: 100%;
    @media (width < 1600px) {
      display: none;
    }
  }
  &__mobile {
    display: none;
    width: 100%;
    @media (width < 1600px) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr;
    }
    &--svg {
      display: flex;
    }
  }
}

.skeleton__infographic,
.skeleton__catalog,
.skeleton__detailPage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 11rem 8.335% 0 8.335%;
}

.skeleton__infographic {
  top: 0;
  left: 0;
  &__carousel {
    display: flex;
    gap: 24px;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    &--partner {
      width: calc(100% - 8.335% / 10);
      height: 100%;
      border-radius: 12px;
      background-color: hsl(0, 0%, 28%);
      animation: colorShiftLogo 3.2s infinite;
    }
  }
}

.skeleton__catalog {
  bottom: 0;
  left: 0;
  display: flex;
  height: calc(100% - 11rem);
  padding: 0 10.335%;
  &__filters {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: fit-content;
    padding-top: f.rem(25);
    @media (width <= 500px) {
      display: flex;
      flex-direction: column;
      gap: f.rem(25);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(33% - f.rem(36)));
    grid-auto-rows: 1fr;
    gap: f.rem(36);
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: f.rem(1600);
    margin-top: f.rem(25);
    overflow: hidden;
    @media (width <= 1370px) {
      grid-template-columns: repeat(auto-fit, calc(50% - f.rem(50)));
    }
    @media (width <= 966px) {
      grid-template-columns: 1fr;
      gap: f.rem(40) f.rem(50);
    }
    &--li {
      position: relative;
      aspect-ratio: 4/5;
      border-radius: f.rem(18);
      transition: 0.55s ease-in-out;
      background-color: hsl(0, 0%, 20%);
      animation: colorShiftText 3.2s infinite;
    }
  }
}

.skeleton__detailPage {
  bottom: 0;
  left: 0;
  &__card {
    position: relative;
    display: flex;
    width: 100%;
    max-width: f.rem(1600);
    height: 65vh;
    border-radius: f.rem(28);
    background-color: hsl(0, 0%, 20%);
    animation: colorShiftText 3.2s infinite;
  }
}
