@use '../../../util/functions' as u;
@use '../../../styles/mixins' as i;

.sectionReset {
  max-width: fit-content;
  margin: u.rem(20) u.rem(10);
}
.homeSection {
  max-width: u.rem(1800); //1380
  padding: 0 0 u.rem(50) 0;
  margin: 0 auto;
}
.sectionHeading {
  display: flex;
  width: 100%;
  padding: u.rem(50) 0 0 u.rem(50);
  margin: 0 0 u.rem(-25) 0;
  & h2 {
    max-width: 26ch;
    font-size: clamp(u.rem(26), u.rem(16) + 2vw, u.rem(40));
    font-weight: 800;
    line-height: 115%;
    text-transform: uppercase;
    text-align: end;
    color: var(--textPrimary);
  }
  & p {
    width: clamp(45ch, 50%, 65ch);
    color: var(--textPrimary);
  }
}
