@use '../../scss/filmDatabaseStyles' as s;
@use '../../../sass/functions' as f;

.fdHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--fd-border-box-padding-RL);
  gap: var(--fd-poster-gutter);
  min-height: 11rem;
  & > * {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__row {
    &__logo {
      & a figure picture svg {
        max-height: f.rem(40);
      }
    }
    &__searchBar {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &__features {
    }
  }

  &__row {
    &__navigation {
      width: 100%;
      &__ul {
        display: flex;
        justify-content: center;
        width: 100%;
        & li {
          text-transform: capitalize;
          & a {
            @include s.fdButton;
          }
        }
      }
    }
  }
}

.fdFooter {
  display: flex;
  flex-direction: column;
  gap: calc(var(--fd-poster-gutter) * 3.25);
  padding: 0 var(--fd-border-box-padding-RL);
  &__section {
    &__nav {
      display: flex;
      &__ul {
        flex: 0 0 33.33333333333333%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: capitalize;
        &__header {
          padding-bottom: f.rem(6);
          font-weight: 600;
          font-size: var(--fd-carousel-font-header);
        }
        &__li a {
          font-weight: 400;
        }
      }
    }
  }

  &__blockquote {
    display: flex;
    justify-content: center;
    &__tmdbApiCredit p {
      font-weight: 300;
      letter-spacing: 0.04em;
    }
  }
}
