@use '../../../ecommerceStyles' as m;
@use '../../../../sass/util/functions' as f;

.accountModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.ecoModal {
  &__heading {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__signInVia {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__inputField {
    display: grid;
    place-items: center;
    gap: f.rem(15);
    width: 100%;
    & label {
      width: 80%;
      height: auto;
      & input {
        width: 100%;
        height: inherit;
        min-height: f.rem(50);
        padding: 1.5% 4%;
        border-radius: f.rem(8);
        background-color: var(--elemBackgroundPrimary);
      }
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-left: 12%;
    & button {
      @include m.ecoBtn;
    }
  }
  &__notice {
    display: flex;
    flex-direction: column;
    gap: f.rem(6);
    width: 90%;
    margin-top: f.rem(20);
    text-align: center;
    pointer-events: none;
    color: var(--fontPrimary);
    & span {
      font-size: clamp(f.rem(14), f.rem(8) + 0.5vw, f.rem(18));
      font-weight: 500;
    }
    & mark {
      padding: f.rem(6) f.rem(12);
      border-radius: f.rem(6);
    }
    & mark p {
      max-width: 45ch;
      font-size: clamp(f.rem(12), f.rem(6) + 0.5vw, f.rem(20));
    }
  }
}
.contact__form__inputs,
.contact__form__address {
  padding-left: 2.5%;
}
