@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdiFrame {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: inherit;
  &:hover .fdiFrame__controller {
    opacity: 1;
  }
}
