@use '../../util/functions' as u;
@use '../../styles/mixins' as i;
@use '../../util/breakpoints' as b;

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
  &[data-activity='active'] {
    transform: translateY(-200%);
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.45s;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-height: u.rem(650);
    aspect-ratio: 4/3;
    padding: 2% 4%;
    border-radius: u.rem(32);
    background-color: var(--elementBg);
    &__heading {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      min-height: u.rem(50);
      margin-bottom: 2.5%;
      &--part {
        width: 50%;
        height: 100%;
        & button {
          display: flex;
          justify-content: end;
        }
      }
    }
    &__inputs,
    &__address,
    &__message,
    &__country {
      min-height: u.rem(50);
      margin-bottom: 2.5%;
      @include i.formField;
    }
    &__inputs {
      display: flex;
      flex-wrap: nowrap;
      gap: u.rem(10);
      & label {
        width: 50%;
      }
    }
    &__message {
      padding: 2.5% 0 0 2.5%;
      resize: vertical;
    }
    &--formBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2.5%;
      @include i.formField;
      cursor: pointer;
      & h4 {
        padding: 2.5%;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: u.rem(0.4);
      }
    }
  }
}
.contact__form__inputs,
.contact__form__address {
  padding-left: 2.5%;
}
