@use '../../util/functions' as u;
@use '../../styles/mixins' as i;
@use '../../util/breakpoints' as b;

.toggleResume {
  position: absolute;
  display: flex;
  z-index: 10;
  background-color: hsl(0, 0%, 96%);
  backdrop-filter: blur(1px);
  transform: translateY(0%);
  opacity: 0;
  transform: translateY(-100%) translateX(-100%);
  &[data-activity='active'] {
    transform: translateY(-100%) translateX(0);
    opacity: 1;
    transition: all 0.45s;
  }
}
.resume {
  position: relative;
  display: flex;
  gap: u.rem(50);
  height: 100vh;
  &:nth-of-type(1) {
    width: 35%;
    padding: 5% 1% 5% 5%;
    overflow: hidden;
  }
  &:nth-of-type(2) {
    width: 65%;
    padding: 5% 10% 18% u.rem(50);
    overflow-y: scroll;
  }
  &__block {
    height: fit-content;
    width: 100%;
    padding: 6% 8%;
    background-color: hsl(215, 46%, 93%);
    @include i.portBtn;
    &--header {
      flex-wrap: nowrap;
      gap: u.rem(10);
    }
    & ol {
      padding-left: u.rem(10);
      & li {
        list-style: disc;
      }
    }
  }
  &__navigation {
    gap: u.rem(50);
    & button {
      aspect-ratio: 1/1;
      width: calc(100% / 3);
      background-color: hsl(215, 46%, 93%);
      @include i.portBtn;
      & i {
        font-size: clamp(u.rem(26), u.rem(16) + 2vw, u.rem(40));
        font-weight: 700;
        line-height: 1;
        color: white;
      }
    }
  }
}
