@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdCineInfo {
  display: flex;
  flex-direction: column;
}

.fdCineInfo .fdDetails {
  height: auto;
  padding: var(--fd-padding-generic) calc(var(--fd-padding-generic) / 1.5) calc(var(--fd-padding-generic) / 2) calc(var(--fd-padding-generic) / 1.5);
  &__article {
    width: 100%;
    padding-bottom: calc(var(--fd-gap) * 2);
    // border-bottom: 1px solid #4d4545;
  }
}

.fdCineInfoCarousel {
  transition: all 280ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  &[data-anim='disabled'] {
    opacity: 0;
    pointer-events: none;
  }
  &__header {
    width: fit-content;
    padding: 0 calc(var(--fd-collection-node-width) / 4) var(--fd-gap) calc(var(--fd-padding-generic) / 1.5);
    text-transform: capitalize;
    &--h2 {
      @include m.fdFontXL;
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    // navigation overlay on track hover
    &:hover &__navigation {
      opacity: 1;
      transition: opacity 0.22s ease-in-out;
    }
    &__ul {
      display: flex;
      gap: var(--fd-gap);
      // @include m.scrollSnappingXAxis;
      overflow-x: scroll;
      scrollbar-width: none;
      scroll-behavior: smooth;
      &__li {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--fd-gap);
        cursor: pointer;
        // scroll-snap-align: center;
        &:first-of-type {
          margin-left: calc(var(--fd-padding-generic) / 1.5);
        }
        &:last-of-type {
          margin-right: calc(var(--fd-padding-generic) / 1.5);
        }
        &[data-hidden='true'] {
          & picture img {
            display: none;
          }
        }
        & picture {
          position: relative;
          display: block;
          width: var(--fd-collection-node-width);
          height: var(--fd-collection-node-height);
          border-radius: var(--fd-border-radius);
          overflow: clip;
          &[data-missing='true'] {
            align-content: center;
            & img {
              height: auto;
            }
          }
          & img {
            width: inherit;
            height: inherit;
          }
        }
        &__member {
          display: flex;
          flex-direction: column;
          & span:nth-of-type(1) {
            @include m.fdFontL;
          }
          & span:nth-of-type(2) {
            @include m.fdFontM;
          }
        }
      }
    }
    &__navigation {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: flex;
      align-items: center;
      width: 100%;
      height: var(--fd-collection-node-height);
      pointer-events: none;
      opacity: 0;
      // Greyzone/crosspath for desktop 1280x720 && tablet
      @media (width <= 1152px) {
        display: none;
      }
      &__button {
        position: absolute;
        z-index: 10;
        height: 50%;
        background-color: var(--fd-bc-btn);
        pointer-events: all;
        & svg {
          width: 3em;
          height: 3em;
          color: var(--fd-font-color-primary);
        }
      }
      &__button:nth-of-type(1) {
        left: 0;
        border-top-right-radius: var(--fd-border-radius);
        border-bottom-right-radius: var(--fd-border-radius);
      }
      &__button:nth-of-type(2) {
        right: 0;
        border-top-left-radius: var(--fd-border-radius);
        border-bottom-left-radius: var(--fd-border-radius);
      }
    }
  }
}
