@use '../../../../sass/functions' as f;
@use '../../../scss/portfolioStyles' as m;

.contactForm {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 6% m.$viewportMarginRightLeft;
  opacity: 1;
  pointer-events: all;
  transition: backdrop-filter 200ms ease-in;
  &[data-status='false'] {
    pointer-events: none;
    opacity: 0;
    transition: backdrop-filter 200ms ease-in;
  }
  @media (width <= 778px) {
    margin: 0;
  }
  &__section {
    display: flex;
    height: 100%;
    align-items: center;
    &:nth-of-type(1) {
      flex: 0 1 40%;
      flex-direction: column;
      justify-content: center;
    }
    &:nth-of-type(2) {
      flex: 1 1 60%;
    }
    & h2 {
      display: none;
    }
  }
}

.contact__about,
.contact__questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(45ch, 100%, 75ch);
  height: fit-content;
  overflow: scroll;
  scrollbar-width: none;
}

.contact__about {
  margin-bottom: f.rem(24);
  & h3 {
    font-size: clamp(f.rem(20), f.rem(24) + 1vw, f.rem(30));
    font-weight: 500;
  }
  & p {
    width: clamp(45ch, 100%, 65ch);
  }
}

.contact__questions {
  & h4 {
    font-size: clamp(f.rem(20), f.rem(24) + 1vw, f.rem(30));
    font-weight: 500;
    padding-bottom: f.rem(6);
  }
  &__services,
  &__nonServices,
  &__pricing,
  &__responseTime,
  &__provisions,
  &__inclusivityAccessibility,
  &__formErrors {
    width: fit-content;
    padding-bottom: f.rem(6);
    &--question {
      height: auto;
      font-size: clamp(f.rem(18), f.rem(16) + 1vw, f.rem(22));
      font-weight: 500;
      letter-spacing: f.rem(0.1);
    }
    & p {
      height: auto;
      padding-bottom: f.rem(6);
    }
  }
  &__provisions p {
    display: flex;
    flex-direction: column;
    & span:nth-of-type(2) {
      width: fit-content;
      cursor: text;
      user-select: text;
    }
  }
}

#errorMessageFAQ {
  & li details summary {
    font-size: f.rem(20);
    font-weight: 400;
  }
  & li ul {
    display: flex;
    flex-direction: column;
    gap: f.rem(6);
    & li:first-child {
      padding-top: f.rem(3);
    }
    & li:last-child {
      padding-bottom: f.rem(12);
    }
  }
}

.standardForm {
  display: contents;
  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &__container {
      position: relative;
      width: min-content;
      min-width: f.rem(320);
      height: auto;
      &--label {
        position: absolute;
        width: 100%;
        padding: f.rem(20) 0 f.rem(20) f.rem(12);
        pointer-events: none;
        font-size: clamp(f.rem(16), f.rem(16) + 1vw, f.rem(22));
        font-weight: 500;
        white-space: nowrap;
        line-height: 100%;
        transition:
          color 150ms ease-in,
          font-size 150ms ease-in,
          letter-spacing 150ms ease-in,
          transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        &[data-status='active'] {
          color: rgba(255, 255, 101, 0.85);
          font-size: f.rem(16);
          letter-spacing: 0.08em;
          transform: translateY(f.rem(4));
          transition:
            color 150ms ease-out,
            font-size 150ms ease-out,
            letter-spacing 150ms ease-out,
            transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      &--input {
        width: 100%;
        height: 100%;
        padding: f.rem(20) 0 f.rem(20) f.rem(12);
      }
      &--errorMessage {
        padding: 0 0 0 f.rem(12);
        font-size: clamp(f.rem(12), f.rem(10) + 1vw, f.rem(16));
        font-weight: 500;
        color: rgba(255, 255, 101, 0.85);
      }
    }
  }
}
