@use '../../../../sass/functions' as f;
@use '../../../scss/portfolioStyles' as m;

.contactFormWrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 6% m.$box-model-viewport-x;
  opacity: 1;
  pointer-events: all;
  transition: backdrop-filter 200ms ease-in;
  &[data-status='false'] {
    pointer-events: none;
    opacity: 0;
    transition: backdrop-filter 200ms ease-in;
  }
  @media (width <= 778px) {
    margin: 0;
  }
}

.contactForm {
  display: flex;
  aspect-ratio: 21/9;
  max-width: 75vw;
  max-height: 76vh;
  height: 100%;
  background-color: hsl(0, 0, 8%);
  &__section {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 3% f.rem(50);
    &:nth-of-type(1) {
      flex: 1 0 55%;
      flex-direction: column;
      justify-content: center;
    }
    &:nth-of-type(2) {
      flex: 0 1 45%;
      border-top-right-radius: f.rem(24);
      border-bottom-right-radius: f.rem(24);
      background-color: hsl(0, 0, 50%);
    }
    & h2 {
      display: none;
    }
  }
}

.contact__questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: clamp(45ch, 100%, 75ch);
  height: fit-content;
  background-color: hsl(0, 0, 60%);
  overflow: scroll;
  scrollbar-width: none;
  &__services,
  &__nonServices,
  &__pricing,
  &__responseTime,
  &__provisions,
  &__inclusivityAccessibility,
  &__formErrors {
    width: 100%;
    padding: f.rem(12) f.rem(24);
    border-bottom: 1px solid hsl(0, 0%, 56%);
    height: auto;
    transition: height 150ms ease-in-out;
    &--question {
      height: auto;
    }
    & p {
      height: auto;
      padding-bottom: f.rem(6);
      pointer-events: none;
    }
  }
  &__provisions p {
    display: flex;
    flex-direction: column;
    & span:nth-of-type(2) {
      width: fit-content;
      cursor: text;
      user-select: text;
    }
  }
}

.standardForm {
  display: contents;
  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(m.$portfolio-gap / 2);
    width: 100%;
    height: auto;
    &__container {
      position: relative;
      width: 100%;
      min-width: f.rem(320);
      height: auto;
      &--label {
        position: absolute;
        width: 100%;
        padding: f.rem(20) 0 f.rem(20) f.rem(12);
        pointer-events: none;
        font-size: clamp(f.rem(16), f.rem(16) + 1vw, f.rem(22));
        white-space: nowrap;
        line-height: 100%;
        transition:
          color 150ms ease-in,
          font-size 150ms ease-in,
          letter-spacing 150ms ease-in,
          transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        &[data-status='active'] {
          color: m.$font-color-indicate-warning;
          font-size: f.rem(16);
          letter-spacing: 0.08em;
          transform: translateY(f.rem(4));
          transition:
            color 150ms ease-out,
            font-size 150ms ease-out,
            letter-spacing 150ms ease-out,
            transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      &--input {
        width: 100%;
        height: 100%;
        padding: f.rem(20) 0 f.rem(20) f.rem(12);
        background-color: hsl(0, 0%, 14%);
      }
      &--errorMessage {
        padding: 0 0 0 f.rem(12);
        color: m.$font-color-indicate-warning;
      }
    }
  }
}

#errorMessageFAQ {
  & li details {
    pointer-events: all;
  }
  & li ul {
    display: flex;
    flex-direction: column;
    & li:first-child {
      padding-top: f.rem(3);
    }
    & li:last-child {
      padding-bottom: f.rem(12);
    }
  }
}
