@use '../../../../sass/functions' as f;
@use '../../../scss/portfolioStyles' as m;

.contactForm {
  display: flex;
  align-items: center;
  color: m.$font-color-secondary;
  height: 100%;
  max-height: 76vh;
  overflow: hidden;
  &__section {
    display: flex;
    &:nth-of-type(1) {
      flex: 0 0 53%;
      flex-direction: column;
      align-items: flex-end;
      max-height: inherit;
      padding: f.rem(48) f.rem(84) f.rem(48) f.rem(0);
    }
    &:nth-of-type(2) {
      flex: 0 0 47%;
      max-height: inherit;
      padding: f.rem(48) f.rem(48);
      border-top-right-radius: f.rem(24);
      border-bottom-right-radius: f.rem(24);
      background-color: m.$background-color-primary;
    }
  }
}

.contact__questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: clamp(45ch, 100%, 75ch);
  height: fit-content;
  // background-color: hsl(0, 0%, 60%);
  overflow: scroll;
  scrollbar-width: none;
  will-change: height;
  transform-origin: top;
  &__intro {
    padding-bottom: f.rem(30);
    &--welcome {
      font-size: clamp(f.rem(24), f.rem(36) + 1vw, f.rem(42));
      font-weight: 800;
      line-height: 135%;
    }
    &--prompt {
      font-size: f.rem(20);
    }
  }

  &__services,
  &__nonServices,
  &__pricing,
  &__responseTime,
  &__provisions,
  &__inclusivityAccessibility,
  &__formErrors {
    width: 100%;
    padding: f.rem(12) f.rem(12);
    border-bottom: 1px solid m.$background-color-cream-complementary;
    height: auto;
    transition: height 360ms ease-in-out;
    &--question {
      display: flex;
      align-items: flex-end;
      height: auto;
      font-size: f.rem(18);
      & svg {
        font-size: f.rem(24);
      }
    }
    & p {
      height: auto;
      padding-bottom: f.rem(6);
      pointer-events: none;
    }
  }
  &__formErrors {
    border-bottom: 0px;
  }
  &__provisions p {
    display: flex;
    flex-direction: column;
    & span:nth-of-type(2) {
      width: fit-content;
      cursor: text;
      user-select: text;
    }
  }
}

.standardForm {
  display: contents;
  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(m.$portfolio-gap / 2);
    width: 100%;
    height: auto;
    &__container {
      position: relative;
      width: 100%;
      min-width: f.rem(320);
      height: auto;
      &--label {
        position: absolute;
        width: 100%;
        padding: f.rem(20) 0 f.rem(20) f.rem(12);
        pointer-events: none;
        font-size: clamp(f.rem(16), f.rem(16) + 1vw, f.rem(22));
        white-space: nowrap;
        line-height: 100%;
        transition:
          color 150ms ease-in,
          font-size 150ms ease-in,
          letter-spacing 150ms ease-in,
          transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        &[data-status='active'] {
          color: m.$font-color-indicate-warning;
          font-size: f.rem(16);
          letter-spacing: 0.08em;
          transform: translateY(f.rem(4));
          transition:
            color 150ms ease-out,
            font-size 150ms ease-out,
            letter-spacing 150ms ease-out,
            transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      &--input {
        width: 100%;
        height: 100%;
        padding: f.rem(20) 0 f.rem(20) f.rem(12);
        // background-color: m.$background-color-cream;
        border: 1px solid m.$background-color-cream-complementary;
      }
      &--errorMessage {
        padding: 0 0 0 f.rem(12);
        color: m.$font-color-indicate-warning;
      }
    }
  }
}

#errorMessageFAQ {
  & li details {
    pointer-events: all;
  }
  & li ul {
    display: flex;
    flex-direction: column;
    & li:first-child {
      padding-top: f.rem(3);
    }
    & li:last-child {
      padding-bottom: f.rem(12);
    }
  }
}
