@use '../../../util/functions' as u;
@use '../../../styles/mixins' as i;

.infographic {
  position: relative;
  width: 100%;
  height: calc(100vh + u.rem(32));
  margin: 0 auto;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: u.rem(32);
    z-index: 10;
    border-top-right-radius: u.rem(64);
    border-top-left-radius: u.rem(64);
    background-color: hsl(0, 0%, 96%);
  }
  &__graphic {
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    & .imgFadeGradient {
      position: absolute;
      bottom: 0;
      width: inherit;
      height: calc(100% / 2.4);
      z-index: 2;
      background-image: linear-gradient(0deg, hsl(0, 0%, 0%) 0, transparent);
    }
  }
  &__information {
    position: absolute;
    align-items: baseline;
    top: 25%;
    left: 0;
    z-index: 2;
    padding: 10vh 0 0 8vw;
    & h1 {
      font-size: u.rem(16);
      font-weight: 600;
      margin-bottom: u.rem(10);
    }
    h2 {
      width: 25ch;
      font-style: italic;
      font-size: u.rem(40);
      line-height: 115%;
      font-weight: 800;
      margin-bottom: u.rem(15);
    }
    p {
      width: 40ch;
      font-weight: 500;
      margin-bottom: u.rem(15);
    }
    & h1,
    h2,
    p,
    a {
      color: white;
    }
    &__ctaBtns {
      gap: u.rem(20);
      & a {
        height: u.rem(42);
        max-width: fit-content;
        @include i.ecommerceBtn;
        background-color: white;
        & h4 {
          color: rgb(50, 50, 50);
          font-size: u.rem(12);
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
    &__logos {
      gap: u.rem(25);
      width: 100%;
      height: auto;
      margin-top: u.rem(220);
      & img {
        max-width: u.rem(200);
        &:nth-of-type(2) {
          filter: invert(100%);
        }
      }
    }
  }
}
