@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseStyles' as s;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

.fdHero {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100svw;
  height: 100svh;
  &::after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    // carousel height + padding-bottom, heading font size + padding-bottom
    height: calc(var(--fd-carousel-featured-height) + (var(--fd-padding-generic) / 2.5) + var(--fd-font-size-l) + 1rem);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
  }
  &__article {
    position: relative;
    z-index: 1;
    display: flex;
    width: inherit;
    height: 100%;
    aspect-ratio: inherit;
    & figure,
    & figure picture,
    & figure picture img {
      position: relative;
      z-index: 1;
      width: inherit;
      height: 100%;
      aspect-ratio: inherit;
    }
    &__header {
      position: absolute;
      top: calc(50px + 23svh);
      left: calc(var(--fd-padding-generic));
      z-index: 2;
      &__details {
        max-width: 57ch;
        & > * {
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          line-height: normal;
          white-space: wrap;
        }
        & h2 {
          font-family: 'Satoshi-Black';
          font-size: calc(var(--fd-font-size-l) * 1.25);
          text-transform: uppercase;
          letter-spacing: 0.03em;
        }
        & p {
          font-family: 'Satoshi-Medium';
          font-size: clamp(f.rem(14), f.rem(16) + 1vw, f.rem(22));
        }
      }
    }
  }
}
