@use '../../scss/filmDatabaseStyles' as s;
@use '../../../sass/functions' as f;
@use '../../scss/filmDatabaseStyles' as m;

.fdHero {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100svw;
  height: 100svh;
  // aspect-ratio: 3/1;
  &__infographic {
    position: relative;
    z-index: 1;
    display: flex;
    width: inherit;
    height: 100%;
    aspect-ratio: inherit;
    background-color: var(--fd-backgroundColor-fallback);
    @include m.scrollSnapping;
    &__slide,
    &__slide,
    &__slide figure,
    &__slide figure picture,
    &__slide figure picture img {
      position: relative;
      z-index: 1;
      width: inherit;
      height: 100%;
      aspect-ratio: inherit;
    }
    &__details {
      position: absolute;
      top: calc(50px + 30svh);
      left: calc(var(--fd-padding-generic));
      z-index: 2;
      max-width: 45ch;
      & h2 {
        font-family: 'Satoshi-Bold';
        font-size: var(--fd-font-size-section-header);
        line-height: normal;
        text-transform: capitalize;
        white-space: nowrap;
      }
      & p {
        font-family: 'Satoshi-Medium';
        font-size: clamp(f.rem(14), f.rem(14) + 1vw, f.rem(20));
        line-height: normal;
        white-space: wrap;
      }
    }
  }

  &__controller {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    & legend {
      display: none;
    }
    &__radios {
      display: flex;
      gap: var(--fd-gap-mediaPoster);
      &__option {
        input {
          display: block;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;
        }
        & label {
          display: none;
        }
      }
    }
  }
}
