@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseStyles' as s;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

.fdiFrame {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: calc(100svh - var(--fd-carousel-node-height));
  aspect-ratio: 16/9;
  &--h2 {
    display: none;
  }
  &__backdrop,
  &__player {
    height: inherit;
    aspect-ratio: inherit;
  }
  &__backdrop picture img,
  &__player--iframe {
    transform: scale(1.36);
  }
  &__player--iframe {
    height: inherit;
    aspect-ratio: inherit;
    pointer-events: none;
    // YouTube IFrame Player API Requirements (16/9)
    min-width: 480px;
    min-height: 270px;
  }
}

.fdiFrame:hover .iFrameController {
  opacity: 1;
}
