@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseStyles' as s;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

.fdiFrame {
  position: relative;
  pointer-events: none;
  &--h2 {
    display: none;
  }
  &__backdrop picture img,
  &__wrapper iframe {
    transform: scale(1.4);
  }
  &__backdrop,
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    // 100svh - carousel height
    height: calc(100svh - var(--fd-carousel-featured-height));
    aspect-ratio: 16/9;
    &::before {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0) 61%);
      pointer-events: none;
    }
    &::after {
      content: '';
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: calc(var(--fd-carousel-featured-height) + (var(--fd-padding-generic) / 2.5) + var(--fd-font-size-l) + 1rem);
      background: linear-gradient(to top, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
      pointer-events: none;
    }
  }

  &__wrapper iframe {
    width: 100%;
    height: 100%;
    // pointer-events: none;
  }
}

.fdiFrame:hover .iFrameController {
  opacity: 1;
}

.iFrameController {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: flex;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.08) 80%, rgba(0, 0, 0, 0) 100%);
  pointer-events: all;
  // opacity: 0;
  transition: opacity 0.1s ease-in-out;
  // transition: opacity .25s cubic-bezier(0,0,.2,1)
  &__interact {
    & button span {
      &[data-visible='true'] {
        opacity: 1;
      }
      &[data-visible='false'] {
        opacity: 0;
      }
    }
  }
  &__features {
  }
  &__interact,
  &__features {
    position: relative;
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    height: inherit;
    & button {
      position: relative;
      width: calc(24px * 2);
      height: 100%;
      padding: 0 2px;
      opacity: 0.9;
      transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
      & span {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: inherit;
        & svg {
          width: 1.8em;
          height: 1.8em;
          color: white;
        }
      }
    }
  }
}
