@use '../../../ecommerceStyles' as m;
@use '../../../../sass/util/functions' as f;

.modalWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  pointer-events: none;
  transition:
    background-color 250ms ease-in-out,
    backdrop-filter 250ms ease-in-out;
  &[data-status='active'] {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
  }
  @media (width < 780px) {
    margin: 0;
  }
}

.ecoModal {
  position: absolute;
  top: 15%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: f.rem(10);
  min-width: f.rem(425);
  max-width: f.rem(480);
  height: 80vh;
  z-index: 13;
  padding: f.rem(20) f.rem(30);
  border-radius: f.rem(18);
  margin: 0 8.335%;
  background-color: var(--elemBackgroundPrimary);
  @media (width <= 778px) {
    top: 0;
    left: 0;
    width: 100%;
    min-width: auto;
    max-width: 100%;
    height: 100%;
    padding: 10% 10% 5% 10%;
    border-radius: 0;
  }
  @media (width < 780px) {
    margin: 0;
  }
  &[data-status='active'] {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition:
      transform 250ms ease-in,
      opacity 250ms ease-in;
    pointer-events: all;
  }
  &[data-status='false'] {
    transform: translateX(50%);
    opacity: 0;
    transition:
      transform 250ms ease-out,
      opacity 250ms ease-out;
    pointer-events: none;
  }
}

.ecoModal fieldset,
.ecoModal__buttons {
  padding-bottom: f.rem(18);
}

.ecoModal legend h2 {
  width: 100%;
  font-size: clamp(f.rem(18), f.rem(22) + 1vw, f.rem(28));
  font-weight: 700;
  text-transform: uppercase;
}

.ecoModal fieldset {
  display: grid;
  place-items: center;
  gap: f.rem(18);
  width: 100%;
  & label {
    position: relative;
    width: 90%;
    height: auto;
    outline: 1px solid hsl(0, 0%, 68%);
    border-radius: f.rem(6);
    &[data-error='true'] {
      outline: 1px solid hsl(0, 100%, 80%);
    }
    & input {
      width: 100%;
      height: inherit;
      min-height: f.rem(42);
      padding: 1.5% 4%;
      background-color: hsl(0, 0%, 100%);
    }
  }
}

.ecoModal__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: f.rem(6);
  width: 90%;
  & button {
    @include m.ecoBtn;
    @include m.ecoBtnDark;
    width: 100%;
  }
}

.ecoModal__notice {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  pointer-events: none;
  color: var(--fontPrimary);
  & p {
    max-width: 45ch;
    margin: 0 auto;
    font-size: f.rem(16);
    font-weight: 500;
    line-height: f.rem(18);
  }
}

.passwordLabel {
  display: flex;
  &__visibility {
    padding: 0 f.rem(10);
    border-left: 1px solid hsl(0, 0%, 68%);
    & svg {
      transform: translateY(10%);
    }
  }
}

.inputFieldErrorMessage {
  height: fit-content;
  & figcaption {
    display: none;
  }
  & p {
    max-width: 45ch;
    font-size: f.rem(16);
    font-weight: 500;
    line-height: f.rem(18);
    text-align: center;
  }
}
