@use '../../scss/filmDatabaseStyles' as s;
@use '../../../sass/functions' as f;

.fdCarousel {
  display: flex;
  flex-direction: column;
  gap: var(--fd-poster-gutter);
  padding: 2% 0;
  overflow: hidden;

  &__heading {
    display: block;
    width: 100%;
    padding: var(--fd-border-box-padding);
    &__textBlock {
      white-space: nowrap;
      text-transform: capitalize;
      font-weight: 600;
      font-size: clamp(f.rem(18), f.rem(20) + 1vw, f.rem(26));
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    gap: var(--fd-poster-gutter);
    padding: var(--fd-border-box-padding);
    overflow: hidden;
    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--fd-poster-gutter);
      flex: 0 0 calc((100% + var(--fd-border-box-padding-RL)) / var(--fd-carousel-items-per-page) - var(--fd-poster-gutter));
      &__graphic,
      &__graphic figure picture img,
      &__overlay {
        transition: ease-in-out 0.22s all;
      }
      &__graphic {
        position: relative;
        z-index: 1;
        width: inherit;
        aspect-ratio: 2/3;
        overflow: hidden;
        cursor: pointer;
        & figure {
          pointer-events: none;
        }
        &__overlay {
          position: absolute;
          z-index: 2;
          inset: 50% 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          aspect-ratio: 2/3;
          opacity: 0;
          & button {
            position: absolute;
            height: fit-content;
            transform: translate(-50%, -50%);
          }
          &--play {
            inset: 50% 50%;
            width: 3.2em;
          }
          &--moreInfo {
            inset: 6% 94%;
            width: calc(3.2em / 3);
          }
          & button svg {
            color: white;
          }
        }
      }

      &__info {
        & h3 {
          font-size: 14px;
        }
        & h2 {
          font-size: 18px;
        }
      }
    }

    &__navigation {
      position: absolute;
      z-index: 2;
      width: calc(100svw - var(--fd-border-box-padding-RL));
      height: 100%;
      pointer-events: none;
      opacity: 0;
      &--button {
        position: absolute;
        width: calc(((100% + var(--fd-border-box-padding-RL)) / var(--fd-carousel-items-per-page) - var(--fd-poster-gutter)) / 3.1);
        height: 76%;
        pointer-events: all;
        & svg {
          width: 2.8em;
          height: 2.8em;
          color: white;
        }
      }
      &--button:nth-of-type(1) {
        left: calc(var(--fd-border-box-padding-RL) * -1);
      }
      &--button:nth-of-type(2) {
        right: 0;
      }
    }
  }
}

// transform picture on hover
.fdCarousel__wrapper__container__graphic:hover figure picture img {
  filter: brightness(65%);
  transform: scale(1.04);
}

// transform graphic overlay on hover
.fdCarousel__wrapper__container__graphic:hover .fdCarousel__wrapper__container__graphic__overlay,
.fdCarousel__wrapper__container__graphic__overlay:hover .fdCarousel__wrapper__container__graphic {
  opacity: 1;
}

// navigation overlay on track hover
.fdCarousel__wrapper:hover .fdCarousel__wrapper__navigation {
  opacity: 1;
}
