@use '../util/functions' as u;

.fourzerofour {
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  &__message {
    max-width: 1184px;
  }
  & h1 {
    font-weight: 800;
    min-height: u.rem(50);
  }
  & p {
    font-weight: 400;
    width: clamp(45ch, 50%, 75ch);
  }
}
.fa-person-walking-arrow-loop-left {
  font-size: u.rem(40);
}
