@use '../../scss/ecommerceStyles' as m;
@use '../../../sass/functions' as f;

.carousel {
  position: relative;
  display: block;
  padding: f.rem(32) var(--sectionXPadding) var(--sectionYPadding) f.rem(35); //Replaced top w/ after height, left w/ gap
  background-color: var(--elemBackgroundPrimaryOffset);
  &:after {
    content: '';
    position: absolute;
    top: f.rem(-32);
    left: 0;
    width: 100%;
    height: f.rem(32);
    z-index: 10;
    border-top-right-radius: f.rem(64);
    border-top-left-radius: f.rem(64);
    background-color: var(--elemBackgroundPrimaryOffset);
  }
  &__heading {
    width: 100%;
    padding: f.rem(25) 0 f.rem(15) f.rem(50);
    & p {
      padding-left: f.rem(2);
      font-size: clamp(f.rem(12), f.rem(14) + 1vw, f.rem(20));
      font-weight: 500;
    }
    & h2 {
      color: var(--textPrimary);
      font-size: clamp(f.rem(26), f.rem(36) + 1vw, f.rem(42));
      font-weight: 800;
      text-transform: uppercase;
      @media (width <= 1148px) {
        font-size: clamp(f.rem(26), f.rem(30) + 1vw, f.rem(36));
      }
      @media (width <= 591px) {
        font-size: clamp(f.rem(18), f.rem(24) + 1vw, f.rem(30));
      }
    }
  }
  &__track {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: f.rem(35);
    width: fit-content;
    height: f.rem(625);
    z-index: 4;
    margin: 0 f.rem(25);
    scrollbar-width: none;
    scroll-behavior: smooth;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
    @media (width <= 690px) {
      height: f.rem(325);
    }
    @media (width <= 480px) {
      height: f.rem(280);
    }
    & figure {
      display: contents;
      &:first-child picture {
        aspect-ratio: 4/2;
        @media (width <= 1815px) {
          aspect-ratio: 4/5;
        }
        @media (width <= 1065px) {
          aspect-ratio: 2/4;
        }
        @media (width <= 690px) {
          aspect-ratio: 1/1;
        }
      }
      picture {
        position: relative;
        height: 100%;
        aspect-ratio: 4/5;
        transition: flex 0.85s ease-in-out;
        @media (width <= 1065px) {
          aspect-ratio: 2/4;
        }
        @media (width <= 690px) {
          aspect-ratio: 1/1;
        }
        & img {
          border-radius: f.rem(24);
          box-shadow: var(--shadowSoft);
          object-fit: cover;
        }
        & a {
          position: absolute;
          bottom: 7.5%;
          left: 7.5%;
          z-index: 4;
          @include m.ecoBtn;
          @include m.ecoBtnLight;
          pointer-events: all;
        }
      }
    }
  }
}
