@use '../../../sass/styles/mixins' as m;
@use '../../../sass/util/functions' as f;

.caro {
  height: 94vh;
}
.carousel {
  position: relative;
  display: block;
  height: f.rem(620);
  margin: f.rem(50) 0;
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
  &__heading {
    width: 100%;
    height: 15vh;
    margin: 2.5% 5% f.rem(-15) 8vw;
    & h2 {
      max-width: 26ch;
      font-size: clamp(f.rem(26), f.rem(16) + 2vw, f.rem(40));
      font-weight: 800;
      line-height: 115%;
      text-transform: uppercase;
      color: var(--textPrimary);
    }
    & p {
      width: clamp(45ch, 50%, 65ch);
      color: var(--textPrimary);
    }
  }
  &__track {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    gap: f.rem(20);
    width: fit-content;
    height: inherit;
    z-index: 4;
    margin: 0 f.rem(25);
    scrollbar-width: none;
    scroll-behavior: smooth;
    &__slide {
      width: min(27.5vw, 34.375rem);
      aspect-ratio: 5/3;
      border-radius: f.rem(40);
      &.active {
        flex: 0 0 f.rem(1154);
        transition: flex 0.85s ease-in-out;
      }
      & img {
        border-radius: f.rem(40);
        object-fit: cover;
        object-position: right center;
        @include m.photoFilters;
      }
      @media (width <= 1450px) {
        flex: 0 0 f.rem(300);
        aspect-ratio: 2/2;
      }
      @media (width <= 1100px) {
        aspect-ratio: 2/2;
      }
      @media (width <= 730px) {
        max-width: 92vw;
        aspect-ratio: 2/1;
      }
    }
  }
}
//   &__navigation {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     z-index: 5;
//     pointer-events: none;
//     & button {
//       opacity: 0;
//       cursor: pointer;
//       pointer-events: auto;
//       transition-timing-function: linear;
//       transition-duration: 0.45s;
//       transition-property: opacity;
//       &:nth-of-type(1) {
//         padding-left: 2.8%;
//       }
//       &:nth-of-type(2) {
//         position: absolute;
//         right: 2.8%;
//       }
//       & i {
//         opacity: 0.6;
//         color: white;
//         font-size: f.rem(56);
//       }
//     }
//   }
// }
// .carousel__track:hover + .carousel__navigation button,
// .carousel__navigation button:hover {
//   opacity: 1;
//   @media (width <= 730px) {
//     opacity: 0;
//   }
// }
// .carousel__track__slide.active + .carousel__track__slide.active img {
//   object-fit: scale-down;
// }
