@use '../../scss/ecommerceStyles' as m;
@use '../../../sass/functions' as f;

.infographic {
  display: flex;
  gap: f.rem(35);
  width: 100%;
  height: calc(100vh - 11rem + f.rem(32));
  padding: 0 var(--sectionXPadding) calc(var(--sectionYPadding) + f.rem(32)) var(--sectionXPadding);
  margin-bottom: f.rem(25);
  & > * {
    &:nth-child(1) {
      flex: 1 0 25%;
    }
    &:nth-child(2) {
      flex: 0 1 50%;
    }
    &:nth-child(3) {
      flex: 1 0 25%;
    }
  }
  & section h2 {
    display: none;
  }
  & section figure {
    display: contents;
    & picture {
      display: inline-grid;
      place-items: center;
      height: 100%;
      & img {
        border-radius: f.rem(24);
        box-shadow: var(--shadowSoft);
      }
    }
  }
}

.infographic__section__textBlock {
  &--cta {
    @include m.ecoBtn;
    @include m.ecoBtnDark;
    margin-top: calc(2.1875rem / 3);
  }
  & strong,
  .infographic__section__textBlock--strong {
    display: inline-grid;
    text-wrap: balance;
    & span {
      font-size: clamp(f.rem(26), f.rem(36) + 1vw, f.rem(42));
      font-weight: 800;
      text-transform: uppercase;
      line-height: 115%;
    }
  }
}

.infographic__section__dynamicAudio h1,
.infographic__section__news p {
  font-size: clamp(f.rem(16), f.rem(14) + 1vw, f.rem(20));
  font-weight: 500;
}

.infographic__section__dynamicAudio,
.infographic__section__news {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
  height: 100%;
}

.infographic__section__presentation {
  display: contents;
  & figure picture img {
    filter: contrast(94%) brightness(96%);
  }
}
