@use '../../scss/ecommerceStyles' as m;
@use '../../../sass/functions' as f;

.infographic {
  display: flex;
  gap: f.rem(35);
  width: 100%;
  height: calc(100vh - 11rem + f.rem(32));
  padding: 0 8.335% calc(5.5rem + f.rem(25)) 8.335%;
  margin-bottom: f.rem(25);
  &__textArea {
    flex: 0 1 23%;
    @media (width <= 1550px) {
      flex: 0 0 100%;
    }
  }
  &__focus {
    flex: 1 0 49%;
    @media (width <= 1550px) {
      display: none;
    }
  }
  &__cta {
    flex: 0 1 28%;
    @media (width <= 1550px) {
      flex: 0 0 100%;
    }
  }
}

.infographic__textArea {
  & article {
    display: flex;
    flex-direction: column;
    gap: f.rem(6);
    height: 100%;
    & strong {
      display: inline-grid;
      padding-bottom: f.rem(6);
      color: var(--textPrimary);
      & span {
        font-size: clamp(f.rem(26), f.rem(36) + 1vw, f.rem(42));
        font-weight: 800;
        text-transform: uppercase;
        text-wrap: balance;
        line-height: 115%;
      }
    }
    & h1 {
      margin-bottom: f.rem(35);
      color: var(--textPrimary);
      font-size: clamp(f.rem(12), f.rem(12) + 1vw, f.rem(18));
      font-weight: 500;
    }
    & figure {
      display: contents;
      & picture {
        display: contents;
        & img {
          border-radius: f.rem(24);
          box-shadow: var(--shadowSoft);
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }
}

.infographic__focus {
  & h2 {
    display: none;
  }
  & figure {
    display: contents;
    & picture {
      display: contents;
      & img {
        border-radius: f.rem(24);
        box-shadow: var(--shadowSoft);
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

.infographic__cta {
  &--shopNow {
    @include m.ecoBtn;
    @include m.ecoBtnDark;
    box-shadow: var(--ecoBtnShadow);
    color: var(--fontSecondary) !important;
  }
  & article {
    display: flex;
    flex-direction: column;
    gap: f.rem(6);
    height: 100%;
    & h2 {
      font-size: clamp(f.rem(26), f.rem(36) + 1vw, f.rem(42));
      font-weight: 800;
      text-transform: uppercase;
      text-wrap: balance;
      line-height: 115%;
    }
    & p {
      padding-bottom: f.rem(6);
    }
    & a {
      font-weight: 600;
      margin-bottom: f.rem(35);
    }
    & figure {
      display: contents;
      & picture {
        display: contents;
        & img {
          border-radius: f.rem(24);
          box-shadow: var(--shadowSoft);
          object-fit: cover;
          object-position: center center;
          @media (width <= 1550px) {
            object-position: top center;
          }
        }
      }
    }
  }
}
