@use '../../scss/ecommerceStyles' as m;
@use '../../../sass/functions' as f;

.infographic {
  display: flex;
  gap: f.rem(35);
  width: 100%;
  height: calc(100vh - 11rem + f.rem(32));
  padding: 0 var(--sectionXPadding) calc(var(--sectionYPadding) + f.rem(32)) var(--sectionXPadding);
  @media (width <= 1000px) {
    flex-direction: column;
    gap: calc(f.rem(35) / 2);
    height: auto;
  }
  & > * {
    &:nth-child(1) {
      flex: 1 0 25%;
      @media (width <= 1620px) {
        flex: 0 0 50%;
      }
      @media (width <= 1000px) {
        height: 50%;
      }
    }
    &:nth-child(2) {
      flex: 0 1 50%;
    }
    &:nth-child(3) {
      flex: 1 0 25%;
      @media (width <= 1620px) {
        flex: 0 0 50%;
      }
      @media (width <= 1000px) {
        height: 50%;
      }
    }
  }
  & section h2 {
    display: none;
  }
  & section figure {
    display: contents;
    & picture {
      display: inline-grid;
      place-items: center;
      height: 100%;
      & img {
        border-radius: f.rem(24);
        box-shadow: var(--shadowSoft);
      }
    }
  }
}

.infographic__section__textBlock {
  @media (width <= 1620px) {
    position: absolute;
    bottom: 5%;
    left: 3%;
  }
  &--cta {
    @include m.ecoBtn;
    @include m.ecoBtnDark;
    margin-top: calc(2.1875rem / 3);
    @media (width <= 1620px) {
      display: none;
    }
  }
  & strong,
  .infographic__section__textBlock--strong {
    display: inline-grid;
    text-wrap: balance;
    @media (width <= 1620px) {
      position: relative;
      z-index: 2;
      color: var(--fontSecondary);
    }
    & span {
      font-size: clamp(f.rem(26), f.rem(36) + 1vw, f.rem(42));
      font-weight: 800;
      text-transform: uppercase;
      line-height: 115%;
      @media (height <= 935px) {
        font-size: clamp(f.rem(26), f.rem(26) + 1vw, f.rem(32));
      }
    }
  }
}

.infographic__section__dynamicAudio h1,
.infographic__section__news p {
  font-size: clamp(f.rem(16), f.rem(14) + 1vw, f.rem(20));
  font-weight: 500;
  @media (width <= 1620px) {
    position: relative;
    width: inherit;
    z-index: 2;
    color: var(--fontSecondary);
  }
}

.infographic__section__dynamicAudio,
.infographic__section__news {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
  height: 100%;
}

.infographic__section__dynamicAudio figure picture img {
  @media (width <= 1315px) {
    object-position: center right;
  }
}

.infographic__section__news {
  & figure picture img {
    @media (width <= 1315px) {
      object-position: center left;
    }
  }
}

.infographic__section__presentation {
  display: contents;
  @media (width <= 1620px) {
    display: none;
  }
  & figure picture img {
    filter: contrast(94%) brightness(96%);
  }
}
