@use '../../../sass/styles/mixins' as m;
@use '../../../sass/util/functions' as f;

.showcase {
  display: block;
  width: 100%;
  padding: calc(f.rem(50) + f.rem(32)) 0 f.rem(115) 0;
  background-color: hsl(196, 27%, 92%);
  &__heading {
    padding: f.rem(50) 0 f.rem(50) 8vw;
    & h2 {
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  &__products {
    max-width: f.rem(1600);
    & ul {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, calc(33% - 4.6875rem));
      grid-auto-rows: 1fr;
      gap: 4.6875rem 3.125rem;
      max-width: 100rem;
      margin-bottom: 3.125rem;
      & li {
        max-height: f.rem(600);
        & a span {
          height: 100%;
          & picture img {
            max-height: 100%;
            object-position: center bottom;
          }
        }
      }
    }
  }
}
