@use '../../../sass/styles/mixins' as m;
@use '../../../sass/util/functions' as f;

.showcase {
  display: block;
  width: 100%;
  padding: calc(f.rem(50) + f.rem(32)) 0 f.rem(115) 0;
  background-color: hsl(196, 27%, 92%);
  &__heading {
    padding: f.rem(50) 0 f.rem(50) 8vw;
    & h2 {
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  &__products {
    display: grid;
    place-items: center;
    max-width: f.rem(1600);
    & ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, calc(33% - f.rem(75)));
      gap: f.rem(25);
      width: 100%;
    }
  }
}
