@use '../../../sass/styles/mixins' as m;
@use '../../../sass/util/functions' as f;

.sideBySide {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% + f.rem(32));
  padding: 8vh 12vh;
  @media (width <= 600px) {
    padding: 5vw;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: f.rem(-32);
    left: 0;
    width: 100%;
    height: f.rem(32);
    z-index: 10;
    border-bottom-right-radius: f.rem(64);
    border-bottom-left-radius: f.rem(64);
    background-color: hsl(0, 0%, 96%);
  }
  &__information,
  &__video {
    width: 50%;
  }
  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4,
    h2,
    p {
      color: var(--textPrimary);
    }
    & h4 {
      font-size: f.rem(22);
      font-weight: 600;
      margin-bottom: f.rem(10);
    }
    & h2 {
      width: 25ch;
      font-style: italic;
      font-size: f.rem(40);
      line-height: 115%;
      font-weight: 800;
      margin-bottom: f.rem(15);
    }
    & p {
      width: 40ch;
      font-weight: 500;
      margin-bottom: f.rem(15);
    }
  }
  &__video {
    @media (width <= 1375) {
      position: absolute;
      left: 0;
      top: 0;
    }
    & video {
      aspect-ratio: 4/5;
      min-height: 90vh;
      border-radius: f.rem(40);
      pointer-events: unset;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
