@use '../../../sass/styles/mixins' as m;
@use '../../../sass/util/functions' as f;

.sideBySide {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100% + f.rem(32));
  padding: f.rem(50) 8vw;
  @media (width <= 1460px) {
    height: 100vh;
    padding: 0 0;
    margin: f.rem(100) 0;
  }
  @media (width <= 930px) {
    flex-direction: column;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: f.rem(-32);
    left: 0;
    width: 100%;
    height: f.rem(32);
    z-index: 10;
    border-bottom-right-radius: f.rem(64);
    border-bottom-left-radius: f.rem(64);
    background-color: hsl(0, 0%, 96%);
  }
  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: var(--textPrimary);
    @media (width <= 1460px <= 930px) {
      position: absolute;
      bottom: 3%;
      left: 3%;
      width: fit-content;
      height: fit-content;
      z-index: 3;
      padding: 2.5% 3%;
      border-radius: f.rem(6);
      border-top-right-radius: f.rem(24);
      border-bottom-left-radius: f.rem(24);
      border: 1px solid white;
      backdrop-filter: blur(5px);
      background-color: rgba(0, 0, 0, 0.25);
      color: white;
    }
    @media (width <= 930px) {
      position: relative;
      width: 100%;
      margin-bottom: f.rem(50);
    }
    & h4 {
      font-weight: 600;
    }
    & h2 {
      width: 25ch;
      margin-top: f.rem(5);
      font-style: italic;
      line-height: 100%;
      font-weight: 800;
    }
    & p {
      width: 40ch;
      margin-top: f.rem(10);
      font-weight: 500;
    }
  }
  &__video {
    display: grid;
    place-items: center;
    width: 50%;
    @media (width <= 1460px) {
      position: absolute;
      width: 100%;
    }
    @media (width <= 930px) {
      position: relative;
    }
    & video {
      aspect-ratio: 4/5;
      min-height: 90vh;
      border-radius: f.rem(40);
      pointer-events: unset;
      object-fit: cover;
      @media (width <= 1460px) {
        min-height: 0;
        max-height: 100vh;
        width: 100%;
      }
    }
  }
}
