@use '../../scss/ecommerceStyles' as m;
@use '../../../sass/functions' as f;

.sideBySide {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: f.rem(32) var(--sectionXPadding) calc(var(--sectionYPadding)) var(--sectionXPadding);
  background-color: var(--elemBackgroundPrimaryOffset);
  @media (width <= 980px) {
    flex-direction: column;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: f.rem(32);
    z-index: 10;
    border-bottom-right-radius: f.rem(64);
    border-bottom-left-radius: f.rem(64);
    background-color: var(--elemBackgroundPrimaryOffset);
    @media (width > 981px) {
    }
  }
  &__textArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: fit-content;
    padding: 0 f.rem(50);
    @media (width <= 980px) {
      width: 100%;
      height: auto;
      padding-bottom: f.rem(50);
      padding: f.rem(25) f.rem(50);
    }
    & h2 {
      display: flex;
      flex-direction: column;
      width: fit-content;
      padding-bottom: f.rem(6);
      font-size: clamp(f.rem(26), f.rem(16) + 2vw, f.rem(40));
      font-weight: 800;
      line-height: 115%;
      text-transform: uppercase;
      @media (width >= 467px) {
        font-size: clamp(f.rem(20), f.rem(28) + 1vw, f.rem(34));
      }
    }
    & p {
      width: clamp(20ch, 100%, 55ch);
      padding: 0 f.rem(4);
      font-size: clamp(f.rem(12), f.rem(14) + 1vw, f.rem(20));
      font-weight: 500;
    }
    & a {
      margin-top: f.rem(18);
      @include m.ecoBtn;
      @include m.ecoBtnDark;
      width: fit-content;
    }
  }
  &__video {
    display: grid;
    place-items: end;
    width: 50%;
    height: inherit;
    padding: 0 f.rem(50);
    @media (width <= 980px) {
      width: 100%;
      height: auto;
    }
    & figure video {
      aspect-ratio: 0.8/1;
      border-radius: f.rem(24);
      box-shadow: var(--shadowSoft);
      object-fit: contain;
      pointer-events: unset;
    }
  }
}
