@use '../../../scss/filmDatabaseStyles' as s;
@use '../../../../sass/functions' as f;

.fdHeader {
  position: relative;
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  row-gap: var(--fd-gap-mediaPoster);
  padding: calc(var(--fd-padding-generic) / 2.5) var(--fd-padding-generic);
  overflow: visible;
  &__row {
    align-self: center;
    &:nth-of-type(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    &:nth-of-type(2) {
      grid-area: 1 / 2 / 2 / 4;
      display: flex;
      justify-content: flex-end;
      gap: var(--fd-gap-mediaPoster);
    }
    &__navigation {
      &__ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        & li {
          font-family: 'Satoshi-Bold';
          font-size: clamp(f.rem(14), f.rem(14) + 1vw, f.rem(18));
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
    }
  }
}

.fdLogo {
  width: fit-content;
  & a h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi-Black';
  }
}
