@use '../../../scss/filmDatabaseStyles' as s;
@use '../../../../sass/functions' as f;

.fdHeader {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--fd-padding-generic);
  gap: var(--fd-gap-mediaPoster);
  min-height: 11rem;
  overflow: visible;
  & > * {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__row {
    &__logo h1 {
      display: flex;
      flex-direction: column;
      font-family: 'Satoshi-Black';
    }

    &__searchBar {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &__features {
    }
  }

  &__row {
    &__navigation {
      width: 100%;
      &__ul {
        display: flex;
        justify-content: center;
        width: 100%;
        & li {
          text-transform: capitalize;
          & a {
            @include s.fdButton;
            font-family: 'Satoshi-Bold';
          }
        }
      }
    }
  }
}
