@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseStyles' as s;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

.fdFooter {
  display: flex;
  flex-direction: column;
  gap: calc(var(--fd-gap-mediaPoster) * 3.25);
  padding: 0 var(--fd-padding-generic);
  &__section {
    &__nav {
      display: flex;
      &__ul {
        flex: 0 0 33.33333333333333%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: capitalize;
        &__wrapper {
          &__header {
            padding-bottom: f.rem(6);
            & h2 {
              font-family: 'Satoshi-Medium';
              font-size: var(--fd-font-size-section-header);
            }
          }
          &__li a {
            font-family: 'Satoshi-Regular';
          }
        }
      }
    }
  }

  &__blockquote {
    display: flex;
    justify-content: center;
    &__tmdbApiCredit p {
      font-family: 'Satoshi-Regular';
    }
  }
}
