@use '../../../../sass/styles/mixins' as m;
@use '../../../../sass/util/functions' as f;

.navkit {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 11rem;
  z-index: 10;
  top: 0;
  &__header {
    display: flex;
    place-items: center;
    width: 100%;
    max-width: f.rem(1584);
    margin: 0 5vw;
    @media (width <= 1200px) {
      flex-direction: column;
      flex-wrap: wrap;
    }
    &__section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5%;
      width: 60%;
      height: 50%;
      @media (width <= 1200px) {
        width: 100%;
      }
      &:nth-of-type(2) {
        justify-content: flex-end;
        width: 40%;
        @media (width <= 1200px) {
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
        }
        @media (width <= 650px) {
          display: none;
        }
      }
      &--nav {
        width: 100%;
      }
      &__links {
        display: flex;
        gap: 5%;
        align-items: center;
        width: 100%;
        @media (width <= 650px) {
          display: none;
        }
        & li a {
          color: hsl(0, 0%, 20%);
          font-size: clamp(f.rem(16), f.rem(10) + 0.5vw, f.rem(28));
          font-weight: 500;
          white-space: nowrap;
        }
        &--logo {
          margin-right: 3vw;
          white-space: nowrap;
          @media (width <= 650px) {
            display: none;
          }
        }
      }
      &__ui {
        &--btn {
          display: flex;
          align-items: center;
          height: f.rem(42);
          @include m.ecommerceBtn;
          @include m.BtnShadow;
          &:nth-of-type(1) {
            background-color: transparent;
          }
          & h4 {
            font-size: f.rem(12);
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
#logo {
  color: rgb(50, 50, 50);
  font-size: clamp(f.rem(18), f.rem(12) + 0.5vw, f.rem(30));
  font-weight: 600;
}
.dropMenu {
  position: relative;
  @media (width <= 650px) {
    display: none;
  }
  &__indicator {
    cursor: pointer;
    &--interior {
      display: flex;
      align-items: center;
      gap: f.rem(5);
      flex-wrap: nowrap;
      white-space: nowrap;
      font-size: clamp(f.rem(16), f.rem(10) + 0.5vw, f.rem(28));
      font-weight: 500;
      & i {
        margin-top: f.rem(5);
        font-size: f.rem(14);
      }
    }
  }
  &__links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 125%;
    &[data-activity='inactive'] {
      display: none;
    }
    &__link {
      padding-bottom: f.rem(6);
      & a {
        color: hsl(0, 0%, 20%);
        font-size: clamp(f.rem(12), f.rem(6) + 0.5vw, f.rem(18));
        font-weight: 500;
        white-space: nowrap;
      }
    }
  }
}
.fa-gear,
.fa-cart-shopping {
  padding-right: f.rem(6);
  font-size: f.rem(14);
}
.fa-bars {
  color: white;
}
.mobileMenu {
  display: flex;
  align-items: center;
  width: 100%;
  @media (width > 650px) {
    display: none;
  }
  &__logo {
    width: 50%;
    white-space: nowrap;
    & a {
      color: rgb(50, 50, 50);
      font-size: clamp(f.rem(18), f.rem(12) + 1.5vw, f.rem(30));
      font-weight: 700;
      text-transform: capitalize;
    }
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    &__indicator {
      @include m.ecommerceBtn;
      font-size: clamp(f.rem(18), f.rem(12) + 1.5vw, f.rem(32));
    }
    &__slideContainer {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      margin-right: -5vw;
      pointer-events: none;
      &[data-activity='inactive'] {
        display: none;
      }
    }
    &__slideIn {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 5vh;
      width: 100%;
      height: 85%;
      z-index: 10;
      padding: 5vh 8vw;
      margin: 2vh 5vw;
      border-radius: f.rem(16);
      background-color: hsl(0, 0%, 97%);
      pointer-events: all;
      & ul {
        display: flex;
        flex-direction: column;
        gap: f.rem(10);
        &:nth-of-type(2) {
          position: absolute;
          bottom: 4vh;
        }
        & li a {
          font-size: clamp(f.rem(16), f.rem(10) + 0.5vw, f.rem(28));
          font-weight: 500;
          color: hsl(0, 0%, 19.607843137254903%);
        }
      }
    }
  }
}
div.searchBar:nth-child(2) > div:nth-child(1) > input:nth-child(2) {
  box-shadow: #f0f0f0 -1px -1px 20px 0px, #fff -4px -4px 5px 0px, rgba(255, 255, 255, 0.97) 7px 7px 20px 0px, rgb(232, 232, 232) 4px 4px 5px 0px !important;
}
