@use '../sass/util/functions' as f;

#portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(0, 0%, 10%);
  color: #fff;
}

//Colors
$transparentElem: rgba(0, 0, 0, 0.5);
$transparentElemLight: rgba(209, 209, 209, 0.25);
$messageYellow: hsl(48, 56%, 54%);

//Spacing
$viewportMarginTopBottom: 2.963%;
$viewportMarginRightLeft: 8.33%;
$portfolioGap: f.rem(18);
