@use '../../sass/functions' as f;
@use '../scss/portfolioStyles' as m;

.portfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: max-content;
  height: 100vh;
  background-color: m.$background-color-primary;
  color: m.$font-color-primary;
  overflow: hidden;
  // font: [font-style] [font-variant] [font-weight] font-size/line-height font-family;
  font:
    normal normal 500 1.1rem / 1.25em 'Helvetica',
    'PT Sans',
    sans-serif;
  letter-spacing: 0.04rem;
  & button,
  & a,
  & span,
  & h2 {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
  }
  &__projectHub,
  &__features {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: inherit;
    & h2 {
      display: none;
    }
  }
  &__projectHub {
    overflow: hidden;
  }
  &__features {
    display: grid;
    place-items: center;
    background-color: m.$background-color-cream;
    overflow: hidden scroll;
  }
}

@keyframes opacityFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.data-mount-animation-fade-in {
  animation: opacityFade 350ms ease-in;
}
