@use '../../../ecommerceStyles' as m;
@use '../../../../sass/util/functions' as f;

.browseProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  max-width: f.rem(1600);
  margin-bottom: calc(f.rem(50) + f.rem(64));
}
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(33% - f.rem(75)));
  grid-auto-rows: 1fr;
  gap: f.rem(50);
  justify-content: center;
  max-width: f.rem(1600);
  margin-bottom: f.rem(50);
  @media (width <= 1128px) {
    grid-template-columns: repeat(auto-fit, calc(50% - f.rem(75)));
  }
  @media (width <= 766px) {
    grid-template-columns: 1fr;
    place-items: center;
    gap: f.rem(40) f.rem(50);
  }
  &__product {
    position: relative;
    height: 100%;
    aspect-ratio: 4/5;
    border-radius: f.rem(26);
    box-shadow: var(--shadowSoft);
    transition: 0.55s ease-in-out;
    @media (width <= 766px) {
      height: clamp(f.rem(350), calc(f.rem(600) + 1.5vh), f.rem(700));
      margin: 0 8vw;
    }
    @media (width <= 490px) {
      height: clamp(f.rem(300), calc(f.rem(400) + 1.5vh), f.rem(450));
      margin: 0 8vw;
    }
    &--containedHover {
      display: block;
      height: 60%;
      border-top-left-radius: f.rem(26);
      border-top-right-radius: f.rem(26);
      overflow: hidden;
    }
    & picture {
      position: relative;
      border-top-left-radius: f.rem(26);
      border-top-right-radius: f.rem(26);
      @include m.productPhoto;
      @include m.productPhotoHover;
      transition: ease-in-out 0.35s;
      & img {
        max-height: f.rem(400);
        padding: f.rem(10) f.rem(15) f.rem(0) f.rem(15);
        object-fit: scale-down;
        mix-blend-mode: darken;
      }
    }
    &__information {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 40%;
      padding: 2vh 1.5vw;
      border-bottom-left-radius: f.rem(26);
      border-bottom-right-radius: f.rem(26);
      background-color: var(--elemBackgroundPrimary);
      & h2,
      h3 {
        width: inherit;
        padding-bottom: f.rem(5);
      }
      & h2 {
        font-size: clamp(f.rem(14), f.rem(14) + 1vw, f.rem(20));
        font-weight: 600;
      }
      & p {
        display: -webkit-box;
        width: inherit;
        height: f.rem(66);
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.3rem;
        @media (width >= 1570px) {
          -webkit-line-clamp: 5;
          height: f.rem(108);
        }
        @media (width <= 1226px) {
          -webkit-line-clamp: 2;
          height: f.rem(44);
        }
        @media (width <= 1128px) {
          -webkit-line-clamp: 5;
          height: f.rem(106);
        }
        @media (width <= 996px) {
          -webkit-line-clamp: 4;
          height: f.rem(84);
        }
        @media (width <= 910px) {
          -webkit-line-clamp: 3;
          height: f.rem(60);
        }
        @media (width <= 766px) {
          -webkit-line-clamp: 5;
          height: f.rem(108);
        }
        @media (width <= 490px) {
          -webkit-line-clamp: 3;
          height: f.rem(62);
        }
      }
      & h3 {
        font-weight: 400;
        height: 100%;
      }
    }
    & button {
      width: 100%;
      @include m.ecoBtn;
      @include m.ecoBtnDark;
      margin-top: f.rem(10);
      font-size: clamp(f.rem(12), f.rem(9) + 1vw, f.rem(15));
      font-weight: 500;
      letter-spacing: var(--navigationLetterSpacing);
    }
  }
}
