@use '../../../scss/ecommerceStyles' as m;
@use '../../../../sass/functions' as f;

.ecoModal {
  &__header {
    height: 6%;
    font-size: clamp(f.rem(18), f.rem(24) + 1vw, f.rem(30));
    font-weight: 700;
  }
  &__products {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 560px;
    margin: 0 0 f.rem(15) 0;
    overflow-y: auto;
    scrollbar-width: none;
    &__emptyCart {
      display: flex;
      flex-direction: column;
      &__header {
        margin-bottom: 6%;
        & span {
          font-size: clamp(f.rem(12), f.rem(10) + 1vw, f.rem(16));
          font-weight: 600;
        }
      }
      &__nav {
        display: flex;
        flex-direction: column;
        gap: f.rem(10);
        & li a,
        & li button {
          @include m.ecoBtn;
          @include m.ecoBtnDark;
          width: 100%;
        }
      }
    }
  }
  &__lineItem {
    display: flex;
    align-items: center;
    height: calc(560px / 3.5);
    max-height: calc((80vh - 14%) / 4);
    margin-left: -2%;
    & picture {
      position: relative;
      width: 45%;
      height: inherit;
      z-index: 3;
      mix-blend-mode: darken;
      & img {
        max-height: inherit;
        object-fit: scale-down;
      }
    }
    &__information {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 8%;
      width: 55%;
      height: fit-content;
      margin-top: -20px;
      & hgroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & h2 {
          display: none;
        }
        & h3 {
          font-size: clamp(f.rem(12), f.rem(14) + 1vw, f.rem(20));
          font-weight: 700;
          margin-bottom: 2%;
        }
        & h4 {
          font-size: clamp(f.rem(12), f.rem(12) + 1vw, f.rem(20));
          font-weight: 500;
          margin-bottom: 4%;
        }
      }
      &__quantity {
        display: flex;
        gap: f.rem(6);
        width: fit-content;
        border-radius: f.rem(6);
        @include m.ecoBtnDark;
        & button,
        & span {
          display: grid;
          place-items: center;
          padding: f.rem(6) f.rem(12);
          color: var(--fontSecondary);
        }
        & button {
          &:nth-of-type(1) {
            border-right: 1px solid hsl(0, 0%, 30%);
            border-top-left-radius: f.rem(8);
            border-bottom-left-radius: f.rem(8);
          }
          &:nth-of-type(2) {
            border-left: 1px solid hsl(0, 0%, 30%);
            border-top-right-radius: f.rem(8);
            border-bottom-right-radius: f.rem(8);
          }
        }
      }
    }
  }
  &__orderDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0 !important;
    & button {
      display: flex;
      justify-content: center;
      width: 100%;
      @include m.ecoBtn;
      @include m.ecoBtnDark;
      font-size: f.rem(14);
    }
  }
}

#shoppingCartHeader {
  padding-bottom: f.rem(6);
}
