@use '../../../scss/ecommerceStyles' as m;
@use '../../../../sass/functions' as f;

.shoppingCart {
  display: contents;
}

.shoppingCart__header {
  font-size: clamp(f.rem(18), f.rem(24) + 1vw, f.rem(30));
  font-weight: 700;
  text-align: center;
  padding-bottom: f.rem(12);
}

.shoppingCart__products {
  width: 100%;
  height: auto;
  margin-bottom: f.rem(36);
  & li {
    display: contents;
  }
  &__lineItem {
    display: flex;
    align-items: center;
    & figure {
      display: contents;
      & picture {
        width: 45%;
        height: 100%;
        mix-blend-mode: darken;
        & img {
          object-fit: scale-down;
        }
      }
    }
    &__information {
      display: inline-table;
      width: 55%;
      height: fit-content;
      padding-left: f.rem(6);
      margin-top: -20px;
      &__details {
        display: inline-table;
        & h2 {
          display: none;
        }
        & h3 {
          font-size: clamp(f.rem(12), f.rem(14) + 1vw, f.rem(20));
          font-weight: 700;
          margin-bottom: 2%;
        }
        & h4 {
          font-size: clamp(f.rem(12), f.rem(12) + 1vw, f.rem(20));
          font-weight: 500;
          margin-bottom: 4%;
        }
      }
      &__quantity {
        display: flex;
        gap: f.rem(6);
        width: fit-content;
        border-radius: calc(var(--ecoBorderRadius) / 4);
        @include m.ecoBtnDark;
        & button,
        & span {
          display: grid;
          place-items: center;
          padding: f.rem(6) f.rem(12);
          color: var(--fontSecondary);
        }
        & button {
          &:nth-of-type(1) {
            border-right: 1px solid hsl(0, 0%, 30%);
            border-top-left-radius: f.rem(8);
            border-bottom-left-radius: f.rem(8);
          }
          &:nth-of-type(2) {
            border-left: 1px solid hsl(0, 0%, 30%);
            border-top-right-radius: f.rem(8);
            border-bottom-right-radius: f.rem(8);
          }
        }
      }
    }
  }
}

.shoppingCart__buttons {
  display: flex;
  flex-direction: column;
  gap: f.rem(12);
  width: 100%;
  & > * {
    @include m.ecoBtn;
    @include m.ecoBtnDark;
    font-size: f.rem(14);
    & svg {
      margin-bottom: -0.4%;
    }
  }
}

.shoppingCart__products__emptyCart {
  display: flex;
  flex-direction: column;
  &__header {
    margin-bottom: 6%;
    & span {
      font-size: clamp(f.rem(12), f.rem(10) + 1vw, f.rem(16));
      font-weight: 600;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: f.rem(10);
    & li a,
    & li button {
      @include m.ecoBtn;
      @include m.ecoBtnDark;
      width: 100%;
    }
  }
}
