@use '../../../../../ecommerceStyles' as m;
@use '../../../../../../sass/util/functions' as f;

.eFooter__additions__socialMedia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: f.rem(25);
  & a svg:nth-child(1) {
    border-radius: f.rem(6);
  }
  @media (width <= 1600px) {
    justify-content: center;
  }
}
