// Fonts
@mixin fdFontXXL {
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: var(--fd-font-size-xxl);
  line-height: normal;
  color: white;
}
@mixin fdFontXL {
  font-family: 'Satoshi';
  font-weight: 600;
  font-size: var(--fd-font-size-xl);
  line-height: normal;
  color: white;
}
@mixin fdFontL {
  font-family: 'Satoshi';
  font-weight: 500;
  font-size: var(--fd-font-size-l);
  line-height: normal;
  color: white;
}
@mixin fdFontM {
  font-family: 'Satoshi';
  font-weight: 400;
  font-size: var(--fd-font-size-m);
  line-height: normal;
  color: white;
}
@mixin fdFontS {
  font-family: 'Satoshi';
  font-weight: 300;
  font-size: var(--fd-font-size-s);
  line-height: normal;
  color: white;
}

// Scroll Snapping
@mixin scrollSnappingXAxis {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scroll-padding: 0 0;
  overscroll-behavior: contain;
}
@mixin scrollSnappingYAxis {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-padding: 0 0;
  overscroll-behavior: contain;
}
