@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

@media (width >= 1600px) {
  .fdMedia {
    overscroll-behavior: contain;
    overflow: hidden;
  }
}

@media (width <= 1410px) {
  .filmDatabase {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
  }

  .fdMedia__carousel__wrapper__ul[data-layout='carousel'] {
    scroll-snap-type: x mandatory;
  }

  .fdMedia__carousel__wrapper__navigation {
    display: none;
  }
}
