// @use '../scss/filmDatabaseStyles' as s;
@use '../../sass/functions' as f;

:root {
  // Carousel Controller
  --fd-carousel-items-per-page: 7.15;
  --fd-carousel-font-header: clamp(1rem, 1rem + 1vw, 1.125rem);

  // Flat Grid Controller
  --fd-flat-grid-items-per-page: 6;
  --fd-flat-grid-font-header: clamp(1rem, 1.4rem + 1vw, 2rem);
  --fd-flat-grid-font-header-padding: 0 var(--fd-border-box-padding-RL) 1rem var(--fd-border-box-padding-RL);

  // Border Box && Gutters
  --fd-border-box-padding: 0 5.85%;
  --fd-border-box-padding-RL: 5.85%;
  --fd-border-box-section-padding: 0 var(--fd-border-box-padding-RL) var(--fd-border-box-padding-RL) var(--fd-border-box-padding-RL);
  --fd-poster-gutter: 1.875rem;
  --fd-poster-radius: 0.6rem;
  --fd-details-gap: calc(var(--fd-poster-gutter) / 2.5);

  // background colors
  --fd-background-color-primary: #1e2126;
  --fd-background-color-fallback: #040405;
  --fd-background-color-navigation: #16181d;

  // font colors
  --fd-font-color-primary: #fff;
  --fd-font-color-secondary: #909296;
  --fd-font-color-brand: #1ce783;
}

@mixin fdPosterDetails {
  &--h2 {
    font-size: clamp(16px, 100% + 1vw, 20px);
  }
  &--h3 {
    font-size: clamp(14px, 100% + 1vw, 16px);
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/D7WD5OXZFWQ5T76HSPWAC7MNKAJXE2YG/LUGNSPO5YC34ABNB2O6K7AFDSOJZT56V/WNDVG7O66ENLOD43GS7FBUCC4KMT5OM2.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/P2LQKHE6KA6ZP4AAGN72KDWMHH6ZH3TA/ZC32TK2P7FPS5GFTL46EU6KQJA24ZYDB/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}

.filmDatabase {
  position: relative;
  //font: {optional: style variant weight} size line-height "family", "fallback-font", fallback-font-type
  font:
    normal normal 500 100% / 1.8em 'Satoshi',
    sans-serif;
  font-size: clamp(f.rem(16), f.rem(12) + 1vw, f.rem(18));
  color: var(--fd-font-color-primary);
  background-color: var(--fd-background-color-primary);
}
