// @use '../scss/filmDatabaseStyles' as s;
@use '../../sass/functions' as f;

.filmDatabase {
  position: relative;
  //font: {optional: style variant weight} size line-height "family", "fallback-font", fallback-font-type
  font:
    normal normal 500 100% / 1.8em 'Satoshi-Medium',
    sans-serif;
  font-size: clamp(f.rem(16), f.rem(12) + 1vw, f.rem(18));
  letter-spacing: 0.01em;
  color: var(--fd-font-color-primary);
  background-color: var(--fd-background-color-primary);
}

:root {
  // Controller
  --fd-carousel-items-per-page: 7.5;
  --fd-flat-grid-items-per-page: 6;

  // Border Box && Gutters
  --fd-border-box-padding: 0 5.85%;
  --fd-border-box-padding-RL: 5.85%;
  --fd-border-box-section-padding: 0 var(--fd-border-box-padding-RL) var(--fd-border-box-padding-RL) var(--fd-border-box-padding-RL);
  --fd-poster-gutter: 1.875rem;
  --fd-poster-radius: 0.6rem;
  --fd-details-gap: calc(var(--fd-poster-gutter) / 2.5);
  --fd-button-radius: 0.8rem;
  --fd-flat-grid-font-header-padding: 0 var(--fd-border-box-padding-RL) 1rem var(--fd-border-box-padding-RL);

  // background colors
  --fd-background-color-primary: hsl(217, 12%, 13%);
  --fd-background-color-fallback: hsl(240, 11%, 2%);

  // Fonts
  --fd-font-size-section-header: clamp(1rem, 1.4rem + 1vw, 2rem);

  // font colors
  --fd-font-color-primary: hsl(0, 0%, 100%);
  --fd-font-color-secondary: hsl(220, 3%, 58%);
  --fd-font-color-brand: hsl(150, 81%, 51%);
}

@mixin fdButton {
  padding: 0.625rem 1.5rem;
  border-radius: var(--fd-button-radius);
  color: var(--fd-font-color-primary);
  cursor: pointer;
}

/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2024 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Light
 * Satoshi Regular
 * Satoshi Medium
 * Satoshi Bold
 * Satoshi Black
 *
*/
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi-Black';
  src: url('../fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
