@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseStyles' as s;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

.fdMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  height: 100%;
  &::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: inherit;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.7) 100%);
  }
  & > * {
    position: relative;
    z-index: 11;
  }
}

.fdMenu__toolbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--fd-padding-generic);
  &__cta {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__li {
      &--button {
        display: flex;
        gap: 20px;
        height: fit-content;
        &--key,
        &--icon {
          display: flex;
          align-items: center;
          color: white;
        }
        &--icon svg {
          width: 1.5em;
          height: 1.5em;
        }
        &--key {
          @include m.fdFontL;
        }
      }
    }
  }
  &__tmdbCredit {
    flex: 1 0 15%;
    display: flex;
    align-items: end;
    max-width: 32ch;
    &--p {
      font-family: 'Satoshi-Regular';
      font-size: f.rem(16);
      letter-spacing: 0.03em;
      line-height: normal;
      color: white;
      & a {
        color: cyan;
      }
    }
  }
}

.fdMenu__genres {
  padding: var(--fd-padding-generic) 0;
  &--heading {
    @include m.fdFontL;
  }
  &__ul {
    overflow-y: scroll;
    scrollbar-width: none;
    &__li {
      &--button {
        @include m.fdFontM;
      }
    }
  }
}
