@use '../../sass/functions' as f;

// Background colors
$background-color-primary: hsl(60, 6%, 10%);
$background-color-transparent-fallback: rgba(90, 90, 90, 0.5);

// Font Colors
$font-color-primary: hsl(0, 0%, 96%);
$font-color-indicate-warning: hsl(48, 56%, 54%);

// Box Model Spacing
$box-model-viewport-x: f.rem(160); // 8.33%
$box-model-viewport-y: f.rem(40); // calc(2.963% / 1.5)

// Gaps
$portfolio-gap: f.rem(24);
