@use '../../sass/functions' as f;

// Project Hub
$background-color-primary: hsl(60, 6%, 10%);
$background-color-black-offset: #28272d;
$background-color-cream: hsl(54, 33%, 94%);
$background-color-transparent-fallback: rgba(90, 90, 90, 0.5);

// Font Colors
$font-color-primary: hsl(0, 0%, 96%);
$font-color-secondary: hsl(60, 6%, 10%);
$font-color-indicate-warning: hsl(324, 33%, 94%);
$font-color-indicate-success: hsl(144, 33%, 94%);
$font-color-indicate-tooltip: hsl(234, 33%, 94%);

// Box Model Spacing
$box-model-viewport-x: f.rem(160); // 8.33%
$box-model-viewport-y: f.rem(40); // calc(2.963% / 1.5)

// Gaps
$portfolio-gap: f.rem(24);
