@use '../../sass/functions' as f;

#portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1c1c19;
  overflow: hidden;
  color: hsl(0, 0%, 100%);
  // Property: [Optional: style, variant, weight], size, line-height, family, fallback (font, font type)
  font:
    normal no-common-ligatures proportional-nums 500 1rem / 1.25em 'Helvetica',
    PT Sans,
    sans-serif;
  & button {
    color: hsl(0, 0%, 100%);
  }
}

// Background colors
$background-color-primary: hsl(49, 26%, 92%);
$background-color-transparent-fallback: rgba(90, 90, 90, 0.5);

// Font Colors
$font-color-primary: hsl(0, 0%, 100%);
$font-color-issue: hsl(48, 56%, 54%);

// Box Model Spacing
$box-model-viewport-x: f.rem(160); // 8.33%
$box-model-viewport-y: f.rem(40); // calc(2.963% / 1.5)

// Gaps
$portfolio-gap: f.rem(24);
