@use '../../../sass/util/functions' as f;
@use '../../portfolioStyles' as m;

.dialog {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  &__modal {
    position: absolute;
    top: f.rem(95);
    right: 8.33%;
    width: f.rem(350);
    height: fit-content;
    z-index: 25;
    padding: f.rem(46) f.rem(36) f.rem(30) f.rem(36);
    border: 0.3rem solid hsl(210, 1%, 26%);
    border-radius: f.rem(18);
    background-color: hsl(225, 4%, 20%);
    box-shadow: inset 0.3rem 0.3rem 0.9rem hsl(0, 0%, 9%), inset 0.6rem 0.6rem 1.5rem hsl(0, 0%, 21%), inset -0.6rem -0.6rem 1.5rem hsl(0, 0%, 13%);
    transform: translateX(108.33%);
    transition: height 250ms ease-in-out, transform 250ms ease-out, opacity 250ms ease-out;
    pointer-events: none;
    opacity: 0;
    &[data-show='true'] {
      transform: translate3d(0, 0, 0);
      transition: transform 250ms ease-in, opacity 250ms ease-in;
      opacity: 1;
      pointer-events: all;
    }
    &__header {
      display: flex;
      margin-bottom: f.rem(25);
      &__col {
        display: flex;
        width: 50%;
        text-transform: capitalize;
        &:nth-of-type(2) {
          justify-content: flex-end;
        }
        & button svg {
          font-size: clamp(f.rem(16), f.rem(10) + 0.5vw, f.rem(28));
        }
      }
    }
    &__contact {
      display: block;
      &__form {
        display: flex;
        flex-direction: column;
        gap: f.rem(24);
        padding-bottom: f.rem(24);
        &__field {
          position: relative;
          &--label {
            position: absolute;
            top: f.rem(-12);
            left: f.rem(20);
            z-index: 11;
            color: hsl(0, 0%, 92%);
            font-size: clamp(f.rem(12), f.rem(8) + 0.5vw, f.rem(14));
            transform: translateY(f.rem(24));
            transition: color 150ms ease-in, font-size 150ms ease-in, letter-spacing 150ms ease-in, transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
            &::before {
              content: '';
              position: absolute;
              display: block;
              background-color: hsl(225, 4%, 20%);
              border-radius: f.rem(8);
              width: 120%;
              height: 100%;
              z-index: -1;
              left: -10%;
            }
            &[data-status='active'] {
              color: rgba(255, 255, 0, 0.85);
              font-size: f.rem(12);
              letter-spacing: 0.08em;
              transform: translateY(f.rem(4));
              transition: color 150ms ease-out, font-size 150ms ease-out, letter-spacing 150ms ease-out, transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            &:hover {
              cursor: text;
            }
          }
          &--input {
            position: relative;
            z-index: 10;
            padding: 0 0 0 f.rem(12);
            border: 1px solid hsl(0, 0%, 30%);
            border-radius: f.rem(5);
            cursor: text;
            color: hsl(0, 0%, 92%);
            line-height: f.rem(42);
          }
        }
      }
    }
  }
}
