@use '../../../../sass/util/functions' as f;
@use '../../../portfolioStyles' as m;

.portFooter {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: f.rem(234);
  z-index: 10;
  &__navInfo {
    position: absolute;
    top: -15%;
    right: 20%;
    z-index: 11;
    opacity: 0.7;
  }
}
.portNavigation {
  position: relative;
  display: block;
  width: 80.365%;
  max-height: inherit;
  overflow: hidden;
  padding: 0 m.$viewportMarginRightLeft m.$viewportMarginTopBottom m.$viewportMarginRightLeft;
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
  &__nav {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: f.rem(22);
    width: fit-content;
    z-index: 10;
    & > * {
      display: inline-block;
      width: 100%;
      pointer-events: none;
      white-space: normal;
    }
    article {
      position: relative;
      display: flex;
      flex: 0 0 f.rem(250);

      & picture {
        width: f.rem(422);
        aspect-ratio: 211/101;
        border-radius: f.rem(13);
        background-color: m.$transparentElem;
        & img {
          border-radius: f.rem(13);
          object-fit: cover;
        }
      }
      & hgroup {
        position: absolute;
        bottom: f.rem(10);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        white-space: nowrap;
        &[data-status='active'] {
          transition: opacity 0.85s ease-in;
        }
        &[data-status='disabled'] {
          filter: opacity(20%);
          transition: filter 0.85s ease-out;
        }
        & h2 {
          font-size: clamp(f.rem(18), f.rem(12) + 1vw, f.rem(34));
          text-transform: uppercase;
        }
        & h3 {
          font-size: clamp(f.rem(14), f.rem(8) + 0.5vw, f.rem(24));
        }
      }
    }
  }
}
