@use '../../../../sass/util/functions' as f;

.portFooter {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 9;
  padding: f.rem(50) f.rem(80);
  &__nav {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: f.rem(50);
    width: fit-content;
    z-index: 10;
    overflow: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
    & a {
      content: '';
      article {
        position: relative;
        display: flex;
        flex: 0 0 f.rem(250);
        pointer-events: none;
        & picture {
          width: min(27.5vw, 34.375rem);
          max-height: f.rem(280);
          aspect-ratio: 5/3;
          border-radius: f.rem(26);
          &.active {
            flex: 0 0 f.rem(1154);
            transition: flex 0.85s ease-in-out;
          }
          & img {
            border-radius: f.rem(26);
            object-fit: cover;
            filter: brightness(60%) blur(1px);
          }
        }
        & hgroup {
          position: absolute;
          bottom: 0;
          display: flex;
          flex-direction: column;
          z-index: 10;
          padding: f.rem(20) f.rem(25);
        }
      }
    }
  }
}
