@use '../../../scss/ecommerceStyles' as m;
@use '/app/base/sass/util/functions' as f;

.skuPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10.335% f.rem(50) 10.335%;
  margin-bottom: f.rem(104);
  @media (width <= 500px) {
    padding: 0 calc(10.335% / 2) f.rem(50) calc(10.335% / 2);
  }
  &__grid {
    position: relative;
    width: 100%;
    max-width: f.rem(1600);
    height: 65svh;
    border-radius: var(--ec-border-radius);
    margin: f.rem(0) 0 f.rem(100) 0;
    @include m.productPhoto;
    box-shadow: var(--ec-shadow-soft);
    @media (width > 1300px) {
      display: flex;
    }
    @media (width <= 1300px) {
      display: grid;
      height: auto;
      grid-template-areas: 'display display' 'details details';
    }
    @media (width <= 700px) {
      grid-template-areas: 'display display' 'imgSelection imgSelection' 'details details';
    }
  }
}

.skuPage__grid__imgSelection {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: auto;
  grid-auto-flow: row;
  width: 20%;
  height: 100%;
  border-right: var(--ec-border-chunky);
  border-top-left-radius: f.rem(24);
  border-bottom-left-radius: f.rem(24);
  overflow: auto;
  scrollbar-width: none;
  cursor: pointer;
  @media (width <= 1300px) {
    grid-area: imgSelection;
    display: none;
  }
  @media (width <= 700px) {
    display: flex;
    border-top: var(--ec-border-chunky);
    border-radius: 0;
  }
  & picture {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include m.productPhoto;
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      mix-blend-mode: darken;
      pointer-events: all;
      transition: transform 0.35s ease-in-out;
      &:hover {
        transform: scale(130%);
      }
    }
  }
}

.skuPage__grid__display {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 38%);
  height: inherit;
  overflow: hidden;
  @media (width <= 1300px) {
    grid-area: display;
    width: 100%;
    height: f.rem(450);
  }
  &__primaryImg {
    position: absolute;
    inset: 0;
    width: auto;
    height: 100%;
    padding: 80px 0;
    object-fit: scale-down;
    pointer-events: none;
    &--picture {
      position: relative;
      display: grid;
      place-items: center;
      width: auto;
      height: inherit;
      pointer-events: none;
      // @include m.productPhoto;
      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        mix-blend-mode: darken;
        pointer-events: all;
        transition: ease-in-out 0.35s;
      }
    }
    &__magnifier {
      position: absolute;
      top: 0;
      left: 0;
      translate: -50% -50%;
      width: f.rem(200);
      height: f.rem(200);
      z-index: 4;
      border-radius: var(--ec-border-radius);
      background-repeat: no-repeat;
      overflow: hidden;
      pointer-events: none;
      image-rendering: crisp-edges;
      @include m.productPhoto;
      filter: brightness(110%);
      &::after {
        content: 'SCROLL TO ZOOM';
        position: absolute;
        right: 1.5%;
        top: 15%;
        z-index: 20;
        width: 20px;
        height: 100%;
        writing-mode: vertical-rl;
        text-wrap: nowrap;
        color: white;
      }
      & img {
        width: auto; //Avoid inheritance
        height: auto; //Avoid inheritance
        object-fit: scale-down;
        mix-blend-mode: darken;
      }
    }
  }
  &__heading {
    position: absolute;
    top: 0;
    z-index: 2;
    display: grid;
    place-items: center;
    width: 100%;
    height: 14%;
    pointer-events: none;
    font-size: clamp(f.rem(16), f.rem(18) + 1vw, f.rem(24));
    font-weight: 700;
    text-transform: capitalize;
  }
  &__nav {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 14%;
    padding: 0 5%;
    pointer-events: none;
    &__container:nth-of-type(2) {
      justify-content: flex-end;
    }
    &__container {
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
      pointer-events: none;
      & button {
        @include m.ecoBtn;
        font-size: f.rem(16);
        font-weight: 600;
        text-transform: capitalize;
        color: var(--ec-font-primary);
        opacity: 0.5;
        pointer-events: all;
        &:hover {
          opacity: 1;
          transition: opacity 0.18s ease-in-out;
        }
        & span {
          display: flex;
          align-items: center;
          height: 100%;
          & span {
            margin-bottom: f.rem(2);
          }
          & svg {
            height: f.rem(30);
          }
        }
        &:first-child {
          justify-content: flex-start;
        }
        &:last-child {
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }
}

.skuPage__grid__details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38%;
  z-index: 1;
  padding: f.rem(25) 0;
  border-top-right-radius: f.rem(24);
  border-bottom-right-radius: f.rem(24);
  background-color: var(--ec-background-secondary);
  text-align: start;
  color: var(--ec-font-secondary);
  @media (width <= 1300px) {
    grid-area: details;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: f.rem(24);
    border-bottom-left-radius: f.rem(24);
  }
  @media (width <= 700px) {
    display: flex;
    border-top-right-radius: 0;
    border-bottom-right-radius: f.rem(24);
    border-bottom-left-radius: f.rem(24);
  }
  &__block {
    width: 80%;
    padding: f.rem(25) 0;
    overflow: hidden;
    & hgroup {
      & h1 {
        display: none;
        line-height: 115%;
      }
      & h2 {
        font-size: clamp(f.rem(16), f.rem(14) + 1vw, f.rem(18));
        font-weight: 600;
        line-height: 115%;
      }
      & h3 {
        font-size: clamp(f.rem(18), f.rem(28) + 1vw, f.rem(34));
        font-weight: 700;
        line-height: 115%;
      }
    }
    & p {
      margin: f.rem(12) 0 f.rem(25) 0;
    }
    & button {
      @include m.ecoBtn;
      @include m.ecoBtnLight;
      gap: f.rem(5);
      width: 100%;
      font-size: f.rem(16);
    }
  }
}
