@use '../../../sass/util/functions' as f;
@use '../../portfolioStyles' as m;

.portfolioNavigation {
  position: absolute;
  top: 20%;
  right: 8%;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  & button,
  & a,
  &__unavailable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(6);
    padding: 0 calc(m.$portfolioGap / 2);
    color: hsl(0, 0%, 34%);
    font-size: clamp(f.rem(12), f.rem(12) + 1vw, f.rem(18));
    font-weight: 400;
    letter-spacing: f.rem(1.2);
    text-transform: uppercase;
    &:hover {
      color: white;
      transition: color 0.35s ease-in-out;
    }
  }
}
