@use '/app/base/sass/util/functions' as f;
@use '/app/portfolio/scss/portfolioStyles' as s;

.contact {
  position: relative;
  display: grid;
  place-items: center;
  width: 100svw;
  height: 100svh;
  @media (width <= 1480px) {
    height: auto;
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 8rem s.$box-model-viewport-x 8rem s.$box-model-viewport-x;
    @media (width <= 1480px) {
      width: 100%;
      padding: calc(s.$box-model-viewport-x / 2) s.$box-model-viewport-x s.$box-model-viewport-x s.$box-model-viewport-x;
    }
    & article {
      padding-bottom: calc(s.$portfolio-gap * 3);
      & h2,
      p {
        width: clamp(20ch, 100%, 65ch);
      }
      & h2 {
        font-size: clamp(1.5rem, 2.5vw, 1.875rem);
        font-weight: 600;
        line-height: 125%;
        white-space: nowrap;
      }
      & p {
        font-size: clamp(1.125rem, 2vw, 1.5rem);
        line-height: 125%;
      }
    }
    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(s.$portfolio-gap * 2);
      height: 100%;
      & ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 3.2rem;
        column-gap: 5rem;
        width: 100%;
        @media (width <= 660px) {
          flex-direction: column;
        }
        & li {
          flex: 1 1 calc(50% - 5rem);
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          &:has(input:focus) label,
          &:has(input:not(:focus):not(:placeholder-shown)) label {
            // reflects height of input: height (font-size) + padding-bottom
            transform: translateY(calc((1.125rem + 6px + 6px) * -1));
            transition: transform ease-in-out 65ms;
          }
          &:has(textarea) label {
            position: relative;
          }
          & label {
            position: absolute;
            top: -6px;
            left: 6px;
            transform: translateY(0px);
            pointer-events: none;
          }
          & input,
          & textarea {
            padding: 0 0 6px 4px;
          }
          & input {
            width: 100%;
            border-bottom: 1px solid #868686;
            border-bottom-right-radius: 3px;
            // border-bottom-left-radius: 3px;
            white-space: nowrap;
          }
          & input:not([type='textarea']) {
            // Matches font-size + padding
            height: calc(1.125rem + 6px);
          }
          & textarea {
            width: 100%;
            min-height: 2.25rem;
            border: 1px solid #868686;
            border-radius: 3px;
            background-color: transparent;
            white-space: wrap;
          }
        }
      }
      & button {
        width: fit-content;
        padding: 0.5rem 0rem;
        margin-left: 0.65rem;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
}
