@use '../../util/functions' as u;
@use '../../styles/mixins' as i;

.sectionReset {
  max-width: fit-content;
  margin: u.rem(20) u.rem(10);
}
.browseProduct {
  max-width: u.rem(1600);
  margin: 0 auto;
}
