@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdUserAccount {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  overflow: clip;
}

.fdUserAccount__article {
  display: grid;
  gap: calc(var(--fd-gap) * 2);
  place-items: center;
  z-index: 9;
  &__about {
    &--blockquote {
      @include m.fdFontS;
      padding-bottom: 12px;
    }
    &__hgroup {
      max-width: 68ch;
      &--h1 {
        @include m.fdFontXXL;
        text-transform: uppercase;
        line-height: 1.2em;
      }
      &--h2 {
        @include m.fdFontL;
      }
    }
  }
}

.fdUserAccount__form {
  &__fieldset {
    &__legend {
      &--h2 {
      }
    }
  }
  &__ul {
    & li {
      & label {
      }
      & label input {
      }
    }
  }
}
