@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdUserAccount {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  overflow: clip;
  &::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 100;
    background-image: url(/src/film-database/assets/giphy/noise_giphy.gif);
    background-size: 480px;
    background-attachment: fixed;
    opacity: 0.04;
    pointer-events: none;
  }
  &--h2 {
    display: none;
  }
}

.fdUserAccount__article {
  z-index: 9;
  display: grid;
  place-items: center;
  gap: calc(var(--fd-gap) * 2);
  margin-bottom: 2.5%;
  text-align: center;
  &__about {
    &--blockquote {
      @include m.fdFontM;
      font-weight: 900;
      text-transform: lowercase;
      text-shadow: var(--fd-font-shadow);
      padding-bottom: var(--fd-gap);
      &--tmdb {
        color: #2ebbd0;
      }
    }
    &__hgroup {
      max-width: 68ch;
      &--h1 {
        @include m.fdFontXXL;
        text-shadow: var(--fd-font-shadow);
        text-transform: uppercase;
        line-height: 1.2em;
      }
      &--h2 {
        @include m.fdFontL;
        text-shadow: var(--fd-font-shadow);
      }
    }
  }
  &__cta {
    display: flex;
    gap: var(--fd-gap);
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 6px 18px;
      border-radius: var(--fd-borderRadius);
      background: linear-gradient(90deg, rgba(248, 249, 237, 1) 0%, rgba(247, 243, 230, 1) 100%);
      box-shadow:
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        inset 0px 10px 15px -3px hsl(46, 36%, 60%);
      @include m.fdFontM;
      font-weight: 500;
      text-transform: lowercase;
      text-shadow: var(--fd-font-shadow);
      color: rgb(59, 59, 59);
    }
    &--signin {
    }
    &--guest {
    }
    &--signup {
    }
  }
}

.fdUserAccount__form {
  &__fieldset {
    &__legend {
      &--h2 {
      }
    }
  }
  &__ul {
    & li {
      & label {
      }
      & label input {
      }
    }
  }
}

.fdUserAccount {
  &__account {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--fd-borderRadius);
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(26, 25, 40, 1) 0%, rgba(19, 6, 6, 1) 100%);
      box-shadow:
        inset 39px 21px 100px 65px rgba(0, 0, 0, 0.705),
        0px 0px 100px 100px rgba(0, 0, 0, 0.58),
        0px 0px 600px 10px rgba(0, 0, 0, 0.7);
      opacity: 0.6;
    }
  }
  &__ul {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100svw;
    height: inherit;
    gap: var(--fd-gap);
    overflow: visible;
    pointer-events: none;
    & > * {
      position: relative;
      z-index: 2;
    }
    &__li {
      position: relative;
      width: 100%;
      height: auto;
      border-radius: var(--fd-borderRadius);
      box-shadow: 0px -21px 50px 13px rgba(0, 0, 0, 0.78);
      filter: blur(1px);
      /* Width matching (required for dynamic logic) */
      &__article,
      &__article__graphic,
      &__article__graphic > * {
        width: inherit;
        height: inherit;
      }
      &__article {
        position: relative;
        cursor: pointer;
        & > * {
          position: absolute;
          top: 0;
          left: 0;
        }
        &__graphic {
          z-index: 3;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              226deg,
              rgba(255, 255, 255, 0.18) 0%,
              rgba(255, 255, 255, 0) 35%,
              rgba(255, 255, 255, 0.16) 42%,
              rgba(255, 255, 255, 0.26) 60%
            );
          }
          & picture,
          & picture img {
            border-radius: var(--fd-borderRadius);
          }
          & picture {
            box-shadow: inset 0px 15px 17px -11px rgb(0, 0, 0);
          }
          & img {
            filter: grayscale(70%) saturate(70%);
          }
        }
      }
    }
  }
}
