@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseStyles' as s;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

.iFrameController {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: flex;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.08) 80%, rgba(0, 0, 0, 0) 100%);
  pointer-events: all;
  // opacity: 0;
  transition: opacity 0.1s ease-in-out;
  // transition: opacity .25s cubic-bezier(0,0,.2,1)

  &__features {
    position: relative;
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    gap: f.rem(10);
    height: inherit;
    & > * {
      margin: 0 2px;
      opacity: 0.9;
      transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
    }
    &__button {
      position: relative;
      width: calc(24px * 2);
      height: 100%;
      & span {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: inherit;
        &[data-visible='true'] {
          opacity: 1;
        }
        &[data-visible='false'] {
          opacity: 0;
        }
        & svg {
          width: 1.8em;
          height: 1.8em;
          color: white;
        }
      }
    }
    &__slider {
      position: relative;
      display: flex;
      align-items: center;
      width: 125px;
      height: 100%;
      margin-left: 6px;
      margin-right: 2px;
      &--range {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: white;
      }
      &--handle {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        box-shadow:
          4px 3px 6px rgba(0, 0, 0, 0.25),
          -4px 3px 6px rgba(0, 0, 0, 0.25);
      }
    }
    &__playback {
      display: flex;
      gap: 4px;
      margin-left: 12px;
      margin-right: 4px;
      & > * {
        @include m.fdFontM;
      }
      &--current,
      &--duration {
      }
      &--seperator {
      }
    }
  }
}
