@use '../../../ecommerceStyles' as m;
@use '../../../../sass/util/functions' as f;

.eFooter {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  padding: f.rem(100) f.rem(50) f.rem(35) f.rem(50);
  border-top-right-radius: f.rem(30);
  border-top-left-radius: f.rem(30);
  margin-top: f.rem(-35);
  background-color: var(--elemBackgroundSecondary);
  @media (width <= 950px) {
    display: flex;
    flex-direction: column;
    gap: f.rem(35);
    padding: f.rem(74) 8.335%;
  }
  &__newsCta {
    grid-column: span 1;
  }
  &__kit {
    grid-column: span 1;
  }
  &__company {
    grid-column: span 2;
  }
}

.eFooter__newsCta {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  & h2 {
    font-style: italic;
    font-size: clamp(f.rem(16), f.rem(34) + 1vw, f.rem(40));
    font-weight: 700;
    margin-bottom: f.rem(15);
    color: var(--fontSecondary);
    text-shadow: 1px 2px 3px rgb(163, 163, 163);
    @media (width < 398px) {
      text-align: center;
    }
  }
}

.eFooter__kit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: f.rem(50);
  height: auto;
  @media (width <= 550px) {
    display: flex;
    flex-direction: column;
  }
  &__customerSupport {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: min-content;
    margin: 0;
    z-index: 2;
    & ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: f.rem(6);
      & li {
        width: 100%;
        text-align: center;
        & h2 {
          font-size: clamp(f.rem(16), f.rem(24) + 1vw, f.rem(22));
          font-weight: 700;
          color: var(--fontSecondary);
          white-space: nowrap;
        }
        & a h3 {
          font-size: f.rem(16);
          font-weight: 500;
          color: var(--fontSecondary);
          white-space: nowrap;
        }
      }
    }
  }
}

.newsletter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  &__field {
    position: relative;
    display: flex;
    width: f.rem(270);
    margin-bottom: f.rem(25);
    & label {
      display: flex;
      justify-content: center;
      & input {
        padding: 0 0 0 f.rem(12);
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: f.rem(5);
        line-height: f.rem(40);
        color: var(--fontSecondary);
        cursor: text;
        &::placeholder {
          color: var(--fontSecondary);
        }
      }
    }
    & button {
      position: absolute;
      top: 0;
      right: 0;
      display: grid;
      place-items: center;
      height: 100%;
      padding-right: f.rem(12);
      background-color: transparent;
      & svg {
        height: f.rem(20);
        filter: invert(100%);
      }
    }
  }
  &__notice {
    display: flex;
    flex-direction: column;
    gap: f.rem(4);
    max-width: 45ch;
    border-radius: f.rem(18);
    text-align: center;
    pointer-events: none;
    color: var(--fontSecondary);
    & span {
      font-size: f.rem(17);
      font-weight: 600;
    }
    & p {
      max-width: 45ch;
      margin: 0 auto;
      font-size: f.rem(16);
      font-weight: 500;
    }
  }
}
.eFooter__company {
  display: flex;
  gap: f.rem(30);
  width: 100%;
  padding: f.rem(50) 0 0 f.rem(150);
  @media (width <= 950px) {
    justify-content: center;
    padding: 0;
  }
  @media (width <= 660px) {
    display: flex;
    flex-direction: column;
    gap: f.rem(20);
  }
  & small,
  & address {
    width: fit-content;
    font-size: f.rem(14);
    font-weight: 500;
    color: var(--fontSecondary);
    letter-spacing: f.rem(1.2);
    white-space: nowrap;
    @media (width <= 660px) {
      margin: 0 auto;
    }
  }
}
