@use '../../../../sass/styles/mixins' as m;
@use '../../../../sass/util/functions' as f;

.eFooter {
  border-top-right-radius: f.rem(40);
  border-top-left-radius: f.rem(40);
  margin-top: f.rem(-35);
  background: no-repeat url('src/ecommerce/assets/production-images/compressed-home-page/footer/footerimg.webp.jpg');
}
.footerKit {
  position: relative;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  align-items: center;
  height: 60vh;
  margin: 0 auto;
  &__newsCta {
    display: flex;
    align-items: center;
    padding: 6vh 0 0 5vw;
  }
  &__customerSupport {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    & ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      &:nth-of-type(2) {
        padding-top: f.rem(25);
      }
      & li {
        padding-bottom: f.rem(8);
        & h2 {
          font-size: clamp(f.rem(22), f.rem(14) + 1.5vw, f.rem(36));
          font-weight: 700;
          color: hsl(0, 0%, 89%);
        }
        & a h3 {
          font-size: clamp(f.rem(16), f.rem(10) + 0.5vw, f.rem(28));
          font-weight: 600;
        }
      }
    }
  }
  &__copyright {
    position: absolute;
    & small {
      position: absolute;
      bottom: 7%;
      left: 5%;
      color: white;
      font-weight: 600;
    }
  }
}
.newsletter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  & h2 {
    font-style: italic;
    font-size: f.rem(40);
    line-height: 115%;
    font-weight: 800;
    margin-bottom: f.rem(15);
    z-index: 5;
    color: white;
  }
  &__field {
    position: relative;
    display: flex;
    width: f.rem(270);
    margin-bottom: f.rem(25);
    & label {
      display: flex;
      justify-content: center;
      & input {
        padding: 0 0 0 f.rem(13);
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: f.rem(5);
        line-height: f.rem(40);
        cursor: text;
        color: white;
      }
    }
    & button {
      position: absolute;
      top: 0;
      right: 0;
      display: grid;
      place-items: center;
      height: 100%;
      padding-right: f.rem(13);
      background-color: transparent;
      & svg {
        height: f.rem(20);
        filter: invert(100%);
      }
    }
  }
  &__notice {
    display: flex;
    flex-direction: column;
    gap: f.rem(5);
    max-width: 45ch;
    text-align: center;
    pointer-events: none;
    color: white;
    & mark {
      padding: f.rem(3) f.rem(10);
      border-radius: f.rem(8);
    }
    & h5 {
      max-width: 45ch;
    }
  }
}
