@use '../../../../sass/styles/mixins' as m;
@use '../../../../sass/util/functions' as f;

.footerKit {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  align-items: center;
  max-width: f.rem(1600);
  height: 65vh;
  padding: calc(f.rem(50) - f.rem(64)) 0 f.rem(50) 0;
  margin: 0 auto;
}
.customerSupport {
  display: flex;
  justify-content: center;
  align-items: center;
  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    & li {
      padding-bottom: f.rem(8);
      & h2 {
        font-size: clamp(f.rem(22), f.rem(14) + 1.5vw, f.rem(36));
        font-weight: 700;
      }
      & a h3 {
        font-size: clamp(f.rem(16), f.rem(10) + 0.5vw, f.rem(28));
        font-weight: 500;
      }
    }
  }
}
.newsCta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h2 {
    font-style: italic;
    font-size: f.rem(40);
    line-height: 115%;
    font-weight: 800;
    margin-bottom: f.rem(5);
    z-index: 5;
  }
  &__field {
    position: relative;
    display: flex;
    width: f.rem(270);
    margin-bottom: f.rem(20);
    & label {
      display: flex;
      justify-content: center;
      & input {
        padding: 0 0 0 f.rem(13);
        border: 1px solid hsl(0, 0%, 20%);
        border-radius: f.rem(5);
        background-color: #fff;
        line-height: f.rem(40);
        cursor: text;
      }
    }
    & button {
      position: absolute;
      top: 0;
      right: 0;
      display: grid;
      place-items: center;
      height: 100%;
      padding-right: f.rem(13);
      background-color: transparent;
      & svg {
        height: f.rem(20);
      }
    }
  }
  &__notice {
    display: flex;
    flex-direction: column;
    gap: f.rem(5);
    max-width: 45ch;
    text-align: center;
    pointer-events: none;
    & mark {
      padding: f.rem(3) f.rem(10);
      border-radius: f.rem(8);
    }
    & h5 {
      max-width: 45ch;
    }
  }
}
