:root {
  --sv-font-size-xs: 0.875rem; /* 14px fixed */
  // Responsive (1.25x scaling upwards)
  --sv-font-size-s: clamp(1rem, 1vw, 1.125rem); /* 16px - 18px */
  --sv-font-size-m: clamp(1.125rem, 1.25vw, 1.25rem); /* 18px - 20px */
  --sv-font-size-l: clamp(1.25rem, 1.5vw, 1.5625rem); /* 20px - 25px */
  --sv-font-size-xl: clamp(1.5625rem, 2vw, 1.953rem); /* 25px - 31px */
  --sv-font-size-xxl: clamp(1.75rem, 2.25vw, 2.1875rem); /* 28px - 35px */
  --sv-font-size-xxxl: clamp(2rem, 3vw, 2.25rem); /* 32px - 36px */
}

@mixin svFont($size, $weight) {
  font-family: 'SourceSans3', 'PT Sans', sans-serif;
  font-size: var(--sv-font-size-#{$size});
  font-weight: $weight;
  line-height: 150%;
}

@mixin XXXL {
  @include svFont('xxxl', 900);
  letter-spacing: -0.02em;
}
@mixin XXL {
  @include svFont('xxl', 800);
  letter-spacing: -0.01em;
}
@mixin XL {
  @include svFont('xl', 700);
}
@mixin L {
  @include svFont('l', 600);
}
@mixin M {
  @include svFont('m', 500);
  letter-spacing: 0.02em;
}
@mixin S {
  @include svFont('s', 500);
  letter-spacing: 0.03em;
}
@mixin XS {
  @include svFont('xs', 400);
  letter-spacing: 0.04em;
}

// .library__wrapper {
//   & li:nth-of-type(1) button span:nth-of-type(2) {
//     @include XXXL;
//   }
//   & li:nth-of-type(2) button span:nth-of-type(2) {
//     @include XXL;
//   }
//   & li:nth-of-type(3) button span:nth-of-type(2) {
//     @include XL;
//   }
//   & li:nth-of-type(4) button span:nth-of-type(2) {
//     @include L;
//   }
//   & li:nth-of-type(5) button span:nth-of-type(2) {
//     @include M;
//   }
//   & li:nth-of-type(6) button span:nth-of-type(2) {
//     @include S;
//   }
//   & li:nth-of-type(7) button span:nth-of-type(2) {
//     @include XS;
//   }
//   & li:nth-of-type(8) {
//     display: none;
//   }
//   & li:nth-of-type(9) {
//     display: none;
//   }
//   & li:nth-of-type(10) {
//     display: none;
//   }
// }
