@use '/app/spotify-visualizer/scss/spotifyMixins' as m;

:root {
  --sv-margin-section: 8px;
  --sv-border-section: var(--sv-border-radius);
  --sv-border-radius-section: 8px;

  --sv-padding-between: 30px;
  --sv-padding-list: 24px;
  --sv-padding-list-item: 6px;
}
