@use '../../sass/util/functions' as f;
@use '../../sass/styles/mixins' as m;
@use '../../sass/util/breakpoints' as b;

.portNav {
  position: relative;
  display: flex;
  height: 12.5vh;
  z-index: 2;
  &__block {
    display: flex;
    flex-basis: calc(100% / 3);
    height: inherit;
    @include m.portElement;
    & a,
    button {
      display: inline-block;
      width: inherit;
      height: inherit;
      &:active {
        @include m.portBtnActive;
      }
      & h4 {
        color: var(--textPrimary);
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: f.rem(1.5);
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
    }
    &__inline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      & img {
        padding-right: f.rem(8);
        filter: invert(99%) sepia(0%) saturate(3239%) hue-rotate(294deg) brightness(116%) contrast(100%);
        max-width: f.rem(65);
      }
    }
  }
}

.fa-paper-plane {
  color: var(--textPrimary);
  text-shadow: var(--btnBoxShadow);
  font-size: clamp(f.rem(12), f.rem(6) + 0.5vw, f.rem(20));
}
.fa-angles-left,
.fa-angles-right {
  color: var(--textPrimary);
  text-shadow: var(--btnBoxShadow);
  font-size: clamp(f.rem(22), f.rem(12) + 2vw, f.rem(36));
}
.--labels {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: (1.5vw);
  & button {
    width: fit-content;
    & label {
      width: clamp(f.rem(26), f.rem(14) + 1vw, f.rem(35));
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: #fff;
      border: var(--border);
      box-shadow: var(--btnBoxShadow);
      cursor: pointer;
    }
  }
}
