@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdAccount {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  padding: calc(var(--fd-padding-generic) * 1.5) calc(var(--fd-padding-generic) / 1.25);
  overflow: clip;
  @include m.grainPsuedo;
  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    padding: 1.5px;
    border-radius: var(--fd-border-radius);
    background-color: var(--fd-bc-offset);
    box-shadow:
      0px 2px 2px 0px rgba(0, 0, 0, 0.5),
      inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    overflow: clip;
    opacity: 1;
    transition: opacity ease-in 1.1s;
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 10%;
      left: -25%;
      width: 150%;
      height: 75%;
      background: linear-gradient(99deg, rgb(8 8 8), rgb(255 255 255));
      opacity: 0.15;
      animation: borderRotation 15s linear infinite;
      will-change: transform;
    }
    &[data-visible='true'] {
      opacity: 1;
      transform: opacity 0.5s ease-in-out;
    }
    &[data-visible='false'] {
      opacity: 0;
      pointer-events: none;
    }
    &__wrapper {
      background-color: var(--fd-bc-offset);
      &:nth-child(1) {
        flex: 1 1 auto;
        padding: calc(var(--fd-padding-generic) / 2) calc(var(--fd-padding-generic) / 4) calc(var(--fd-padding-generic) / 2) calc(var(--fd-padding-generic) / 2);
        border-bottom-left-radius: var(--fd-border-radius);
        border-top-left-radius: var(--fd-border-radius);
        & button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.35em;
          padding: 0.65rem 1rem;
          border-radius: var(--fd-border-radius);
          & svg {
            width: 1.2em;
            aspect-ratio: 1/1;
          }
        }
        & form {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding-right: 15%;
          & fieldset {
            display: flex;
            flex-direction: column;
            gap: var(--fd-gap);
            &[data-visible='false'] {
              display: none;
            }
            & div:nth-of-type(1) {
              padding-bottom: 0;
              & legend {
                font-size: clamp(1.5rem, 2.5vw, 1.875rem);
                font-weight: 600;
                line-height: 150%;
              }
            }
            & div:nth-of-type(2) {
              display: flex;
              gap: var(--fd-gap);
              padding-bottom: calc(var(--fd-gap) * 2.25);
              & button {
                flex: 1 1 50%;
                background-color: hsl(0, 0%, 13%);
                transition: all ease-in-out 120ms;
                &:hover {
                  background-color: hsl(0, 0%, 15%);
                }
              }
            }
            & ul {
              gap: calc(var(--fd-gap) * 1.5);
              width: 100%;
              padding-bottom: calc(var(--fd-gap) * 2.25);
              &[data-registry] {
                display: grid;
                grid-template-columns: repeat(2, minmax(auto, 500px));
                grid-template-rows: repeat(4, auto);
                & li {
                  &:nth-of-type(1) {
                    grid-area: 1 / 1 / 2 / 2;
                  }
                  &:nth-of-type(2) {
                    grid-area: 1 / 2 / 2 / 3;
                  }
                  &:nth-of-type(3) {
                    grid-area: 2 / 1 / 3 / 3;
                  }
                  &:nth-of-type(4) {
                    grid-area: 3 / 1 / 4 / 2;
                  }
                  &:nth-of-type(5) {
                    grid-area: 3 / 2 / 4 / 3;
                  }
                  &:nth-of-type(6) {
                    grid-area: 4 / 1 / 5 / 3;
                    flex-direction: row;
                    align-items: center;
                    height: min-content;
                    // padding-top: var(--fd-gap);
                    & input {
                      width: 1.2em;
                      aspect-ratio: 1/1;
                    }
                    & label {
                      display: flex;
                      & span:nth-child(1) {
                        color: hsl(0, 0%, 40%);
                      }
                      & button {
                        padding: 0;
                      }
                    }
                  }
                }
              }
              &[data-signin] {
                display: flex;
                flex-direction: column;
                & button:nth-child(3) {
                  justify-content: flex-start;
                  padding: 0.25em 0.5em;
                }
              }
              & li {
                display: flex;
                flex-direction: column;
                overflow: clip;
                & label {
                  padding: 0 0 0.15em 0.25em;
                  white-space: nowrap;
                }
                & input {
                  width: 100%;
                  padding: 0.25em 0.5em;
                  border: 1px solid hsl(0, 0%, 22%);
                  border-radius: calc(var(--fd-border-radius) / 2);
                  background-color: hsl(0, 0%, 13%);
                }
                & div {
                  padding: calc(var(--fd-gap) / 2) 0.25em 0.15em 0.25em;
                  @include m.fdFontS;
                  white-space: wrap;
                }
              }
            }
            & div:nth-of-type(3) {
              display: flex;
              flex-direction: column;
              gap: var(--fd-gap);
              width: 100%;
              white-space: nowrap;
              & button:nth-child(1) {
                display: block;
                width: 100%;
                background-color: hsl(239, 97%, 62%);
                transition: all ease-in-out 120ms;
                &:hover {
                  background-color: hsl(239, 97%, 64%);
                }
              }
              & button:nth-child(2) {
                width: fit-content;
                padding: 0;
              }
            }
          }
        }
      }
      &:nth-child(2) {
        flex: 1 1 auto;
        padding: calc(var(--fd-padding-generic) / 4) calc(var(--fd-padding-generic) / 4) calc(var(--fd-padding-generic) / 4) calc(var(--fd-padding-generic) / 4);
        border-top-right-radius: var(--fd-border-radius);
        border-bottom-right-radius: var(--fd-border-radius);
        & picture {
          position: relative;
          & img {
            height: 100%;
            aspect-ratio: 2/3;
            border-radius: var(--fd-border-radius);
            box-shadow:
              0 8px 10px rgba(0, 0, 0, 0.6),
              0 15px 15px rgba(0, 0, 0, 0.3);
            &[data-dissolve='true'] {
              animation: dissolve 1s ease-out forwards;
              mask-repeat: no-repeat;
              mask-position: center;
              mask-size: 100% 100%;
              mask-mode: alpha;
            }
            &:nth-of-type(2) {
              position: absolute;
              top: 0;
              left: 0;
              width: inherit;
              height: inherit;
            }
          }
        }
      }
      &__cta {
        & button {
          & button,
          &__grouped button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.65ch;
            width: inherit;
            height: f.rem(46);
            padding: var(--fd-gap);
            border-radius: calc(var(--fd-border-radius) / 2);
            margin-bottom: var(--fd-gap);
            background-color: #004eec;
            @include m.fdFontM;
            color: var(--fd-font-color-primary);
            & svg {
              width: 1.3em;
              aspect-ratio: 1/1;
            }
          }
        }
      }
    }
  }
}

@keyframes dissolve {
  from {
    mask-image: radial-gradient(circle at center, black 0%, black 20%, transparent 80%);
    mask-size: 100% 100%;
    opacity: 1;
  }
  to {
    mask-image: radial-gradient(circle at center, black 0%, black 20%, transparent 80%);
    mask-size: 1000% 1000%; /* huge scale out */
    opacity: 0;
  }
}

// .fdAccountModal {

//   & > * {
//     z-index: 9;
//     will-change: opacity;
//     &:first-child {
//       flex: 0 1 40%;
//       background-color: hsl(220, 33%, 96%);
//       color: black;
//     }
//     &:last-child {
//       flex: 1 0 60%;
//       background-color: hsl(220, 33%, 98%);
//       color: black;
//     }
//   }
// }

// .fdAccountModal__article {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   gap: calc(var(--fd-gap) * 2.5);
//   padding: calc(var(--fd-gap) * 6) calc(var(--fd-gap) * 6);
//   & img {
//     position: absolute;
//     z-index: 1;
//     top: 50%;
//     left: 50%;
//     width: 100%;
//     height: 110%;
//     transform: translate(-50%, -50%);
//     filter: brightness(0.25);
//   }
//   & h2,
//   p {
//     position: relative;
//     z-index: 2;
//     color: var(--fd-font-color-primary);
//   }
//   & h2 {
//     @include m.fdFontL;
//     text-wrap: balance;
//   }
//   & p {
//     width: 100%;
//     @include m.fdFontM;
//     font-weight: 500;
//     text-wrap: pretty;
//   }
// }

// .fdAccountModal__modals {
//   padding: calc(var(--fd-gap) * 6) calc(var(--fd-gap) * 6);
//   &__form__fieldset__ul {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     padding-bottom: var(--fd-gap);
//     &:has(button) li {
//       padding-bottom: 0;
//     }
//     & div {
//       width: 100%;
//     }
//     & li {
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//       padding-bottom: calc(var(--fd-gap) * 2);
//       & label {
//         padding: 0 0 2px 3px;
//         @include m.fdFontM;
//       }
//       & .error-message {
//         padding: calc(var(--fd-gap) / 2) 0 0 f.rem(3);
//       }
//       & input,
//       select {
//         padding: f.rem(3) 1ch;
//         border: 1px solid #e5e5e7;
//         border-radius: calc(var(--fd-border-radius) / 2);
//         background-color: var(--fd-bc-secondary);
//       }
//     }
//     & button {
//       margin: 4px 0 var(--fd-gap) calc(var(--fd-gap) / 2);
//     }
//     // Registry
//     &__name,
//     &__dob,
//     &__password {
//       display: flex;
//       gap: var(--fd-gap);
//     }
//     &__name li,
//     &__password li {
//       flex: 1 1 calc(100% / 2);
//     }
//     &__dob li {
//       flex: 1 1 calc(100% / 3);
//     }
//   }
//   // Global
//   &__btns {
//     width: 100%;
//     & button,
//     &__grouped button {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       gap: 0.65ch;
//       height: f.rem(46);
//       padding: var(--fd-gap);
//       border-radius: calc(var(--fd-border-radius) / 2);
//       margin-bottom: var(--fd-gap);
//       @include m.fdFontM;
//       & svg {
//         width: 1.3em;
//         aspect-ratio: 1/1;
//       }
//     }
//     & button {
//       width: inherit;
//       background-color: #004eec;
//       @include m.fdFontM;
//       color: var(--fd-font-color-primary);
//     }
//     &__grouped {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       gap: var(--fd-gap);
//       & button:nth-of-type(1) {
//       }
//       & button:nth-of-type(2) {
//       }
//     }
//   }
// }
