@use '../../sass/styles/mixins' as m;
@use '../../sass/util/functions' as f;

.skuPage {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 7%;
  padding: 3vh 9vw 8vh 6vw;
  &__imgBlock {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    gap: f.rem(25);
    padding: f.rem(30);
    overflow: hidden;
    & picture {
      max-height: f.rem(650);
      @include m.productPhoto;
      border-radius: f.rem(32);
      background-color: white;
      box-shadow: -1px -1px 20px 0px #fff, -4px -4px 5px 0px #fff, 7px 7px 20px 0px rgba(153, 153, 153, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
      transition: ease-in-out 0.35s;
      & img {
        padding: f.rem(10) f.rem(15) f.rem(0) f.rem(15);
        object-fit: scale-down;
        mix-blend-mode: darken;
        @include m.photoFilters;
      }
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 8vh;
    & h1 {
      margin-bottom: f.rem(25);
    }
    & p {
      margin-bottom: f.rem(30);
      max-width: 38ch;
      font-size: clamp(f.rem(14), f.rem(12) + 0.5vw, f.rem(18));
      font-weight: 500;
      line-height: 1.4rem;
    }
    & h3 {
      font-weight: 500;
      font-size: clamp(f.rem(16), f.rem(10) + 0.5vw, f.rem(28));
      margin-bottom: f.rem(35);
    }
  }
}
