@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdMedia {
  position: relative;
  z-index: 1;
  height: 100%;
  @include m.scrollSnappingYAxis;
  @media (width >= 1600px) {
    overflow-y: clip;
  }
  & > * {
    position: relative;
    z-index: 2;
  }
  &__carousel {
    padding-bottom: calc(var(--fd-gap) * 2);
    &[data-index-tracker='active'] {
      opacity: 1;
      transition: opacity 0.3s ease-in;
    }
    &[data-index-tracker='disabled'] {
      opacity: 0;
      transition: opacity 0.2s ease-out;
      pointer-events: none;
    }
    &__header {
      padding: 0 var(--fd-padding-generic) var(--fd-gap) var(--fd-padding-generic);
      @include m.fdFontXL;
      text-transform: capitalize;
    }
    &__wrapper {
      position: relative;
      width: 100%;
      &__ul {
        gap: var(--fd-gap);
        padding: 0 var(--fd-padding-generic);
        &[data-layout='carousel'] {
          display: flex;
          @include m.scrollSnappingXAxis;
          @media (width <= 1410px) {
            scroll-snap-type: x mandatory;
          }
        }
        &[data-layout='grid'] {
          display: grid;
          grid-template-columns: repeat(auto-fit, calc((100% - (var(--fd-gap) * (var(--fd-flat-grid-items-per-page) - 1))) / var(--fd-flat-grid-items-per-page)));
          grid-auto-rows: 1fr;
          justify-content: center;
        }
        &__li {
          width: var(--fd-carousel-node-width);
          height: var(--fd-carousel-node-height);
          scroll-snap-align: center;
          /* Width matching (required for dynamic logic) */
          &__article,
          &__article__graphic,
          &__article__graphic > * {
            width: inherit;
            height: inherit;
          }
          &__article {
            position: relative;
            cursor: pointer;
            & > * {
              position: absolute;
              top: 0;
              left: 0;
            }
            &__header {
              display: none;
            }
            &__graphic {
              z-index: 3;
              & picture,
              & picture img {
                border-radius: var(--fd-borderRadius);
              }
            }
          }
        }
      }
      &__navigation {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        @media (width <= 1410px) {
          display: none;
        }
        &--button {
          position: absolute;
          z-index: 10;
          height: 50%;
          background-color: hsla(216, 100%, 3%, 0.5);
          pointer-events: all;
          & svg {
            width: 3em;
            height: 3em;
            color: white;
          }
        }
        &--button:nth-of-type(1) {
          left: 0;
          border-top-right-radius: var(--fd-borderRadius);
          border-bottom-right-radius: var(--fd-borderRadius);
        }
        &--button:nth-of-type(2) {
          right: 0;
          border-top-left-radius: var(--fd-borderRadius);
          border-bottom-left-radius: var(--fd-borderRadius);
        }
      }
    }
  }
}

// navigation overlay on track hover
.fdMedia__carousel__wrapper:hover .fdMedia__carousel__wrapper__navigation {
  opacity: 1;
  transition: ease-in-out 0.22s opacity;
}
