@use '../../../../ecommerceStyles' as m;
@use '../../../../../sass/util/functions' as f;

.eFooter__partners {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
  max-height: f.rem(200);
  overflow-x: hidden;
  &__track {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: f.rem(25);
    & picture:nth-of-type(3) img,
    & picture:nth-of-type(5) img,
    & picture:nth-of-type(8) img,
    & picture:nth-of-type(13) img {
      filter: invert(100%);
    }
    & picture {
      & img {
        width: f.rem(200);
        min-height: f.rem(20);
        @media (width <= 660px) {
          width: f.rem(100);
        }
        @media (width <= 542px) {
          width: f.rem(50);
        }
      }
    }
  }
}
