@use '../../../../../sass/util/functions' as f;

.userLogin {
  justify-content: center;
  align-items: center;
  &__passkeys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: f.rem(18);
    width: 100%;
    padding-bottom: f.rem(18);
    & button svg {
      font-size: f.rem(26);
    }
  }
}
