@use '../../../../sass/functions' as f;
@use '../../../scss/portfolioStyles' as m;

.projectDetails {
  padding: m.$box-model-viewport-y calc(m.$box-model-viewport-x * 2) m.$box-model-viewport-y m.$box-model-viewport-x;
  &__projectOverview,
  &__projectSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      width: 65ch;
      padding-bottom: f.rem(24);
    }
    &__nav {
      display: flex;
      padding: calc(m.$box-model-viewport-y / 6) 0 calc(m.$box-model-viewport-y * 1.5) 0;
      & button {
        cursor: pointer;
        text-transform: capitalize;
        white-space: nowrap;
        padding-bottom: f.rem(2);
        border-bottom: 1px solid m.$font-color-indicate-warning;
      }
    }
    &__information {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: calc(m.$box-model-viewport-y * 1.5);
      p {
        width: clamp(45ch, 100%, 75ch);
        padding-bottom: f.rem(24);
        & span {
          text-transform: uppercase;
        }
      }
    }
  }
}
