@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.FDCollectionsModalCarousel {
  padding-top: calc(var(--fd-gap) * 2);
  & header {
    display: flex;
    gap: calc(var(--fd-gap) / 2);
    // Remove additional ul padding-top from header's padding bottom
    padding: 0 calc(var(--fd-carousel-node-width) / 4) calc(var(--fd-gap) - calc((15px + 3px))) calc(var(--fd-padding-generic) / 1.5);
    & svg {
      width: 1.6em;
      aspect-ratio: 1/1;
    }
    & h2 {
      @include m.fdFontXL;
      text-transform: capitalize;
    }
    & fieldset {
      display: flex;
      gap: calc(var(--fd-gap) / 2);
      width: 100%;
      @include m.fdFontL;
      & label {
        display: none;
      }
      & input {
        width: fit-content;
        &::placeholder {
          @include m.fdFontL;
          color: white;
        }
      }
    }
  }
  & ul {
    // Allow room for border and shadows
    padding: calc(15px + 3px) 0;
    interpolate-size: allow-keywords;
    transition: height 170ms ease;
    &[data-layout='flex'] {
      display: flex;
      gap: var(--fd-gap);
      overflow-y: clip;
      overflow-x: scroll;
      scrollbar-width: none;
      // Carousel padding
      & li:first-of-type {
        margin-left: calc(var(--fd-padding-generic) / 1.5);
      }
      & li:last-of-type {
        margin-right: calc(var(--fd-padding-generic) / 1.5);
      }
      // Pointer events
      &:hover {
        cursor: grab;
      }
      &:active,
      &:active li:hover {
        cursor: grabbing;
      }
    }
    &[data-layout='grid'] {
      display: grid;
      column-gap: var(--fd-gap);
      // Add ul's padding-bottom for visual consistency
      row-gap: calc(var(--fd-gap) + 15px + 3px);
      grid-template-columns: repeat(auto-fill, minmax(var(--fd-carousel-node-width), auto));
      padding: 0 calc(var(--fd-padding-generic) / 1.5);
    }
    &[data-edit-mode='true']:not(:has(li)) {
      // Edit mode is mandatory layout 'grid'
      height: calc(var(--fd-carousel-node-height) + calc(15px + 3px));
      & li:hover {
        cursor: grab;
      }
    }
    &[data-list-item-fx='true'] {
      & li {
        &[data-list-item-visible='true'] {
          & picture {
            &::after {
              content: '';
              position: absolute;
              inset: 0;
              z-index: 10;
              border-radius: var(--fd-borderRadius);
              background-image: url(/app/film-database/assets/gif/vhs-noise.gif);
              background-size: 480px;
              background-attachment: fixed;
              opacity: 0.02;
              pointer-events: none;
            }
            & img {
              filter: none;
            }
          }
        }
        &[data-list-item-visible='false'] {
          & picture img {
            filter: brightness(35%) saturate(50%);
          }
        }
      }
    }
    & li {
      flex-shrink: 0;
      position: relative;
      width: var(--fd-carousel-node-width);
      height: var(--fd-carousel-node-height);
      border-radius: var(--fd-borderRadius);
      background-color: black;
      box-shadow:
        0 8px 10px rgba(0, 0, 0, 0.6),
        0 15px 15px rgba(0, 0, 0, 0.3);
      // Hover events
      &:hover {
        cursor: pointer;
      }
      &:hover:not([data-list-item-visible='true']) picture img {
        filter: brightness(80%) saturate(70%);
      }
      & picture,
      picture img {
        border-radius: var(--fd-borderRadius);
      }
      & picture img {
        transition: filter 85ms ease-in-out;
      }
    }
  }
}
