@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdUserList__menu {
  position: absolute;
  bottom: var(--fd-padding-generic);
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: var(--fd-gap);
  padding: calc(var(--fd-padding-generic) / 9) calc(var(--fd-padding-generic) / 6);
  border-radius: var(--fd-borderRadius);
  background-color: #101010;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  overflow: clip;
  & button {
    display: block;
    position: relative;
    width: 2em;
    aspect-ratio: 1/1;
    // Edit Mode
    &:nth-of-type(2) {
      &[data-toggle='true'] {
        color: white;
        transition: color 170ms ease-in-out;
      }
      &[data-toggle='false'] {
        color: #6dbe45;
        transition: color 170ms ease-in-out;
      }
    }
    // Visibility
    &:nth-of-type(3) {
      &[data-toggle='true'] svg:nth-of-type(2) {
        clip-path: polygon(100% 100%, 100% 100%, 0% 100%, 0% 100%);
        transition: clip-path 170ms ease-in-out;
      }
      &[data-toggle='false'] svg {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: clip-path 170ms ease-in-out;
      }
    }
    // Layout
    &:nth-of-type(4) {
      &[data-toggle='true'] svg {
        transition: top 170ms ease-in-out;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: -3em;
        }
      }
      &[data-toggle='false'] svg {
        transition: top 170ms ease-in-out;
        &:nth-of-type(1) {
          top: -3em;
        }
        &:nth-of-type(2) {
          top: 0;
        }
      }
    }
    & svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
