@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdDetails {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: var(--fd-gap);
  padding: calc(var(--fd-padding-generic) * 1.5) 0 0 var(--fd-padding-generic);
  pointer-events: none;
  &__article {
    & > * {
      pointer-events: all;
      user-select: text;
      cursor: text;
    }
    &__footer {
      & a {
        pointer-events: all;
        padding-bottom: calc(var(--fd-gap) * 1.5);
        & svg {
          width: 135px;
        }
      }
    }
    &__header {
      & h2 {
        max-width: 29ch;
        white-space: nowrap;
        overflow: clip;
        text-overflow: ellipsis;
        @include m.fdFontXXL;
        text-shadow: var(--fd-font-shadow);
        text-transform: uppercase;
      }
    }
    &__description {
      & p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: clip;
        max-width: 57ch;
        @include m.fdFontM;
        text-shadow: var(--fd-font-shadow);
      }
    }
    &__cta {
      & {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.65ch;
        width: fit-content;
        border-radius: calc(var(--fd-borderRadius) / 2);
        @include m.fdFontM;
        color: white;
        opacity: 0.3;
        transition: opacity ease-in-out 250ms;
        pointer-events: all;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
