@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdDetails {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  width: 50%;
  height: inherit;
  padding: var(--fd-padding-generic) var(--fd-padding-generic) calc(var(--fd-padding-generic) / 2) var(--fd-padding-generic);
  &__article {
    display: table;
    & > * > * {
      width: fit-content;
    }
    &__footer {
      & a {
        & svg {
          width: f.rem(135);
        }
      }
    }
    &__header {
      & h2 {
        max-width: 29ch;
        white-space: nowrap;
        overflow: clip;
        text-overflow: ellipsis;
        @include m.fdFontXXL;
        text-shadow: var(--fd-font-shadow);
        text-transform: uppercase;
      }
    }
    &__details {
      display: flex;
      flex-wrap: nowrap;
      gap: f.rem(12);
      padding-bottom: var(--fd-gap);
      &__release {
        display: flex;
        gap: f.rem(12);
        & div {
          display: flex;
        }
        & span {
          display: flex;
          align-items: center;
          &[data-status='green'] {
            color: #54c470;
            text-transform: uppercase;
            font-weight: 700;
          }
          & svg {
            width: 1.2em;
            height: 1.2em;
          }
        }
        @include m.fdFontM;
      }
      &__cta {
        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.65ch;
          width: fit-content;
          border-radius: calc(var(--fd-borderRadius) / 2);
          @include m.fdFontM;
          opacity: 0.4;
          transition: opacity ease-in-out 250ms;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    &__description {
      & p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: clip;
        max-width: 57ch;
        @include m.fdFontM;
        text-shadow: var(--fd-font-shadow);
      }
    }
  }
}
