@use '../../../sass/util/functions' as f;
@use '../../portfolioStyles' as m;

.mainContent {
  display: flex;
  align-items: flex-end;
  height: 88vh;
  padding: 0 0 m.$viewportMarginTopBottom 0;
  &__slider {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: auto;
    padding: 0 0 0 m.$viewportMarginRightLeft;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }
}

.mainContent__slider__article {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: f.rem(1266);
  aspect-ratio: 211/101;
  filter: grayscale(0%);
  transition: filter 0.35s ease-in-out, transform 0.35s ease-in-out, transform-origin 0.35s ease-in-out;
  &[data-status='disabled'] {
    transform: scale(0.8);
    transform-origin: bottom;
    filter: grayscale(85%) sepia(50%) brightness(30%) opacity(80%);
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h2 {
      font-size: clamp(f.rem(14), f.rem(30) + 1vw, f.rem(36));
      font-weight: 700;
      letter-spacing: f.rem(2);
      text-transform: uppercase;
      line-height: 150%;
    }
    & p {
      width: clamp(45ch, 100%, 65ch);
      font-size: clamp(f.rem(12), f.rem(12) + 1vw, f.rem(18));
      font-weight: 400;
      line-height: 150%;
      text-align: center;
    }
    & nav {
      display: flex;
      gap: m.$portfolioGap;
      & a {
        font-size: clamp(f.rem(14), f.rem(12) + 1vw, f.rem(18));
        font-weight: 600;
        text-transform: capitalize;
        line-height: 150%;
        & svg {
          width: 1em;
          height: 1em;
          margin-right: f.rem(4);
        }
      }
    }
  }
  &__pictureWrapper {
    display: flex;
    height: 100%;
    will-change: width;
    & picture {
      border-radius: f.rem(18);
      background-color: m.$transparentElem;
      overflow: hidden;
      & img {
        object-fit: cover;
      }
    }
  }
}
