@use '../../../sass/functions' as f;
@use '../../scss/portfolioStyles' as m;

.mainContent {
  display: grid;
  grid-gap: 0;
  padding-left: m.$viewportMarginRightLeft;
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
  &.smoothen {
    transition: transform 0.25s ease-out;
  }
  &[data-status='mainAnimation'] {
    transition:
      scale 100ms ease-out,
      transform 300ms ease-out,
      filter 300ms ease-in;
  }
  &[data-layout='column'] {
    grid-auto-flow: column;
    width: max-content;
    height: 76%;
    transition: all 250ms ease;
  }
  &[data-layout='row'] {
    grid-auto-flow: row;
    width: 100%;
    height: max-content;
    transition: all 250ms ease;
  }
}

.mainContent__article {
  display: flex;
  align-self: flex-end;
  aspect-ratio: 21/9;
  max-width: 75vw;
  max-height: 76vh;
  height: 100%;
  transition:
    filter 0.35s ease-in-out,
    transform 0.35s ease-in-out,
    transform-origin 0.35s ease-in-out;
  &[data-status='disabled'] {
    transform: scale(0.8);
    transform-origin: bottom;
    filter: grayscale(85%) sepia(80%) brightness(32%) opacity(80%);
  }
  & figure {
    display: contents;
    pointer-events: none;
    & picture {
      width: 100%;
      height: 100%;
      border-radius: f.rem(12);
      background-color: m.$transparentElem;
      overflow: hidden;
      will-change: width;
      filter: brightness(92%);
      @media (width <= 1444px) {
        aspect-ratio: 4/5;
      }
      & img {
        object-fit: cover;
      }
    }
  }
}
