@use '../../../sass/functions' as f;
@use '../../scss/portfolioStyles' as m;

#threeSlider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  & canvas {
    position: relative;
    z-index: 10;
  }
}
