@use '../../../ecommerceStyles' as m;
@use '../../../../sass/util/functions' as f;

.recommenders {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2.5% 5% 2% 0;
    color: var(--textPrimary);
    font-size: clamp(f.rem(26), f.rem(16) + 2vw, f.rem(40));
    font-weight: 800;
    line-height: 115%;
    text-transform: uppercase;
  }
  &__unorderedList {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: f.rem(25);
    max-width: f.rem(1600);
    &__item {
      & a {
        & article {
          position: relative;
          aspect-ratio: 0.8/1;
          border-radius: f.rem(26);
          overflow: hidden;
          box-shadow: -1px -1px 20px 0px #ececec, -4px -4px 5px 0px #fff, 7px 7px 20px 0px rgba(153, 153, 153, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
          & picture {
            position: relative;
            z-index: 3;
            border-radius: f.rem(26);
            @include m.productPhoto;
            &::before {
              content: '';
              position: absolute;
              inset: 0;
              border-radius: f.rem(26);
              background-color: var(--elemBackgroundPrimary);
              opacity: 0.8;
            }
            & img {
              max-height: inherit;
              object-fit: scale-down;
              object-position: center bottom;
              mix-blend-mode: darken;
              padding: f.rem(10) f.rem(15) 0 f.rem(15);
              @include m.photoFilters;
            }
          }
          & hgroup {
            position: absolute;
            inset: -65% 0 0 0;
            margin: auto;
            width: max-content;
            max-width: 22ch;
            height: fit-content;
            z-index: 4;
            pointer-events: none;
            & h2 {
              font-size: clamp(f.rem(18), f.rem(12) + 1vw, f.rem(36));
              font-weight: 700;
            }
            & h3 {
              font-size: clamp(f.rem(14), f.rem(8) + 0.5vw, f.rem(24));
              font-weight: 500;
            }
            & h4 {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
