@use '../../../ecommerceStyles' as m;
@use '../../../../sass/util/functions' as f;

.recommenders {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2.5% 5% f.rem(50) 0;
    color: var(--textPrimary);
    font-size: clamp(f.rem(26), f.rem(16) + 2vw, f.rem(40));
    font-weight: 800;
    line-height: 115%;
    text-transform: uppercase;
    & span {
      padding-left: 0.6%;
    }
  }
  &__unorderedList {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: f.rem(35);
    max-width: f.rem(1600);
    @media (width <= 1265px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (width <= 970px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (width <= 530px) {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
    &__item a article {
      position: relative;
      display: flex;
      justify-content: center;
      aspect-ratio: 0.8/1;
      border-radius: f.rem(24);
      overflow: hidden;
      box-shadow:
        -1px -1px 20px 0px #ffffff,
        -4px -4px 5px 0px #fff,
        7px 7px 20px 0px rgba(153, 153, 153, 0.4),
        4px 4px 5px 0px rgba(0, 0, 0, 0.3);
      & picture {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        z-index: 3;
        // padding: 0 f.rem(15);
        border-radius: f.rem(24);
        @include m.productPhoto;
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          border-radius: f.rem(24);
          background-color: var(--gradientMono);
          opacity: 0.8;
        }
        & img {
          position: relative;
          max-height: 68%;
          object-fit: scale-down;
          object-position: center bottom;
          mix-blend-mode: darken;
          // padding: 0 0 10% 0;
        }
      }
      & hgroup {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: f.rem(5);
        width: 100%;
        z-index: 4;
        padding: 8% 15% 0 15%;
        text-align: center;
        @media (width <= 530px) {
          padding: 8% 5% 0 5%;
        }
        & h2 {
          width: 100%;
          font-size: clamp(f.rem(18), f.rem(22) + 1vw, f.rem(28));
          font-weight: 700;
          @media (width <= 700px) {
            font-size: clamp(f.rem(18), f.rem(16) + 1vw, f.rem(22));
          }
          @media (width <= 700px) {
            font-size: clamp(f.rem(14), f.rem(12) + 1vw, f.rem(18));
          }
          @media (width <= 530px) {
            font-size: clamp(f.rem(18), f.rem(16) + 1vw, f.rem(22));
            font-weight: 600;
          }
        }
        & h3 {
          width: 100%;
          font-size: clamp(f.rem(14), f.rem(12) + 1vw, f.rem(18));
          font-weight: 500;
          @media (width <= 605px) {
            font-size: f.rem(15);
          }
          @media (width <= 530px) {
            font-size: clamp(f.rem(18), f.rem(16) + 1vw, f.rem(22));
          }
        }
      }
    }
  }
}
