.spotify {
  display: block;
  width: 100svw;
  height: 100svh;
  border: 12px;
  &__wrapper {
    display: inherit;
    width: inherit;
    height: inherit;
    background-color: #000;
    color: #fff;
    // &__overlay {
    //   position: fixed;
    //   inset: 0;
    //   z-index: 11;
    //   width: 100svw;
    //   height: 100svh;
    //   background-color: #121212;
    // }
    &__content {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-areas:
        'navigation navigation navigation'
        'sidebar main main'
        'sidebar main main'
        'controller controller controller';
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto 1fr auto;
      width: inherit;
      height: inherit;
      & > * {
        position: relative;
        z-index: 1;
        border-radius: var(--sv-border-radius-section);
        background-color: #121212;
      }
      & > :nth-child(1) {
        grid-area: navigation;
        margin: var(--sv-margin-section);
      }
      & > :nth-child(2) {
        grid-area: sidebar;
        margin: 0 var(--sv-margin-section) var(--sv-margin-section) var(--sv-margin-section);
      }
      & > :nth-child(3) {
        grid-area: main;
        margin: 0 var(--sv-margin-section) 0 0;
      }
      & > :nth-child(4) {
        grid-area: controller;
        margin: var(--sv-margin-section);
      }
    }
  }
}
