@use '../util/functions' as u;
@use '../styles/mixins' as i;

.spotifyClone {
  line-height: 1.6;
  color: #fff;
  /**/
  position: relative;
  display: grid;
  grid-template-areas:
    'spotifyTopBar spotifyTopBar'
    'spotifySidebar spotifyMain'
    'spotifyTrackBar spotifyTrackBar';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100vh;
}
