@use '../util/functions' as u;
@use '../styles/mixins' as i;

.spotifyTrackBar {
  grid-area: spotifyTrackBar;
  justify-content: space-between;
  width: 100%;
  height: u.rem(90);
  min-width: 620px;
  padding: 0 u.rem(16);
  border-top: 1px solid #282828;
  background-color: #181818;
  user-select: none;
  &__currentTrack {
    width: 30%;
  }
  &__trackControls {
    width: 40%;
  }
  &__miscellaneousControls {
    width: 30%;
  }
}
