@use '/src/sass/functions' as f;
@use '/src/portfolio/scss/portfolioStyles' as s;

.projectDetails__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  &__nav {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    padding: 0 s.$box-model-viewport-x;
    pointer-events: none;
    &__left,
    &__right {
      position: relative;
      flex: 0 0 50%;
      gap: s.$portfolio-gap;
      z-index: 2;
      & button {
        pointer-events: all;
        & span {
          display: flex;
          align-items: center;
          text-transform: none;
        }
      }
    }
    &__right {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.projectDetails__insights {
  display: flex;
  gap: calc(s.$portfolio-gap * 4);
  height: 100%;
  padding: 8rem s.$box-model-viewport-x 0 s.$box-model-viewport-x;
  overflow-y: scroll;
  &__technology {
    position: relative;
    display: table;
    flex: 0 1 45%;
    &__container {
      position: sticky;
      top: 10%;
      left: 0;
      & h2 {
        font-size: clamp(f.rem(24), f.rem(30) + 1vw, f.rem(36));
        line-height: 300%;
      }
      &__tech {
        display: flex;
        align-items: center;
        gap: f.rem(100);
        border-bottom: 1px solid hsl(240, 4%, 16%);
        &--key {
          flex: 0 0 30%;
          padding: s.$portfolio-gap 0;
          font-size: clamp(f.rem(16), f.rem(12) + 1vw, f.rem(18));
          text-transform: capitalize;
          white-space: nowrap;
        }
        &__values {
          display: flex;
          justify-content: flex-end;
          flex: 0 1 70%;
          flex-wrap: wrap;
          gap: calc(s.$portfolio-gap / 2);
          padding: s.$portfolio-gap 0;
          text-transform: uppercase;
          & li abbr {
            font-size: clamp(f.rem(16), f.rem(12) + 1vw, f.rem(18));
          }
        }
      }
    }
  }
  &__project {
    flex: 1 0 55%;
    height: max-content;
    &__article {
      display: flex;
      flex-direction: column;
      gap: calc(s.$portfolio-gap / 2);
      width: clamp(45ch, 100%, 75ch);
      padding-bottom: calc(s.$box-model-viewport-x - s.$portfolio-gap);
      user-select: text;
      cursor: text;
      text-align: start;
      & h2 {
        width: clamp(45ch, 100%, 40ch);
        padding-bottom: calc(s.$portfolio-gap / 2);
        font-size: clamp(f.rem(24), f.rem(30) + 1vw, f.rem(36));
        line-height: 1.1em;
      }
    }
  }
}
