@use '/src/sass/functions' as f;
@use '/src/portfolio/scss/portfolioStyles' as s;

.projectDetails {
  position: relative;
  display: table;
  height: 100svh;
}

.projectDetails__header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 0 s.$box-model-viewport-x;
  &__left,
  &__right {
    position: relative;
    flex: 0 0 50%;
    gap: f.rem(24);
    z-index: 2;
    & button {
      & span {
        display: flex;
        align-items: center;
        text-transform: none;
      }
    }
  }
  &__right {
    display: flex;
    justify-content: flex-end;
  }
}

.projectDetails__insights {
  display: flex;
  flex-direction: column;
  gap: calc(s.$portfolio-gap * 4);
  height: 100svh;
  padding-top: 8rem;
  overflow-y: scroll;
  & > * {
    padding: calc(s.$box-model-viewport-x / 2) calc(s.$box-model-viewport-x * 2) 0 calc(s.$box-model-viewport-x * 2);
  }
  &__project {
    display: flex;
    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: f.rem(16);
      width: clamp(45ch, 100%, 75ch);
      user-select: text;
      cursor: text;
      text-align: start;
      & h2 {
        padding-bottom: s.$portfolio-gap;
        font-size: clamp(f.rem(24), f.rem(30) + 1vw, f.rem(36));
        line-height: 1.1em;
      }
    }
  }

  &__technology {
    display: table;
    margin: 0 0 calc(calc(s.$box-model-viewport-x / 2) + 8rem) 0;
    line-height: 500%;
    & h2 {
      font-size: clamp(f.rem(24), f.rem(30) + 1vw, f.rem(36));
    }
    &__tech {
      display: flex;
      align-items: center;
      border-bottom: 1px solid hsl(240, 4%, 14%);
      &--key {
        width: 30%;
        text-transform: capitalize;
      }
      &__values {
        display: flex;
        justify-content: flex-end;
        gap: f.rem(18);
        width: 70%;
        font-size: f.rem(16);
        text-transform: uppercase;
      }
    }
  }
}
