@use '/src/sass/functions' as f;
@use '/src/portfolio/scss/portfolioStyles' as m;

.projectDetails {
  display: flex;
  gap: m.$portfolio-gap;
  height: 100vh;
  & > * {
    height: 100%;
    overflow: hidden;
  }
  &__general {
    flex: 0 1 22%;
    display: inline-flex;
    flex-direction: column;
    gap: m.$portfolio-gap;
    padding: calc(m.$box-model-viewport-x / 2) 0 calc(m.$box-model-viewport-x / 2) calc(m.$box-model-viewport-x / 2);
    &__header {
      align-self: start;
      height: 60%;
      & button {
        display: flex;
        flex-direction: column;
        & span {
          font-size: clamp(f.rem(20), f.rem(20) + 1vw, f.rem(26));
          font-weight: 600;
          text-transform: uppercase;
          line-height: 125%;
          text-align: start;
        }
      }
    }
    &__technology {
      height: 40%;
    }
  }
  &__projects {
    flex: 0 1 24%;
    height: 100vh;
    padding: calc(m.$box-model-viewport-x / 2) 0;
    overflow: clip;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
    &__slider {
      display: flex;
      flex-direction: column;
      height: max-content;
      & figure {
        display: block;
        & picture {
          position: relative;
          width: 100%;
          height: auto;
          aspect-ratio: 4/5;
          overflow: hidden;
          &::before {
            content: '';
            position: absolute;
            top: 5%;
            left: 5%;
            display: block;
            width: 90%;
            height: 90%;
            z-index: -1;
            background: rgba(#000000, 0.5);
            box-shadow: 0 6px 12px 12px rgba(#000000, 0.4);
            transform: skewX(0.001deg);
            transform-origin: top center;
            transition: transform 0.35s ease-in-out;
          }
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 120%;
            z-index: 4;
            background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
            transform: translateY(-20%);
            transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
          }
          & img {
            height: 100%;
          }
          & figcaption {
            display: none;
          }
        }
      }
    }
  }
  &__insights {
    flex: 1 0 54%;
    display: flex;
    overflow-y: scroll;
    &__projectOverview {
      display: flex;
      flex-direction: column;
      gap: m.$portfolio-gap;
      width: clamp(45ch, 100%, 75ch);
      padding: calc(m.$box-model-viewport-x / 2) 0 0 calc(m.$portfolio-gap * 2);
      user-select: text;
      cursor: text;
      & h2 {
        font-size: clamp(f.rem(20), f.rem(28) + 1vw, f.rem(32));
        line-height: 115%;
      }
      & p:last-child {
        padding-bottom: calc(m.$box-model-viewport-x / 2);
      }
    }
  }
}
