@use '/src/sass/functions' as f;
@use '/src/portfolio/scss/portfolioStyles' as m;

.contactForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(5px);
  & h2 {
    display: none;
  }
  &__container {
    position: relative;
    display: flex;
    gap: m.$portfolio-gap;
    height: 100%;
    max-height: 76svh;
    aspect-ratio: 1.99/1;
    padding: calc(m.$box-model-viewport-x / 2);
    border: 2px solid hsl(0, 0%, 20%);
    background-color: m.$background-color-primary;
    &__return {
      position: absolute;
      top: 5%;
      right: 5%;
    }
  }
  &__section {
    color: m.$font-color-primary;
    & > * {
      width: 100%;
    }
    &:nth-of-type(1) {
      flex: 0 1 50%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
    &:nth-of-type(2) {
      flex: 1 0 50%;
    }
  }
}

.contactForm__section {
  &__block {
    grid-area: 1 / 1 / 2 / 2;
    display: table;
    align-self: center;
    &__article {
      display: contents;
      & span {
        font-size: clamp(f.rem(20), f.rem(20) + 1vw, f.rem(26));
        font-weight: 600;
        line-height: 150%;
      }
      & p {
        width: clamp(45ch, 100%, 54ch);
      }
    }
  }
  &__compartment {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    &__general,
    &__support {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(m.$portfolio-gap / 6);
      & span {
        font-size: f.rem(20);
        font-weight: 600;
        line-height: 150%;
      }
      & li[data-status='active'] {
        font-weight: 600;
      }
    }
  }
}

.contactForm__section__standardForm {
  display: grid;
  place-items: center;
  height: 100%;
  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: m.$portfolio-gap;
    width: 100%;
    color: m.$background-color-secondary;
    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: calc(50% - m.$portfolio-gap / 2);
      width: 100%;
      height: fit-content;
      &:last-of-type {
        border-bottom: 0px solid white;
      }
      &--label,
      &--input {
        white-space: nowrap;
        overflow: hidden;
      }
      &--label {
        pointer-events: none;
        transition:
          font-size 150ms ease-in,
          letter-spacing 150ms ease-in,
          clip-path 150ms ease-in,
          transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &--input {
        padding: f.rem(12) f.rem(2);
        border-bottom: 1px solid hsl(0, 0%, 20%);
        cursor: text;
      }
      &--errorMessage {
        font-size: f.rem(16);
        letter-spacing: 0.08em;
        transform: translateY(f.rem(-24));
        pointer-events: none;
      }
    }
  }
  & button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}
