@use '/src/sass/functions' as f;
@use '/src/portfolio/scss/portfolioStyles' as m;

.contactForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  background-color: m.$background-color-cream;
  color: m.$font-color-secondary;
  &__section {
    display: flex;
    &:nth-of-type(1) {
      grid-area: 1 / 1 / 2 / 3;
      height: 12vh;
    }
    &:nth-of-type(2) {
      grid-area: 2 / 1 / 3 / 2;
      justify-content: flex-end;
      align-items: flex-end;
      height: calc((100vh - 12vh) / 2);
    }
    &:nth-of-type(3) {
      grid-area: 3 / 1 / 4 / 2;
      justify-content: flex-end;
      height: calc((100vh - 12vh) / 2);
      overflow-y: scroll;
    }
    &:nth-of-type(4) {
      grid-area: 2 / 2 / 4 / 3;
      height: calc(100vh - 12vh);
      margin: 0 f.rem(48);
    }
    & h2 {
      display: none;
    }
  }
}

.contact__introduction {
  width: clamp(45ch, 100%, 75ch);
  padding-bottom: f.rem(30);
  & h3 {
    font-size: clamp(f.rem(24), f.rem(36) + 1vw, f.rem(42));
    font-weight: 800;
    line-height: 135%;
  }
  & p {
    display: flex;
    flex-direction: column;
    font-size: f.rem(20);
    & span:nth-of-type(1) {
      padding-bottom: f.rem(12);
    }
  }
}

.contact__questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: clamp(45ch, 100%, 75ch);
  height: fit-content;
  overflow: scroll;
  scrollbar-width: none;
  will-change: height;
  transform-origin: top;
  &__services,
  &__nonServices,
  &__pricing,
  &__responseTime,
  &__provisions,
  &__inclusivityAccessibility,
  &__formErrors {
    width: 100%;
    padding: f.rem(12) f.rem(12);
    border-bottom: 1px solid m.$background-color-cream-complementary;
    height: auto;
    transition: height 360ms ease-in-out;
    &--question {
      display: flex;
      align-items: flex-end;
      height: auto;
      font-size: f.rem(18);
      & svg {
        font-size: f.rem(24);
      }
    }
    & p {
      height: auto;
      padding-bottom: f.rem(6);
      pointer-events: none;
    }
  }
  &__formErrors {
    border-bottom: 0px;
  }
  &__provisions p {
    display: flex;
    flex-direction: column;
    & span:nth-of-type(2) {
      width: fit-content;
      cursor: text;
      user-select: text;
    }
  }
}

.standardForm {
  display: contents;
  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(m.$portfolio-gap / 2);
    width: 100%;
    height: auto;
    &__container {
      position: relative;
      width: 100%;
      min-width: f.rem(320);
      height: auto;
      &--label,
      &--input {
        width: 100%;
        height: 100%;
        padding: f.rem(10) f.rem(18);
        white-space: nowrap;
      }
      &--label {
        position: absolute;
        pointer-events: none;
        font-size: f.rem(18);
        transition:
          color 150ms ease-in,
          font-size 150ms ease-in,
          letter-spacing 150ms ease-in,
          transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        &[data-status='active'] {
          color: m.$font-color-indicate-warning;
          font-size: f.rem(16);
          letter-spacing: 0.08em;
          transform: translateY(f.rem(4));
          transition:
            color 150ms ease-out,
            font-size 150ms ease-out,
            letter-spacing 150ms ease-out,
            transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      &--input {
        // background-color: m.$background-color-cream;
        border: 1px solid m.$background-color-cream-complementary;
      }
      &--errorMessage {
        padding: 0 0 0 f.rem(12);
        color: m.$font-color-indicate-warning;
      }
    }
  }
}

#errorMessageFAQ {
  color: m.$font-color-secondary;
  & li details {
    pointer-events: all;
  }
  & li ul {
    display: flex;
    flex-direction: column;
    & li:first-child {
      padding-top: f.rem(3);
    }
    & li:last-child {
      padding-bottom: f.rem(12);
    }
  }
}
