@use '../../../sass/util/functions' as f;
@use '../../portfolioStyles' as m;

.portHeader {
  position: relative;
  display: flex;
  width: 100%;
  height: 9.26%;
  z-index: 10;
  padding: m.$viewportMarginTopBottom 8.33% 0 8.33%;
}

.portHeader__index {
  display: flex;
  &__indicator {
    display: flex;
    align-items: center;
    & > * {
      display: grid;
      place-items: center;
      height: 100%;
    }
    & svg {
      margin: f.rem(4) 0 0 f.rem(6);
    }
  }
}

.portHeader__menu {
  display: flex;
  justify-content: flex-end;
  &__nav {
    display: flex;
    align-items: center;
    gap: f.rem(18);
  }
}
