@use '../../sass/functions' as f;

:root {
  --bodyBackground: hsl(0, 0%, 96%);
  --elemBackgroundPrimary: hsl(0, 0%, 100%);
  --elemBackgroundSecondary: hsl(0, 0%, 20%);
  --elemBackgroundPrimaryOffset: hsl(0, 0%, 91%);
  --gradientMono: linear-gradient(145deg, hsl(0, 0%, 100%), hsl(0, 0%, 94%));
  --gradientColored: linear-gradient(145deg, hsl(11, 52%, 96%), hsl(0, 0%, 86%));
  --ecoBtnShadow: -2px -3px 1px hsla(0, 0%, 100%, 0.4), 2px 3px 4px hsl(0, 0%, 78%);
  --shadowRefined: -2px -3px 3px hsl(0, 0%, 100%), 2px 3px 3px hsl(0, 0%, 65%);
  // --shadowSoft: 0.3rem 0.3rem 0.6rem hsl(223, 10%, 71%), -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
  --shadowSoft: 0.3rem 0.3rem 0.6rem hsl(0, 0%, 80.8%), -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
  --borderChunky: 0.13rem solid hsl(0, 0%, 94%);
  --fontPrimary: hsl(0, 0%, 20%);
  --fontSecondary: hsl(0, 0%, 100%);
  --fontSecondaryOffset: hsl(0, 7%, 76%);
  --fontAccent: #ff5900;
}

.highlight {
  color: var(--fontAccent);
}

@mixin ecoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: f.rem(3);
  max-height: f.rem(45);
  padding: f.rem(10) f.rem(14);
  border-radius: f.rem(6);
  cursor: pointer;
  font-size: f.rem(12);
  font-weight: 600;
  letter-spacing: f.rem(0.7);
  text-transform: uppercase;
  white-space: nowrap;
}
@mixin ecoBtnDark {
  background-color: var(--elemBackgroundSecondary);
  color: var(--fontSecondary);
}
@mixin ecoBtnLight {
  background-color: var(--elemBackgroundPrimary);
  color: var(--fontPrimary);
}

@mixin productPhoto {
  background: hsl(0, 0%, 95%);
  background-image: -webkit-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: -moz-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: -o-radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
  background-image: radial-gradient(top, circle cover, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 86%));
}
@mixin productPhotoHover {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-top-left-radius: f.rem(16);
    border-top-right-radius: f.rem(16);
    opacity: 0;
    background: hsl(0, 0%, 95%);
    background-image: -webkit-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: -moz-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: -o-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    transition: opacity 0.55s;
  }
  &:hover::before {
    opacity: 1;
  }
  &:hover {
    transform: scale(1.2);
  }
}
