@use '../util/functions' as u;

/* PORTFOLIO */
@mixin portElement {
  outline: var(--insetBorder);
  box-shadow: var(--boxShadow);
}
@mixin portElementColor {
  background: var(--elementBg);
  outline: var(--insetBorder);
  box-shadow: var(--boxShadow);
}
@mixin portBtn {
  outline: var(--border);
  border-radius: u.rem(8);
  box-shadow: var(--skillBtnShadow);
}
@mixin portBtnActive {
  outline: var(--insetBorder);
  box-shadow: var(--insetBoxShadow);
}
@mixin gradientText {
  color: transparent;
  background: var(--highlight);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin formField {
  border-radius: u.rem(8);
  background-color: hsl(197, 100%, 99%);
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

/* ECOMMERCE */
@mixin productPhoto {
  background: hsl(0, 0%, 95%);
  background-image: -webkit-radial-gradient(top, circle cover, hsl(0, 3%, 95%) 0%, hsl(0, 0%, 90%));
  background-image: -moz-radial-gradient(top, circle cover, hsl(0, 3%, 95%) 0%, hsl(0, 0%, 90%));
  background-image: -o-radial-gradient(top, circle cover, hsl(0, 3%, 95%) 0%, hsl(0, 0%, 90%));
  background-image: radial-gradient(top, circle cover, hsl(0, 3%, 100%) 0%, hsl(0, 0%, 90%));
}
@mixin productPhotoHover {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-top-left-radius: u.rem(16);
    border-top-right-radius: u.rem(16);
    opacity: 0;
    background: hsl(0, 0%, 95%);
    background-image: -webkit-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: -moz-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: -o-radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    background-image: radial-gradient(top, circle cover, hsl(0, 0%, 97%) 0%, hsl(0, 0%, 75%));
    transition: opacity 0.55s;
  }
  &:hover::before {
    opacity: 1;
  }
  &:hover {
    transform: scale(1.2);
  }
}
@mixin ecommerceBtn {
  padding: u.rem(10) u.rem(13);
  // border: 1px solid hsl(0, 0%, 20%);
  border-radius: u.rem(5);
  white-space: nowrap;
  background: hsl(0, 0%, 20%);
  color: white;
  cursor: pointer;
}
@mixin photoFilters {
  filter: brightness(108%) contrast(103%) drop-shadow(0.25rem 0.2rem 1rem hsl(0, 0%, 97%));
}
@mixin BtnShadow {
  box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1), -4px -4px 5px 0px rgba(255, 255, 255, 1), 7px 7px 20px 0px rgba(0, 0, 0, 0.4),
    4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
