:root {
  --highlight: hsl(39, 49%, 67%);
  --gradientHighlight: linear-gradient(to right, hsl(39, 49%, 67%), hsl(39, 45%, 57%));
  --boxShadow: -2px -3px 3px hsl(0, 0%, 100%), 2px 3px 3px hsl(0, 0%, 65%);
  /* ECOMMERCE */
  --eLightBg: linear-gradient(145deg, hsl(11, 52%, 96%), hsl(0, 0%, 86%));
  --eDarkBg: linear-gradient(145deg, hsla(0, 0%, 0%, 0.801), hsla(0, 0%, 0%, 0.851));
}

[data-theme='neumorphicLight'] {
  //TEXT
  --textPrimary: hsl(0, 0%, 100%);
  --textSecondary: hsl(0, 0%, 16%);
  --textTransparent: hsl(0, 0%, 86%);
  --textShadow: 2px 2px 5px hsl(0, 0%, 100%);
  //BACKGROUNDS
  --elementBg: linear-gradient(145deg, hsl(0, 0%, 92%), hsl(214, 44%, 93%));
  //BOX MODEL
  --border: 0.13rem solid hsl(0, 0%, 94%);
  --insetBorder: 0.2rem solid hsl(214, 44%, 93%);
  //SHADOWS
  --boxShadow: -2px -3px 3px 1px hsl(0, 0%, 100%), 2px 3px 3px 1px hsl(0, 0%, 82%);
  --insetBoxShadow: inset 0.1rem 0.1rem 0.3rem hsl(226, 9%, 71%), inset 0.2rem 0.2rem 0.5rem hsl(225, 39%, 85%), inset -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
  --btnBoxShadow: -2px -3px 1px hsla(0, 0%, 100%, 0.4), 2px 3px 4px hsl(0, 0%, 78%);
  --skillBtnShadow: 0.3rem 0.3rem 0.6rem hsl(223, 10%, 71%), -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
  //FONTAWESOME ICONS
  --faColor: invert(11%) sepia(4%) saturate(76%) hue-rotate(315deg) brightness(97%) contrast(82%);
  --iconBg: white;
  --iconBoxShadow: -2px -3px 1px hsla(0, 0%, 100%, 0.4), 2px 3px 4px hsl(0, 0%, 78%);
}

[data-theme='neumorphicDark'] {
  //TEXT
  --textPrimary: hsl(0, 0%, 92%);
  --textSecondary: hsl(225, 4%, 16%);
  --textShadow: 2px 2px 5px hsl(225, 4%, 25%);
  //BACKGROUNDS
  --elementBg: linear-gradient(145deg, hsl(216, 4%, 20%), hsl(225, 4%, 20%));
  //BOX MODEL
  --border: 0.13rem solid hsl(220, 4%, 20%);
  --insetBorder: 0.2rem solid hsl(216, 4%, 20%);
  //SHADOWS
  --boxShadow: -2px -3px 3px 1px hsl(206, 5%, 27%), 2px 3px 3px 1px hsl(225, 5%, 16%);
  --insetBoxShadow: inset 0.1rem 0.1rem 0.3rem hsl(226, 9%, 71%), inset 0.2rem 0.2rem 0.5rem hsl(225, 39%, 85%), inset -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
  --btnBoxShadow: -2px -3px 1px hsl(180, 5%, 30%), 2px 3px 4px hsl(216, 4%, 20%);
  --skillBtnShadow: 0.3rem 0.3rem 0.6rem hsl(0, 0%, 15%), -0.2rem -0.2rem 0.5rem hsl(0, 0%, 20%);
  //FONTAWESOME ICONS
  --faColor: hsl(0, 0%, 85%);
  --iconBg: #2b2b2b;
  --iconBoxShadow: -2px -3px 1px hsla(0, 0%, 100%, 0.4), 2px 3px 4px hsl(0, 0%, 78%);
}
