@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdDetails {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: var(--fd-gap);
  height: 50svh;
  padding: calc(var(--fd-padding-generic) * 1.5) 0 0 var(--fd-padding-generic);
  pointer-events: none;
  &__apiRef {
    & a {
      pointer-events: all;
      padding-bottom: calc(var(--fd-gap) * 1.5);
      & svg {
        width: 135px;
      }
    }
  }
  &__article {
    & > * {
      pointer-events: all;
      user-select: text;
      cursor: text;
    }
    &__header {
      & h2 {
        width: fit-content;
        @include m.fdFontXXL;
        text-shadow: var(--fd-font-shadow);
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    & p {
      max-width: 57ch;
      @include m.fdFontM;
      text-shadow: var(--fd-font-shadow);
    }
  }
}
