@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdDetails {
  position: fixed;
  top: calc(var(--fd-padding-generic) * 1.5);
  left: var(--fd-padding-generic);
  z-index: 3;
  pointer-events: none;
  &__article {
    &__header {
      opacity: 0;
      transform: translateY(-10%);
      transition:
        opacity 0.5s ease,
        transform 0.5s ease;
      &[data-anim='fade-in'] {
        opacity: 1;
        transform: translateY(0);
      }
      & svg {
        width: 135px;
        padding-bottom: var(--fd-gap);
      }
      &__hgroup {
        & h2 {
          @include m.fdFontXXL;
          text-shadow: var(--fd-font-shadow);
          text-transform: uppercase;
          white-space: nowrap;
        }
        & p {
          max-width: 57ch;
          @include m.fdFontM;
          font-family: 'Plus Jakarta Sans';
          text-shadow: var(--fd-font-shadow);
        }
      }
    }
  }
}
