@use '../../../sass/functions' as f;
@use '../../scss/portfolioStyles' as m;

.portfolio {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100svh;
  background-color: m.$background-color-primary;
  overflow: hidden;
  color: m.$font-color-primary;
  font:
    normal normal 500 1.1rem / 1.25em 'Helvetica',
    'PT Sans',
    sans-serif;
  letter-spacing: 0.04rem;
  & button,
  & a,
  & span,
  & h2 {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
  }
}

.projectHub {
  grid-area: 1 / 1 / 2 / 2;
}
.projectDetails {
  grid-area: 2 / 1 / 3 / 2;
}
.contactForm {
  grid-area: 1 / 2 / 3 / 3;
}

.projectHub {
  width: 100vw;
  height: 100svh;
}

.projectHub {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  & h2 {
    display: none;
  }
}
