@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdMenu {
  position: relative;
  z-index: 6;
  display: flex;
  width: auto;
  height: 100%;
  overflow: clip;
  background-color: rgba(0, 0, 0, 1);
  // &[data-modal='open'] {
  // &::before {
  //   content: '';
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100svw;
  //   height: 100%;
  //   background: linear-gradient(to right, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.7) 100%);
  // }
  // }
  & > * {
    position: relative;
  }
  &__toolbar {
    display: flex;
    padding: var(--fd-padding-generic) calc((var(--fd-padding-generic) / 3.5)) calc(var(--fd-padding-generic) + var(--fd-padding-generic) / 2)
      calc((var(--fd-padding-generic) / 3.5));
    &__ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--fd-gap);
      height: 50%;
      &__li {
        &--button {
          display: flex;
          justify-content: center;
          align-items: center;
          pointer-events: all;
          &--icon {
            & svg {
              color: white;
              width: 2em;
              height: 2em;
            }
          }
          &--key {
            @include m.fdFontL;
            color: white;
          }
        }
      }
    }
  }
}

.fdMenuGenres {
  display: flex;
  align-items: center;
  gap: var(--fd-gap);
  height: 100svh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition: transform 280ms ease-in-out;
  transform-origin: left;
  &[data-menu='closed'] {
    width: 0;
    transform: scaleX(0);
  }
  &[data-menu='open'] {
    transform: scaleX(1);
  }
  &__ul {
    position: relative;
    display: table;
    padding: calc(var(--fd-padding-generic) / 2) calc(var(--fd-gap) * 2);
    overflow-x: clip;
    overflow-y: scroll;
    scrollbar-width: none;
    &:hover .fdMenuGenres__ul__li--button {
      opacity: 0.3;
    }
    &:hover .fdMenuGenres__ul__li--button:hover {
      opacity: 1;
    }
    &__li {
      display: block;
      width: 100%;
      &--button {
        width: 100%;
        @include m.fdFontL;
        font-size: var(--fd-font-size-xl);
        text-transform: uppercase;
        text-shadow: var(--fd-font-shadow);
        text-align: start;
        white-space: nowrap;
        transition: opacity 280ms ease;
      }
    }
  }
}
