@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdMenu {
  position: fixed;
  z-index: 9;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: clip;
  &[data-modal='closed'] {
    pointer-events: none;
    &::before {
      width: 0%;
      pointer-events: none;
    }
    .fdMenu__menu {
      opacity: 0;
    }
  }
  &[data-modal='open'] {
    z-index: 6;
    &::before {
      width: 100%;
    }
    .fdMenu__menu {
      opacity: 1;
    }
  }
  &__toolbar {
    position: relative;
    z-index: 8;
    display: flex;
    padding: var(--fd-padding-generic) calc((var(--fd-padding-generic) / 3.5)) calc(var(--fd-padding-generic) + var(--fd-padding-generic) / 2)
      calc((var(--fd-padding-generic) / 3.5));
    &__ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--fd-gap);
      height: 50%;
      &__li {
        &--button {
          display: flex;
          justify-content: center;
          align-items: center;
          pointer-events: all;
          &--icon {
            & svg {
              color: white;
              width: 2em;
              height: 2em;
            }
          }
          &--key {
            @include m.fdFontL;
            color: white;
          }
        }
      }
    }
  }
  &__menu {
    position: relative;
    width: inherit;
    height: inherit;
    &::before {
      content: '';
      z-index: 5;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.7) 100%);
    }
    & > * {
      position: relative;
      height: 100%;
      padding: var(--fd-padding-generic);
      &[data-menu='open'] {
        display: flex;
      }
      &[data-menu='closed'] {
        display: none;
      }
    }
  }
}

.fdMenuGenres {
  gap: var(--fd-gap);
  padding: 0;
  &__container {
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    width: max-content;
    height: 100svh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &--heading {
      display: none;
    }
    &__nav {
      width: fit-content;
      margin: calc(var(--fd-padding-generic) / 2) 0;
      &__ul {
        display: table;
        overflow-y: scroll;
        scrollbar-width: none;
        &:hover .fdMenuGenres__container__nav__ul__li--button {
          opacity: 0.3;
        }
        &:hover .fdMenuGenres__container__nav__ul__li--button:hover {
          opacity: 1;
        }
        &__li {
          display: flex;
          padding: 0 calc(var(--fd-gap) * 2);
          &--button {
            @include m.fdFontL;
            font-size: var(--fd-font-size-xl);
            text-transform: uppercase;
            text-shadow: var(--fd-font-shadow);
            white-space: nowrap;
            transition: opacity 280ms ease;
          }
        }
      }
    }
  }
}
