@mixin fdFontXXL {
  font-family: 'Satoshi-Bold';
  font-size: var(--fd-font-size-l);
  line-height: normal;
  letter-spacing: 0.03em;
  color: white;
}

@mixin fdFontXXL {
  font-family: 'Satoshi-Black';
  font-size: var(--fd-font-size-xxl);
  line-height: normal;
  letter-spacing: 0.03em;
  color: white;
}

@mixin fdFontXL {
  font-family: 'Satoshi-Bold';
  font-size: var(--fd-font-size-xl);
  line-height: normal;
  letter-spacing: 0.03em;
  color: white;
}

@mixin fdFontL {
  font-family: 'Satoshi-Medium';
  font-size: var(--fd-font-size-l);
  line-height: normal;
  letter-spacing: 0.03em;
  color: white;
}

@mixin fdFontM {
  font-family: 'Satoshi-Medium';
  font-size: var(--fd-font-size-m);
  line-height: normal;
  letter-spacing: 0.03em;
  color: white;
}

@mixin fdFontS {
  font-family: 'Satoshi-Regular';
  font-size: var(--fd-font-size-s);
  line-height: normal;
  letter-spacing: 0.03em;
  color: white;
}

@mixin scrollSnappingXAxis {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scroll-padding: 0 0;
}
@mixin scrollSnappingYAxis {
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-padding: 0 0;
}
