@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

.filmDatabase {
  position: relative;
  height: 100svh;
  background-color: var(--fd-backgroundColor-primary);
  @include m.fdFontM;
}

:root {
  // Carousel controller
  --fd-carousel-items-per-page: 7;
  --fd-flat-grid-items-per-page: 6;

  // Font sizes
  --fd-font-size-xxl: clamp(1.875rem, 3vw, 2.25rem); /* 30px to 36px */
  --fd-font-size-xl: clamp(1.5rem, 2.5vw, 1.875rem); /* 24px to 30px */
  --fd-font-size-l: clamp(1.125rem, 2vw, 1.5rem); /* 18px to 24px */
  --fd-font-size-m: clamp(1rem, 1.5vw, 1.125rem); /* 16px to 18px */
  --fd-font-size-s: clamp(0.875rem, 1vw, 1rem); /* 14px to 16px */

  // Font colors
  --fd-font-color-primary: hsl(0, 0%, 100%);

  // Background colors
  --fd-backgroundColor-primary: hsl(217, 12%, 13%);
  --fd-backgroundColor-fallback: hsl(240, 11%, 2%);

  // Box model
  --fd-padding-generic: 7rem;
  --fd-padding-wrapper: 0 0 var(--fd-padding-generic) 0;
  --fd-padding-innerWrapper: 0 var(--fd-padding-generic);

  // Media posters
  --fd-gap-mediaPoster: 22px;
  --fd-borderRadius-mediaPoster: 9.6px;
  // Media posters: Informational Details
  --fd-gap-informationalDetails: calc(var(--fd-gap-mediaPoster) / 2.5);
}

/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2024 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Regular
 * Satoshi Medium
 * Satoshi Bold
 * Satoshi Black
 *
*/

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: 'Satoshi-Black';
  src: url('../fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  font-variant-ligatures: common-ligatures;
}
