@use '../../../sass/util/functions' as f;
@use '../../portfolioStyles' as m;

.projectDetails__projectSummary__techStack {
  display: flex;
  flex-wrap: wrap;
  gap: f.rem(0.5);
  max-width: calc(f.rem(60) * 7 + f.rem(0.5) * 7);
  height: auto;
  padding: 0 0 m.$viewportMarginTopBottom 0;
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: f.rem(60);
    height: f.rem(60);
    pointer-events: none;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: f.rem(8);
      outline: 0.13rem solid hsl(216, 5.2%, 19%);
      background-color: hsl(0, 0%, 18%);
      box-shadow:
        0.3rem 0.3rem 0.6rem hsl(0, 0%, 0%),
        -0.2rem -0.2rem 0.5rem hsl(0, 0%, 20%);
      cursor: pointer;
      pointer-events: all;
      transition: all 0.45s ease-in-out;
      // &:hover {
      //   background-color: linear-gradient(145deg, #171717, #1c1c1c);
      //   outline: 0.2rem solid hsl(216, 4%, 20%);
      //   box-shadow:
      //     inset 0.1rem 0.1rem 0.3rem hsl(226, 9%, 71%),
      //     inset 0.2rem 0.2rem 0.5rem hsl(225, 39%, 85%),
      //     inset -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
      // }
      & picture,
      & picture img,
      & svg {
        max-width: 35px;
        max-height: 35px;
        pointer-events: none;
      }
      &[data-status='active'] {
        outline: 0.2rem solid hsl(216, 4%, 20%);
        box-shadow:
          inset 0.1rem 0.1rem 0.3rem hsl(226, 9%, 71%),
          inset 0.2rem 0.2rem 0.5rem hsl(225, 39%, 85%),
          inset -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
      }
    }
  }
}

#nodejs svg {
  max-width: 28px;
  max-height: 28px;
}
#npm svg {
  max-width: 35px;
  max-height: 35px;
}
#eslint svg {
  max-width: 36px;
  max-height: 36px;
}
#prettier svg {
  max-width: 26px;
  max-height: 26px;
}
#html svg {
  max-width: 33px;
  max-height: 33px;
}
#css svg {
  max-width: 31px;
  max-height: 31px;
}
#sass svg {
  max-width: 38px;
  max-height: 38px;
}
#javascript svg {
  max-width: 50px;
  max-height: 50px;
}
#typescript svg {
  max-width: 26px;
  max-height: 26px;
}
#vite svg {
  max-width: 26px;
  max-height: 26px;
}
#vitest svg {
  max-width: 34px;
  max-height: 34px;
}
#reacttestinglibrary picture img {
  max-width: 34px;
  max-height: 34px;
}
#react svg {
  max-width: 30px;
  max-height: 30px;
}
#reactrouterdom svg {
  max-width: 36px;
  max-height: 36px;
}

.techStackTooltip {
  position: absolute;
  display: none;
  background-color: black;
  color: white;
  font-size: f.rem(16);
  width: 100%;
  height: auto;
  &[data-status='active'] {
    display: block;
  }
}
