@use '../../sass/functions' as f;
@use '../scss/portfolioStyles' as m;

.portfolio {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  background-color: m.$background-color-primary;
  overflow: hidden;
  color: m.$font-color-primary;
  & button,
  & a,
  & span,
  & h2 {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
  }
  &__cursorTrail {
    position: absolute;
    width: 25px;
    aspect-ratio: 1/1;
    z-index: 20;
    border-radius: 50%;
    transform: translate(-40%, -40%);
    outline: 2px solid white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    &[data-status='button'] {
      width: 30px;
    }
    &[data-status='anchor'] {
      width: 20px;
    }
  }
  &:hover > &__cursorTrail {
    opacity: 1;
  }
}

.projectHub {
  grid-area: 1 / 1 / 2 / 2;
}
.projectDetails {
  grid-area: 2 / 1 / 3 / 2;
}
.contactForm {
  grid-area: 1 / 2 / 3 / 3;
}

.projectHub,
.projectDetails {
  width: 100vw;
  height: 100vh;
}

.projectHub {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  & h2 {
    display: none;
  }
}

@keyframes opacityFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.data-mount-animation-fade-in {
  animation: opacityFade 350ms ease-in;
}
