@use '/app/base/sass/util/functions' as f;
@use '/app/portfolio/scss/portfolioStyles' as s;

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
  &__heading {
    display: none;
  }
  &__form {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    @media (width >= 1250px) {
      &::-webkit-scrollbar {
        width: 14px;
        height: 14px;
      }
      &::-webkit-scrollbar-track {
        background: #141414;
      }
      &::-webkit-scrollbar-thumb {
        background: #f3f3f1;
      }
    }
    &__step {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.5rem;
      height: inherit;
      &:nth-child(1) {
        z-index: 1;
      }
      &:nth-child(2) {
        z-index: 2;
      }
      &:nth-child(3) {
        z-index: 3;
      }
      &:not(:last-of-type) {
        border-right: 1px solid hsl(240, 4%, 22%);
      }
      &[data-toggle='false'] {
        flex: 0 1 20svw;
        padding: calc(100svh / 5) calc(s.$box-model-viewport-x / 5);
        & > *:not(header) {
          opacity: 0;
        }
        & header h2,
        header nav button {
          opacity: 0;
        }
      }
      &[data-toggle='true'] {
        flex: 1 0 60svw;
        padding: calc(100svh / 5) calc(s.$box-model-viewport-x / 1.5);
      }
      &__header {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        & h2 {
          font-size: var(--font-size-4xl);
          line-height: 115%;
        }
        &__nav {
          position: absolute;
          margin-left: -3em;
          & button {
            padding: 4px 2px;
            & svg {
              width: 1.6rem;
              aspect-ratio: 1/1;
            }
          }
        }
        &__wrapper {
          display: flex;
          align-items: center;
          gap: 6px;
          & svg {
            width: 1.25rem;
            aspect-ratio: 1/1;
            color: hsl(44, 93%, 73%);
            &[data-success='true'] {
              color: hsl(134, 57%, 83%);
            }
          }
          & h3 {
          }
        }
      }
      &__ul {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
        &__li {
          position: relative;
          border-radius: 3px;
          overflow: clip;
          transition: background-color ease-in-out 140ms;
          font-size: var(--font-size-s);
          text-transform: capitalize;
          & > *:not(label) {
            padding: 12px 16px;
            border: 1px solid hsl(240, 4%, 22%);
            border-radius: inherit;
            font-size: inherit;
            text-transform: inherit;
          }
          // On <li> focus, change background-color, font color and label font color
          &:focus-within {
            background-color: #eaeffd;
            color: black;
            & label,
            & textarea#message {
              color: black !important;
            }
          }
          // On <input> focus, animate label
          &:has(input:focus) label,
          &:has(input:not(:focus):not(:placeholder-shown)) label {
            transform: translateY(calc((12px * 2) * 1.5) * -1); // Reflects height of input: padding t + padding b
            opacity: 0;
            transition:
              transform ease-in-out 65ms,
              opacity ease-in-out 65ms;
            color: black;
          }
          // All li elements except <label> and <textarea>
          & > *:not(label):not([type='textarea']) {
            width: 100%;
            height: calc((6px * 2 + 16px) * 2.25) !important; // (Padding height * 2 + font size) * 2
            white-space: nowrap;
          }
          & label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px; // Matches padding of <li> elements
            pointer-events: none;
          }
          & select {
            background-color: inherit;
            &:focus {
              outline: unset;
            }
          }
          // Prevent labels within a <textarea> from absolutely positioning
          &:has(textarea) label {
            position: relative;
          }
          & textarea {
            height: 100% !important;
            background-color: inherit;
            white-space: normal;
          }
        }
      }
      &__stepper {
        display: flex;
        width: 100%;
        padding-top: 1.5rem;
        &__section {
          flex: 1 1 50%;
          display: flex;
          align-items: center;
          &:nth-of-type(1) {
            justify-content: flex-start;
          }
          &:nth-of-type(2) {
            justify-content: flex-end;
          }
          &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column-gap: 0.75rem;
            grid-row-gap: 1rem;
            padding: calc(0.625rem * 1.5) calc(0.625rem * 2);
            border: 1px solid hsl(240, 4%, 22%);
            border-radius: 2.625rem;
            box-shadow: 0px 3px 6px rgb(0 0 0);
            font-size: var(--font-size-s);
            font-weight: 600;
            text-transform: capitalize;
            &[data-submit='false'] {
              flex: 0 1 20svw;
            }
            &[data-submit='true'] {
              flex: 1 0 60svw;
            }
            & svg {
              width: 1.6rem;
              aspect-ratio: 1/1;
              margin-bottom: -2px;
            }
          }
        }
      }
    }
  }
}
