@use '/app/base/sass/util/functions' as f;
@use '/app/portfolio/scss/portfolioStyles' as s;

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
  &__heading {
    display: none;
  }
  &__form {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    padding: calc(100svh / 4.5) s.$box-model-viewport-x calc(100svh / 4.5) s.$box-model-viewport-x;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }
    &::-webkit-scrollbar-track {
      background: #141414;
    }
    &::-webkit-scrollbar-thumb {
      background: #f3f3f1;
    }
    &__step {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: s.$portfolio-gap;
      height: 100%;
      padding: 0 calc(1.2em * 2);
      &:not(:last-of-type) {
        border-right: 1px solid hsl(240, 4%, 22%);
      }
      &[data-toggle='false'] {
        flex: 0 1 20svw;
        & > *:not(header) {
          opacity: 0;
        }
        & header h2 {
          opacity: 0;
        }
      }
      &[data-toggle='true'] {
        flex: 1 0 60svw;
      }
      & > * {
        display: block;
        width: 100%;
      }
      &__header {
        padding-bottom: 24px;
        margin-left: -1.8rem;
        & div,
        & nav {
          display: flex;
          align-items: center;
          gap: 4px;
        }
        & div,
        & nav {
          padding-bottom: 4px;
          & svg {
            width: 1.8rem;
            aspect-ratio: 1/1;
          }
        }
        & h3 {
          font-size: clamp(f.rem(16), f.rem(12) + 1vw, f.rem(18));
        }
        & h2 {
          padding-left: calc(1.8rem + 4px); // Add gap
          font-size: clamp(f.rem(24), f.rem(30) + 1vw, f.rem(36));
        }
      }
      &__ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: calc(24px * 1.25);
        width: 100%;
        @media (width <= 660px) {
          flex-direction: column;
        }
        &__li {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: 16px;
          overflow: clip;
          &:has(input:focus) label,
          &:has(input:not(:focus):not(:placeholder-shown)) label {
            // reflects height of input: padding t + padding b
            transform: translateY(calc((6px * 2) * 1.5) * -1);
            opacity: 0;
            transition:
              transform ease-in-out 65ms,
              opacity ease-in-out 65ms;
          }
          &:has(textarea) label {
            position: relative;
          }
          & input,
          & textarea {
            padding: 6px 4px;
          }
          & label {
            position: absolute;
            top: -8px;
            left: 6px;
            transform: translateY(14px);
            pointer-events: none;
            text-transform: capitalize;
          }
          & input {
            width: 100%;
            height: calc((6px * 2 + 16px) * 1.5) !important; // (padding h * 2 + font size) * 1.5
            border: 1px solid hsl(240, 4%, 22%);
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            white-space: nowrap;
          }
          & input:not([type='textarea']) {
            height: calc(1.125rem + 6px); // Matches font-size + padding
          }
          & textarea {
            width: 100%;
            min-height: 2.25rem;
            border: 1px solid #868686;
            border-radius: 3px;
            background-color: transparent;
            white-space: wrap;
          }
        }
      }
      &__button {
        display: block;
        padding: 0.5rem 0rem;
        margin-top: calc(24px * 1.5);
        border-radius: 6px;
        background-color: hsl(165, 60%, 45%);
        box-shadow: 0px 3px 6px rgb(0 0 0);
        font-weight: 600;
        text-transform: capitalize;
        &[data-submit='false'] {
          flex: 0 1 20svw;
        }
        &[data-submit='true'] {
          flex: 1 0 60svw;
        }
      }
    }
  }
}

// .contact {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   width: 100svw;
//   height: 100svh;
//   @media (width <= 1480px) {
//     height: auto;
//   }
//   &__nav {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     align-items: center;
//     width: 100svw;
//     height: 8rem;
//     padding: 0 s.$box-model-viewport-x;
//   }
//   &__container {
//     display: flex;
//     flex-direction: column;
//     gap: 64px;
//     height: 90%;
//     min-width: 65%;
//     aspect-ratio: 4/3;
//     padding: 8rem s.$box-model-viewport-x 8rem s.$box-model-viewport-x;
//     background: radial-gradient(
//       circle at top left,
//       hsl(240, 4%, 10%) 0%,
//       hsl(250, 20%, 15%) 40%,
//       hsl(200, 40%, 20%) 100%
//     );
//     box-shadow: 0px -20px 15px -3px hsl(240, 4%, 8%);
//     overflow-y: scroll;
//     scrollbar-width: none;
//     @media (width <= 1480px) {
//       width: 100%;
//       height: fit-content;
//       aspect-ratio: unset;
//       padding: 0 s.$box-model-viewport-x calc(s.$box-model-viewport-x * 2) s.$box-model-viewport-x;
//       background: none;
//     }
//     &[data-submission-invalid='true'] {
//       -webkit-animation: shake-quirky 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
//       animation: shake-quirky 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
//     }
//     & article {
//       & h2,
//       p {
//         width: clamp(20ch, 100%, 65ch);
//       }
//       & h2 {
//         font-size: clamp(1.5rem, 2.5vw, 1.875rem);
//         font-weight: 600;
//         line-height: 125%;
//         white-space: nowrap;
//       }
//       & p {
//         font-size: clamp(1.125rem, 2vw, 1.5rem);
//         line-height: 125%;
//       }
//     }
//     & form {
//       display: flex;
//       flex-direction: column;
//       margin-top: 14px;
//       & ul {

//         & li {

//         }
//       }

//     }
//     &--return {
//       width: fit-content;
//       @media (width <= 1480px) {
//         display: none;
//       }
//     }
//   }
// }
