@use '../../scss/filmDatabaseStyles' as s;
@use '../../../sass/functions' as f;

.FDMediaGrid {
  &__header {
    padding: var(--fd-flat-grid-font-header-padding);
    &--h2 {
      font-family: 'Satoshi-Bold';
      font-size: var(--fd-font-size-section-header);
      line-height: normal;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
  &__wrapper {
    position: relative;
    padding-bottom: var(--fd-border-box-padding-RL);
    overflow: hidden;
    &[data-status='carousel'] {
      /* Overlapping padding */
      display: grid;
      grid-template-areas: 'left right';
      grid-template-columns: repeat(2, var(--fd-border-box-padding-RL));
      grid-template-rows: 1fr;
      justify-content: space-between;
    }
    &__ul {
      gap: var(--fd-poster-gutter);
      &[data-status='carousel'] {
        display: flex;
        /* Scroll snapping */
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
        // scroll-snap-type: x proximity;
        scroll-padding: 0 0;
        /* Overlapping padding */
        grid-column: left-start/right-end;
        grid-row: 1;
        padding: 0 var(--fd-border-box-padding-RL);
      }
      &[data-status='grid'] {
        display: grid;
        grid-template-columns: repeat(
          auto-fit,
          calc((100% - (var(--fd-poster-gutter) * (var(--fd-flat-grid-items-per-page) - 1))) / var(--fd-flat-grid-items-per-page))
        );
        grid-auto-rows: 1fr;
        justify-content: center;
      }
      &__li {
        width: calc(
          ((100svw - var(--fd-border-box-padding-RL) * 2 - var(--fd-poster-gutter) * (var(--fd-carousel-items-per-page) - 0.5))) / var(--fd-carousel-items-per-page)
        );
        aspect-ratio: 2/3;
        /* Scroll snapping */
        scroll-snap-align: start;
        /* Width matching (required for dynamic logic) */
        &__article,
        &__article__graphic,
        &__article__graphic figure {
          width: inherit;
        }
        &__article {
          display: flex;
          flex-direction: column;
          row-gap: var(--fd-details-gap);
          &__graphic {
            position: relative;
            z-index: 1;
            & figure picture img,
            figure picture svg {
              transition: ease-in-out 0.22s filter;
              border-radius: var(--fd-poster-radius);
            }
            &__overlay {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              width: 100%;
              aspect-ratio: 2/3;
              opacity: 0;
              transition: ease-in-out 0.22s opacity;
              cursor: pointer;
              & button {
                position: absolute;
                height: fit-content;
                transform: translate(-50%, -50%);
              }
              &--play {
                inset: 50% 50%;
                width: 3.2em;
                pointer-events: none;
              }
              &--moreInfo {
                inset: 6% 94%;
                width: calc(3.2em / 3);
              }
              & button svg {
                color: white;
              }
            }
          }
          &__hgroup {
            overflow-wrap: break-word;
            &--h2 {
              font-family: 'Satoshi-Bold';
              font-size: clamp(16px, 100% + 1vw, 20px);
            }
            &--h3 {
              font-family: 'Satoshi-Medium';
              font-size: clamp(14px, 100% + 1vw, 16px);
            }
          }
        }
      }
    }
    &__navigation {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      pointer-events: none;
      opacity: 0;
      &--button {
        position: absolute;
        width: calc(((100% + var(--fd-border-box-padding-RL)) / var(--fd-carousel-items-per-page) - var(--fd-poster-gutter)) / 3.1);
        height: 100%;
        pointer-events: all;
        & svg {
          width: 2.8em;
          height: 2.8em;
          color: white;
        }
      }
      &--button:nth-of-type(1) {
        left: 0;
      }
      &--button:nth-of-type(2) {
        right: 0;
      }
    }
  }
}

// transform graphic filter on hover
.FDMediaGrid__wrapper__ul__li__article__graphic:hover figure picture img {
  filter: brightness(65%);
}

// transform graphic overlay on hover
.FDMediaGrid__wrapper__ul__li__article__graphic:hover .FDMediaGrid__wrapper__ul__li__article__graphic__overlay,
.FDMediaGrid__wrapper__ul__li__article__graphic__overlay:hover .FDMediaGrid__wrapper__ul__li__article__graphic {
  opacity: 1;
}

// navigation overlay on track hover
.FDMediaGrid__wrapper:hover .FDMediaGrid__wrapper__navigation {
  opacity: 1;
}
