@use '../../../scss/filmDatabaseStyles' as s;
@use '../../../../sass/functions' as f;

.tdSearchBar {
  position: relative;
  width: 34ch;
  padding: 0.625rem 1.5rem;
  overflow: hidden;
  cursor: text;
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 1.5rem;
    pointer-events: none;
  }
  &__input {
    width: inherit;
    white-space: nowrap;
  }
  &__return {
    &__ul {
      &__li {
      }
    }
  }
}
