@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdPerson {
  position: relative;
  display: flex;
  gap: calc(var(--fd-gap) * 2);
  padding: calc(var(--fd-padding-generic) / 2) calc(var(--fd-padding-generic) / 1.5) calc(var(--fd-padding-generic) / 4)
    calc(var(--fd-padding-generic) / 1.5);
  min-height: 100%;
  & svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    width: 2.6em;
    aspect-ratio: 1/1;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: calc(var(--fd-gap) * 2);
    &:nth-of-type(1) {
      flex: 1 1 var(--fd-collection-node-width);
      & picture {
        position: relative;
        display: block;
        width: var(--fd-collection-node-width);
        height: var(--fd-collection-node-height);
        border-radius: var(--fd-border-radius);
        overflow: clip;
        &[data-missing='true'] {
          align-content: center;
          & img {
            height: auto;
          }
        }
        & img {
          width: inherit;
          height: inherit;
          transition: transform ease-in-out 250ms;
          will-change: transform;
        }
      }
      & ul {
        display: flex;
        gap: var(--fd-gap);
        flex-direction: column;
        & li {
          display: flex;
          flex-direction: column;
          & h2 {
            @include m.fdFontXL;
          }
          & span:nth-of-type(1) {
            @include m.fdFontM;
          }
          & span:nth-of-type(2) {
            @include m.fdFontS;
          }
        }
      }
    }
    &:nth-of-type(2) {
      flex: 0 1 calc(100% - var(--fd-collection-node-width) - (var(--fd-gap) * 2));
      max-width: calc(100% - var(--fd-collection-node-width) - (var(--fd-gap) * 2));
      & div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        & span:nth-of-type(1) {
          @include m.fdFontXL;
        }
        & span:nth-of-type(2) {
          max-width: 57ch;
          @include m.fdFontM;
          text-shadow: var(--fd-font-shadow);
          transition: max-height 0.4s ease;
          &:hover {
            cursor: pointer;
          }
          &[data-clamp='true'] {
            display: -webkit-box;
            line-clamp: 4;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: clip;
          }
          &[data-clamp='false'] {
            display: block;
          }
        }
      }
      .genericCarousel {
        width: calc(100% + (var(--fd-padding-generic) / 1.5));
        & header {
          padding: 0 calc(var(--fd-carousel-node-width) / 4) var(--fd-gap) 0;
        }
        & li {
          width: calc(var(--fd-carousel-node-width) / 1.25 - var(--fd-gap));
          height: calc(var(--fd-carousel-node-height) / 1.25 - var(--fd-gap));
        }
        & li:nth-of-type(1) {
          margin-left: 0;
        }
      }
    }
    &__table {
      display: flex;
      flex-direction: column;
      gap: var(--fd-gap);
      width: 100%;
      padding-bottom: var(--fd-padding-generic);
      & thead tr th {
        @include m.fdFontXL;
      }
      &__tbody {
        display: flex;
        flex-direction: column;
        gap: var(--fd-gap);
        width: 100%;
        &__tr {
          display: block;
          width: 100%;
          &__td {
            display: block;
            width: 100%;
            &__table {
              display: block;
              width: 100%;
              padding: var(--fd-gap);
              border-radius: var(--fd-border-radius);
              background-color: hsl(0, 0%, 6%);
              &__tbody {
                display: flex;
                flex-direction: column;
                gap: calc(var(--fd-gap) / 4);
                &__tr {
                  display: flex;
                  gap: var(--fd-gap);
                  &__td {
                    display: flex;
                    @include m.fdFontM;
                    &:nth-of-type(1) {
                      @include m.fdFontM;
                      font-weight: 800;
                    }
                    &:nth-of-type(2) {
                      @include m.fdFontM;
                      white-space: wrap;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
