@use '/src/portfolio/scss/portfolioStyles' as s;

.contact {
  position: relative;
  display: block;
  width: 100svw;
  height: 100svh;
  padding: 16rem s.$box-model-viewport-x 8rem s.$box-model-viewport-x;
  @media (width <= 1480px) {
    height: auto;
    padding: calc(s.$box-model-viewport-x / 2) s.$box-model-viewport-x s.$box-model-viewport-x s.$box-model-viewport-x;
  }
  & form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: inherit;
    & h2 {
      display: none;
    }
    & ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: s.$portfolio-gap;
      width: fit-content;
      & li {
        display: flex;
        flex-direction: column;
        width: fit-content;
        & label {
        }
        & input {
        }
        & textarea {
        }
      }
    }
  }
}
