@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdiFrame {
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  height: inherit;
  &:hover .fdiFrame__controller {
    opacity: 1;
  }
  @media (min-width: 1440px) {
    justify-content: center;
  }
  @media (max-width: 1439px) {
    justify-content: flex-end;
    padding-right: 10%;
  }
}
