@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdiFrame {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: inherit;
  &:hover .fdiFrame__controller {
    opacity: 1;
  }
  @media (min-width: 1801px) {
    width: 50%;
  }
  @media (max-width: 1800px) {
    width: 100svw;
  }
}
