@use '../../../../sass/util/functions' as f;
@use '../../../scss/portfolioStyles' as m;

#techStackWrapper {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-areas:
    'techStackSelection techStackHero'
    'techStackSelection techStackHero'
    'techStackSelection techStackInformation';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  height: 100%;
  z-index: 15;
  padding: m.$viewportMarginTopBottom m.$viewportMarginRightLeft;
  // background: url('../../assets/webm/');
  background-color: rgba(26, 26, 26, 0.85);
  backdrop-filter: blur(12px);
  &[data-status='active'] {
    opacity: 1;
  }
  &[data-status='false'] {
    opacity: 0;
  }
}

.techStackSelection {
  grid-area: techStackSelection;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4.5), 1fr));
  gap: f.rem(5);
  width: 100%;
  height: 100%;
  padding: calc(m.$viewportMarginTopBottom * 2) calc(m.$viewportMarginRightLeft / 2) calc(m.$viewportMarginTopBottom * 2) 0;
  pointer-events: none;
  &[data-status='active'] {
    opacity: 1;
  }
  &[data-status='false'] {
    opacity: 0;
  }
  &:after {
    content: 'Familiar Technologies';
    position: absolute;
    top: 0;
    left: 0;
    padding-top: calc(m.$viewportMarginTopBottom * 1.2);
  }
  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: f.rem(6);
    background-color: rgba(255, 255, 255, 0.144);
    cursor: pointer;
    pointer-events: all;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &[data-status='active'] {
      border-style: inset;
      border: 0.2rem solid hsl(0, 0%, 50%);
      background-color: rgba(255, 255, 255, 0.2);
    }
    & picture,
    & picture img,
    & svg {
      max-width: 35px;
      max-height: 35px;
      pointer-events: none;
    }
  }
}

.techStackHero {
  grid-area: techStackHero;
  width: 100%;
  max-width: f.rem(450);
  height: 100%;
  padding: 0 0 0 calc(m.$viewportMarginRightLeft / 2);
  & picture {
    display: flex;
    justify-content: center;
    width: 100%;
    & svg {
      width: 100%;
      height: 100%;
      filter: drop-shadow(0 0 2.75rem #4f4f4f);
    }
  }
}

.techStackInformation {
  grid-area: techStackInformation;
  display: grid;
  place-items: start;
  width: 100%;
  height: 100%;
  padding: 0 0 0 calc(m.$viewportMarginRightLeft / 2);
  & article h2,
  & article p {
    width: clamp(45ch, 100%, 75ch);
  }
  & article h2 {
    font-weight: 800;
    letter-spacing: f.rem(1.2);
    line-height: 1.2rem;
    text-transform: uppercase;
    padding-bottom: f.rem(12);
  }
  & article p {
    font-weight: 400;
  }
}

#nodejs svg {
  max-width: 100px;
  max-height: 100px;
}
#npm svg {
  max-width: 100px;
  max-height: 100px;
}
#eslint svg {
  max-width: 100px;
  max-height: 100px;
}
#prettier svg {
  max-width: 100px;
  max-height: 100px;
}
#html svg {
  max-width: 100px;
  max-height: 100px;
}
#css svg {
  max-width: 100px;
  max-height: 100px;
}
#sass svg {
  max-width: 100px;
  max-height: 100px;
}
#javascript svg {
  max-width: 100px;
  max-height: 100px;
}
#typescript svg {
  max-width: 100px;
  max-height: 100px;
}
#vite svg {
  max-width: 100px;
  max-height: 100px;
}
#vitest svg {
  max-width: 100px;
  max-height: 100px;
}
#reacttestinglibrary svg {
  max-width: 100px;
  max-height: 100px;
}
#react svg {
  max-width: 100px;
  max-height: 100px;
}
#reactrouterdom svg {
  max-width: 100px;
  max-height: 100px;
}
#github svg {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
}

.techStackTooltip {
  position: absolute;
  display: none;
  background-color: black;
  color: white;
  font-size: f.rem(16);
  width: f.rem(400);
  height: auto;
  border-radius: f.rem(12);
  overflow: hidden;
  &[data-status='active'] {
    display: block;
  }
}
