@use '../../../../sass/util/functions' as f;
@use '../../../scss/portfolioStyles' as m;

#techStackWrapper {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-areas:
    'techStackSelection techStackHero'
    'techStackSelection techStackHero'
    'techStackSelection techStackInformation';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  z-index: 15;
  padding: m.$viewportMarginTopBottom m.$viewportMarginRightLeft;
  background-color: rgba(26, 26, 26, 0.8);
  box-shadow: inset 20px 20px 60px #000000;
  backdrop-filter: blur(12px);
  &[data-status='active'] {
    opacity: 1;
  }
  &[data-status='false'] {
    opacity: 0;
  }
}

.techStackSelection {
  grid-area: techStackSelection;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4.5), 1fr));
  gap: f.rem(5);
  width: 100%;
  height: 100%;
  padding: calc(m.$viewportMarginTopBottom * 2) calc(m.$viewportMarginRightLeft / 2);
  pointer-events: none;
  &[data-status='active'] {
    opacity: 1;
  }
  &[data-status='false'] {
    opacity: 0;
  }
  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: f.rem(6);
    background-color: rgba(255, 255, 255, 0.144);
    cursor: pointer;
    pointer-events: all;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &:hover svg {
      scale: 1.1;
      filter: drop-shadow(0 0 1rem rgba(24, 24, 24, 0.65));
      transition: all 0.25s ease-in;
    }
    &[data-status='active'] {
      // border: 0.2rem solid hsl(0, 0%, 50%);
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.1) 100%);
    }
    & picture,
    & svg {
      width: 100%;
      height: 100%;
      max-width: 100px;
      max-height: 100px;
      pointer-events: none;
      scale: 1;
      filter: drop-shadow(rgba(255, 255, 255, 0.26));
      transition: all 0.25s ease-out;
    }
  }
}

.techStackHero {
  grid-area: techStackHero;
  width: 100%;
  max-width: f.rem(450);
  height: 100%;
  padding: calc(m.$viewportMarginTopBottom * 2) 0 0 0;
  & picture {
    display: flex;
    justify-content: center;
    width: 100%;
    & svg {
      width: 100%;
      height: 100%;
      filter: drop-shadow(0 0 2.75rem #4f4f4f);
      filter: drop-shadow(0 0 2.75rem #000000);
    }
  }
}

.techStackInformation {
  grid-area: techStackInformation;
  width: 100%;
  height: 100%;
  padding: calc(m.$viewportMarginTopBottom * 2) calc(m.$viewportMarginRightLeft / 2);
  & article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  & article h2,
  & article p {
    height: auto;
  }
  & article h2 {
    font-weight: 800;
    letter-spacing: f.rem(1.2);
    line-height: 1.2rem;
    text-transform: uppercase;
    padding-bottom: f.rem(12);
  }
  & article p {
    font-weight: 400;
  }
}

.techStackTooltip {
  position: absolute;
  display: none;
  background-color: black;
  color: white;
  font-size: f.rem(16);
  width: f.rem(400);
  height: auto;
  border-radius: f.rem(12);
  overflow: hidden;
  &[data-status='active'] {
    display: block;
  }
}
