@use '/src/sass/functions' as f;
@use '/src/portfolio/scss/portfolioStyles' as s;

.portMobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  z-index: 20;
  padding: s.$box-model-viewport-x;
  background-color: s.$background-color-cream;
  overflow: clip;
  transform: translateY(-100%);
  transition: all 360ms cubic-bezier(1, 0, 0, 1);
  &[data-status='active'] {
    display: flex;
    transform: translateY(0%);
  }
  @media (width > 950px) {
    display: none;
  }
  & h2 {
    display: none;
  }
}

.mobileMenu__header {
}

.mobileMenu__menu {
}

.mobileMenu__foter {
}
