@use '../../scss/filmDatabaseStyles' as s;
@use '../../../sass/functions' as f;

.fdFlatGrid {
  &__header {
    padding: var(--fd-flat-grid-font-header-padding);
    &--h2 {
      font-size: var(--fd-font-size-section-header);
      line-height: normal;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      calc((100% - (var(--fd-poster-gutter) * (var(--fd-flat-grid-items-per-page) - 1))) / var(--fd-flat-grid-items-per-page))
    );
    grid-auto-rows: 1fr;
    justify-content: center;
    column-gap: var(--fd-poster-gutter);
    padding: var(--fd-border-box-section-padding);
    overflow: hidden;
    &__li {
      height: fit-content;
      &__article {
        display: flex;
        flex-direction: column;
        row-gap: var(--fd-details-gap);
        &__graphic {
          position: relative;
          & figure picture img,
          figure picture svg {
            transition: ease-in-out 0.22s brightness;
            border-radius: var(--fd-poster-radius);
          }
          &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            aspect-ratio: 2/3;
            opacity: 0;
            transition: ease-in-out 0.22s opacity;
            cursor: pointer;
            & button {
              position: absolute;
              height: fit-content;
              transform: translate(-50%, -50%);
            }
            &--play {
              inset: 50% 50%;
              width: 3.2em;
              pointer-events: none;
            }
            &--moreInfo {
              inset: 6% 94%;
              width: calc(3.2em / 3);
            }
            & button svg {
              color: white;
            }
          }
        }
        &__hgroup {
          @include s.fdPosterDetails;
        }
      }
    }
  }
}

// transform picture on hover
.fdFlatGrid__wrapper__li__article__graphic:hover figure picture img {
  filter: brightness(65%);
}

// transform graphic overlay on hover
.fdFlatGrid__wrapper__li__article:hover .fdFlatGrid__wrapper__li__article__graphic__overlay,
.fdFlatGrid__wrapper__li__article__graphic__overlay:hover .fdFlatGrid__wrapper__li__article {
  opacity: 1;
}

// Poster hover border radius removal
// .fdFlatGrid__wrapper__li:hover .fdFlatGrid__wrapper__li__article figure picture img {
//   border-radius: 0;
// }
// .fdFlatGrid__wrapper__li:hover .fdFlatGrid__wrapper__li__article figure picture svg {
//   border-radius: 0;
// }

// Hide poster details on hover
// .fdFlatGrid__wrapper__li:hover .fdFlatGrid__wrapper__li__article__hgroup {
//   opacity: 0;
// }
