@use '../../scss/filmDatabaseStyles' as s;
@use '../../../sass/functions' as f;

.fdFlatGrid {
  &__header {
    padding: var(--fd-flat-grid-font-header-padding);
    &--h2 {
      font-size: var(--fd-flat-grid-font-header);
      line-height: normal;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      calc((100% - (var(--fd-poster-gutter) * (var(--fd-flat-grid-items-per-page) - 1))) / var(--fd-flat-grid-items-per-page))
    );
    grid-auto-rows: 1fr;
    justify-content: center;
    column-gap: var(--fd-poster-gutter);
    padding: var(--fd-border-box-section-padding);
    overflow: hidden;
    &__li {
      display: flex;
      flex-direction: column;
      transform-origin: top;
      transition: ease-in-out 0.22s all;
      &__article {
        display: flex;
        flex-direction: column;
        row-gap: var(--fd-details-gap);
        & figure picture img,
        figure picture svg {
          transition: ease-in-out 0.22s all;
          border-radius: var(--fd-poster-radius);
        }
        &__hgroup {
          @include s.fdPosterDetails;
        }
      }
    }
  }
}

// Poster hover border radius removal
// .fdFlatGrid__wrapper__li:hover .fdFlatGrid__wrapper__li__article figure picture img {
//   border-radius: 0;
// }
// .fdFlatGrid__wrapper__li:hover .fdFlatGrid__wrapper__li__article figure picture svg {
//   border-radius: 0;
// }

// Hide poster details on hover
// .fdFlatGrid__wrapper__li:hover .fdFlatGrid__wrapper__li__article__hgroup {
//   opacity: 0;
// }
