@use '/src/sass/functions' as f;
@use '/src/portfolio/scss/portfolioStyles' as s;

.portMobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 30;
  background-color: s.$background-color-secondary;
  opacity: 1;
  pointer-events: all;
  &[data-status='false'] {
    opacity: 0;
    pointer-events: none;
  }
  &__nav {
    width: inherit;
    height: inherit;
    color: s.$font-color-secondary;
    padding: 0 8.333%;
    &__header,
    &__footer {
      display: flex;
      height: 120px;
      &__block {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        &:nth-of-type(2) {
          justify-content: flex-end;
        }
        & button,
        & a,
        & span {
          text-transform: uppercase;
          font-size: clamp(1rem, 100%, 1.5rem);
          font-weight: 500;
          letter-spacing: f.rem(1);
          line-height: 150%;
        }
      }
    }
    &__projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: inherit;
      height: calc(100% - 240px);
      padding: 0 17.5% 0 s.$box-model-viewport-x;
      &__li {
        text-align: center;
        width: fit-content;
        height: auto;
        max-height: f.rem(320);
        &--link,
        &--button {
          display: flex;
          gap: calc(s.$portfolio-gap / 2);
          & span {
            text-transform: uppercase;
            font-size: clamp(2.5rem, 100%, 4rem);
            font-weight: 600;
            letter-spacing: f.rem(-1);
            line-height: 150%;
            white-space: nowrap;
          }
          & span:nth-of-type(1) {
            font-size: calc(4rem / 3);
          }
        }
      }
    }
  }
}
