@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdCatalog {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  @include m.fdFontM;
  @media (min-width: 1750px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100svh;
    overflow: clip;
  }
  @media (max-width: 1749px) {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: scroll;
    overflow-x: clip;
  }
}
