@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.filmDatabase {
  position: relative;
  height: 100svh;
  overflow: clip;
}

.fdUserAccount,
.fdCatalog {
  @include m.grainPsuedo;
}

.fdCatalog {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100svh;
  background-color: rgba(0, 0, 0, 1);
  @include m.fdFontM;
  @media (min-width: 1052px) {
    overflow-y: clip;
  }
  @media (max-width: 1051px) {
    overflow-y: scroll;
    scrollbar-width: none;
  }
}
