.filmDatabase[data-layout-carousel='xxl'] {
  --fd-carousel-items-per-page: 7;
  --fd-carousel-node-width: calc(
    (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
  );
  --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
}

.filmDatabase[data-layout-carousel='xl'] {
  --fd-carousel-items-per-page: 6;
  --fd-carousel-node-width: calc(
    (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
  );
  --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
}

.filmDatabase[data-layout-carousel='l'] {
  --fd-carousel-items-per-page: 5;
  --fd-carousel-node-width: calc(
    (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
  );
  --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
}

.filmDatabase[data-layout-carousel='m'] {
  --fd-carousel-items-per-page: 4;
  --fd-carousel-node-width: calc(
    (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
  );
  --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
}

.filmDatabase[data-layout-carousel='s'] {
  --fd-carousel-items-per-page: 3;
  --fd-carousel-node-width: calc(
    (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
  );
  --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
}

.filmDatabase[data-layout-carousel='xs'] {
  --fd-carousel-items-per-page: 2;
  --fd-carousel-node-width: calc(
    (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
  );
  --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
}
