@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseStyles' as s;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

:root {
  // Font sizes
  --fd-font-size-xxl: clamp(1.875rem, 3vw, 2.25rem); /* 30px to 36px */
  --fd-font-size-xl: clamp(1.5rem, 2.5vw, 1.875rem); /* 24px to 30px */
  --fd-font-size-l: clamp(1.125rem, 2vw, 1.5rem); /* 18px to 24px */
  --fd-font-size-m: clamp(1rem, 1.5vw, 1.125rem); /* 16px to 18px */
  --fd-font-size-s: clamp(0.875rem, 1vw, 1rem); /* 14px to 16px */

  // Font shadows
  --fd-font-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

  // Box model
  --fd-padding-generic: clamp(1.5rem, 1rem + 5vw, 7rem);
  --fd-borderRadius: 9.6px;
  --fd-gap: 14px;
}

.filmDatabase {
  position: relative;
  display: block;
  height: 100svh;
  background-color: rgba(0, 0, 0, 1);
  overflow-y: clip;
  @include m.fdFontM;

  &[data-layout-carousel='xxl'] {
    --fd-carousel-items-per-page: 7;

    --fd-carousel-node-width: calc(
      (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
    );
    --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
  }

  &[data-layout-carousel='xl'] {
    --fd-carousel-items-per-page: 6;

    --fd-carousel-node-width: calc(
      (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
    );
    --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
  }

  &[data-layout-carousel='l'] {
    --fd-carousel-items-per-page: 5;

    --fd-carousel-node-width: calc(
      (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
    );
    --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
  }

  &[data-layout-carousel='m'] {
    --fd-carousel-items-per-page: 4;

    --fd-carousel-node-width: calc(
      (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
    );
    --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
  }

  &[data-layout-carousel='s'] {
    --fd-carousel-items-per-page: 3;

    --fd-carousel-node-width: calc(
      (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
    );
    --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
  }

  &[data-layout-carousel='xs'] {
    --fd-carousel-items-per-page: 2;

    --fd-carousel-node-width: calc(
      (100svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
    );
    --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
  }
}
