@use '/src/sass/functions' as f;
@use '/src/film-database/styles/scss/filmDatabaseStyles' as s;
@use '/src/film-database/styles/scss/filmDatabaseMixins' as m;

.filmDatabase {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 100svh;
  background-color: rgba(0, 0, 0, 1);
  @include m.fdFontM;
}
.fdMenu {
  grid-area: 1 / 1 / 3 / 2;
}
.fdDetails {
  grid-area: 1 / 2 / 2 / 3;
}
.fdiFrame {
  grid-area: 1 / 3 / 2 / 4;
}
.fdMedia {
  grid-area: 2 / 2 / 3 / 4;
}
