@use '../../sass/styles/mixins' as m;
@use '../../sass/util/functions' as f;

.sectionReset {
  max-width: fit-content;
  margin: f.rem(20) f.rem(10);
}
.browseProduct {
  max-width: f.rem(1600);
  margin: 0 auto;
}
