@use '/app/base/sass/util/functions' as f;
@use '/app/film-database/scss/fdMixins' as m;

.fdModal {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100svw;
  height: 100svh;
  padding: var(--fd-padding-generic) var(--fd-padding-generic) 0 var(--fd-padding-generic);
  background-color: rgba(0, 0, 0, 0.7);
  @media (max-width: 1580px) {
    padding: 0;
  }
  &__container {
    position: relative;
    display: block;
    width: 50svw;
    height: 100%;
    padding-bottom: 2em;
    border-top-right-radius: var(--fd-borderRadius);
    border-top-left-radius: var(--fd-borderRadius);
    overflow: clip;
    background-color: #181818;
    box-shadow: rgba(0, 0, 0, 1) 0px 3px 10px;
    &:has(.fdMovieModal) {
      border-top-right-radius: 0;
      overflow-x: clip;
      overflow-y: scroll;
      @media (min-width: 1580px) {
        &::-webkit-scrollbar {
          width: 14px;
          height: 14px;
        }
        &::-webkit-scrollbar-track {
          background: #141414;
        }
        &::-webkit-scrollbar-thumb {
          background: #f3f3f1;
        }
      }
    }
    @media (max-width: 1580px) {
      width: 100svw;
    }
  }
}

.fdMovieModal {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  .fdiFrame {
    position: relative;
    display: inline;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: clip;
    &__controller {
      position: absolute;
      bottom: 5.5%;
      left: 50%;
      transform: translateX(-50%);
    }
    &__player {
      position: relative;
      width: inherit;
      height: auto;
      aspect-ratio: 16/9;
      transform: scale(1);
      &::before,
      &::after {
        display: none;
      }
      &__iframe {
        top: 0;
      }
    }
  }

  .fdDetails {
    height: auto;
    padding: calc(var(--fd-padding-generic) - var(--fd-gap) * 2) calc(var(--fd-padding-generic) / 1.5) calc(var(--fd-padding-generic) / 2 - var(--fd-gap) * 2)
      calc(var(--fd-padding-generic) / 1.5);
    &__article {
      width: 100%;
      padding-bottom: calc(var(--fd-gap) * 2);
      border-bottom: 1px solid #4d4545;
    }
  }

  &__castCrew {
    .fdCarousel .fdCarousel__wrapper {
      &__ul__li {
        --fd-carousel-node-width: calc(
          (50svw - (2 * var(--fd-padding-generic)) - ((var(--fd-carousel-items-per-page) - 1) * var(--fd-gap))) / var(--fd-carousel-items-per-page)
        );
        --fd-carousel-node-height: calc(var(--fd-carousel-node-width) / 0.66667);
        :hover {
          cursor: auto;
        }
      }
      &__navigation {
        width: 50svw;
      }
    }
  }
}

.fdUserList {
  &__collections {
  }
  &__carousel {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: clip;
    text-align: center;
    & ul {
      position: absolute;
      bottom: 250px;
      left: calc(50% - 100px);
      width: var(--fd-carousel-node-width);
      height: var(--fd-carousel-node-height);
      transform-style: preserve-3d;
      transform: perspective(1000px);
      & li {
        position: absolute;
        inset: 0 0 0 0;
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(400px);
        border-radius: var(--fd-borderRadius);
        box-shadow:
          0 8px 10px rgba(0, 0, 0, 0.6),
          0 15px 15px rgba(0, 0, 0, 0.3);
        overflow: clip;
        // Hover event
        &:hover:not([data-vis='true']) button picture img {
          filter: brightness(80%) saturate(70%);
        }
        // Noise texture on active element
        &[data-vis='true'] button picture {
          &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 10;
            background-image: url(/app/film-database/assets/giphy/vhs-noise.gif);
            background-size: 480px;
            background-attachment: fixed;
            opacity: 0.02;
            pointer-events: none;
          }
        }
        // Remove image filter for active poster
        &[data-vis='true'] button picture img {
          filter: none;
        }
        // Inactive img elements filter
        &[data-vis='false'] button picture img {
          filter: brightness(35%) saturate(50%);
        }
        & button,
        picture,
        picture img {
          width: 100%;
          height: 100%;
        }
        & button picture img {
          transition: filter 85ms ease-in-out;
        }
      }
    }
  }
}
