@use '../../../../sass/util/functions' as f;

.portHeader {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  z-index: 10;
  padding: f.rem(50) f.rem(80);
  // padding: f.rem($viewportMarginTopBottom) f.rem($viewportMarginRightLeft);
}

.developer,
.aboutDeveloper {
  display: flex;
  align-items: center;
}

.developer {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  &__nameLoc {
    display: flex;
    flex-direction: column;
    & i {
      margin-right: f.rem(5);
    }
    & h1 {
      font-size: clamp(f.rem(14), f.rem(8) + 1vw, f.rem(20));
      font-weight: 600;
    }
    & h2 {
      font-size: clamp(f.rem(12), f.rem(8) + 1vw, f.rem(18));
      font-weight: 500;
    }
  }
}

.aboutDeveloper {
  grid-area: 1 / 2 / 2 / 3;
  justify-content: flex-end;
  & button {
    color: #fff;
  }
}

.aboutDialog {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: transparent;
  pointer-events: none;
  & dialog {
    position: absolute;
    top: 2.5%;
    right: 2%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: f.rem(10);
    width: 100%;
    max-width: 35rem;
    height: fit-content;
    z-index: 11;
    background-color: #f5f5f5;
    padding: f.rem(50) f.rem(50);
    border-radius: f.rem(32);
    pointer-events: all;
    visibility: hidden;
    &[data-activity='active'] {
      visibility: visible;
      transition: translate3d(-100%, 0, 0);
      transition: transform 250ms ease-in;
    }
    &[data-activity='disabled'] {
      transform: translateX(50%);
      transition: transform 250ms ease-out;
      transition-property: visibility;
      transition-delay: 250ms;
    }
    & form {
      max-height: 95vh;
      overflow-y: scroll;
    }
  }
}
