@use '../../../../sass/functions' as f;
@use '../../../scss/portfolioStyles' as m;

.portHeader {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 12%;
  z-index: 10;
  padding: 0 calc(m.$viewportMarginRightLeft * 2) 0 m.$viewportMarginRightLeft;
  &__index {
    display: flex;
    flex: 1 1 calc(100% / 2);
    align-items: center;
    &__location {
      display: flex;
      align-content: flex-start;
      width: f.rem(120);
      padding-right: m.$portfolioGap;
      white-space: nowrap;
    }
    &__slideNav ul {
      position: relative;
      display: flex;
      gap: m.$portfolioGap;
      padding: f.rem(1) 0 0 0;
      &:after {
        content: url(https://api.iconify.design/solar:alt-arrow-up-bold.svg?color=%23ffffff);
        position: absolute;
        left: f.rem(2.5);
        top: f.rem(24);
        display: block;
        transform: translateX(var(--afterPsuedoSelector));
        transition: transform 0.35s ease;
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 calc(100% / 2);
    &__buttons {
      display: flex;
      align-items: center;
      gap: m.$portfolioGap;
      height: 100%;
      pointer-events: none;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      transition: clip-path 0.65s cubic-bezier(0.7, 0, 0, 1);
      &[data-transform='true'] {
        pointer-events: all;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: clip-path 0.65s cubic-bezier(0.7, 0, 0, 1);
      }
      & button {
        color: #fff;
        font:
          500 100% / 1.25 'Manrope',
          sans-serif;
        font-size: clamp(f.rem(14), f.rem(10) + 1vw, f.rem(16));
        letter-spacing: f.rem(0.8);
        text-transform: capitalize;
      }
    }
    &__navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: f.rem(4);
      width: fit-content;
      height: 100%;
      padding: f.rem(0) 0 0 m.$portfolioGap;
      opacity: 1;
      pointer-events: all;
      &--line {
        width: 22px;
        height: 2px;
        background-color: hsl(0, 0%, 100%);
        transition: transform 0.65s cubic-bezier(0.7, 0, 0, 1);
        pointer-events: none;
        &:nth-of-type(1) {
          &[data-transform='true'] {
            transform: rotate(45deg) translate(0px, 8px);
          }
        }
        &:nth-of-type(2) {
          &[data-transform='true'] {
            transform: translate(min(0, -500px));
          }
        }
        &:nth-of-type(3) {
          &[data-transform='true'] {
            transform: rotate(-45deg) translate(0px, -8px);
          }
        }
      }
    }
  }
}
