@use '../../../sass/util/functions' as f;
@use '../../scss/portfolioStyles' as m;

.projectDetails__projectSummary__techStack {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: f.rem(6);
  width: 100%;
  height: auto;
  padding: m.$viewportMarginTopBottom 0;
  pointer-events: none;
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    pointer-events: none;
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 2/4;
      width: f.rem(100);
      border-radius: f.rem(8);
      background: linear-gradient(145deg, hsl(0, 0%, 10%), hsl(0, 0%, 18%));
      box-shadow:
        0.3rem 0.3rem 0.6rem hsl(0, 0%, 0%),
        -0.2rem -0.2rem 0.5rem hsl(0, 0%, 20%);
      cursor: pointer;
      pointer-events: all;
      transition: all 0.45s ease-in-out;
      // &:hover {
      // background-color: linear-gradient(145deg, #171717, #1c1c1c);
      // outline: 0.2rem solid hsl(216, 4%, 20%);
      //   box-shadow:
      //     inset 0.1rem 0.1rem 0.3rem hsl(226, 9%, 71%),
      //     inset 0.2rem 0.2rem 0.5rem hsl(225, 39%, 85%),
      //     inset -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
      // }
      & picture,
      & picture img,
      & svg {
        max-width: 35px;
        max-height: 35px;
        pointer-events: none;
      }
      &[data-status='active'] {
        outline: 0.2rem solid hsl(216, 4%, 20%);
        box-shadow:
          inset 0.1rem 0.1rem 0.3rem hsl(226, 9%, 71%),
          inset 0.2rem 0.2rem 0.5rem hsl(225, 39%, 85%),
          inset -0.2rem -0.2rem 0.5rem hsl(0, 0%, 100%);
      }
    }
  }
}

#nodejs svg {
  max-width: 32px;
  max-height: 32px;
}
#npm svg {
  max-width: 39px;
  max-height: 39px;
}
#eslint svg {
  max-width: 40px;
  max-height: 40px;
}
#prettier svg {
  max-width: 30px;
  max-height: 30px;
}
#html svg {
  max-width: 37px;
  max-height: 37px;
}
#css svg {
  max-width: 35px;
  max-height: 35px;
}
#sass svg {
  max-width: 42px;
  max-height: 42px;
}
#javascript svg {
  max-width: 54px;
  max-height: 54px;
}
#typescript svg {
  max-width: 30px;
  max-height: 30px;
}
#vite svg {
  max-width: 30px;
  max-height: 30px;
}
#vitest svg {
  max-width: 38px;
  max-height: 38px;
}
#reacttestinglibrary picture img {
  max-width: 38px;
  max-height: 38px;
}
#react svg {
  max-width: 34px;
  max-height: 34px;
}
#reactrouterdom svg {
  max-width: 40px;
  max-height: 40px;
}

.techStackTooltip {
  position: absolute;
  display: none;
  background-color: black;
  color: white;
  font-size: f.rem(16);
  width: f.rem(400);
  height: auto;
  border-radius: f.rem(12);
  overflow: hidden;
  &[data-status='active'] {
    display: block;
  }
}
