@use '/src/sass/functions' as f;
@use '/src/film-database/scss/fdMixins' as m;

.fdCatalog {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100svh;
  background-color: rgba(0, 0, 0, 1);
  overflow: clip;
  @include m.fdFontM;
}
